<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fixedAssetDepreciation">
            <h2><span>Fixed Asset Depreciation</span> {{ fixedAssetDepreciation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Asset Number</span></dt>
                <dd>
                    <span>{{ fixedAssetDepreciation.assetNumber }}</span>
                </dd>
                <dt><span>Service Outlet Code</span></dt>
                <dd>
                    <span>{{ fixedAssetDepreciation.serviceOutletCode }}</span>
                </dd>
                <dt><span>Asset Tag</span></dt>
                <dd>
                    <span>{{ fixedAssetDepreciation.assetTag }}</span>
                </dd>
                <dt><span>Asset Description</span></dt>
                <dd>
                    <span>{{ fixedAssetDepreciation.assetDescription }}</span>
                </dd>
                <dt><span>Depreciation Date</span></dt>
                <dd>
                    <span>{{ fixedAssetDepreciation.depreciationDate }}</span>
                </dd>
                <dt><span>Asset Category</span></dt>
                <dd>
                    <span>{{ fixedAssetDepreciation.assetCategory }}</span>
                </dd>
                <dt><span>Depreciation Amount</span></dt>
                <dd>
                    <span>{{ fixedAssetDepreciation.depreciationAmount }}</span>
                </dd>
                <dt><span>Depreciation Regime</span></dt>
                <dd>
                    <span>{{ fixedAssetDepreciation.depreciationRegime }}</span>
                </dd>
                <dt><span>File Upload Token</span></dt>
                <dd>
                    <span>{{ fixedAssetDepreciation.fileUploadToken }}</span>
                </dd>
                <dt><span>Compilation Token</span></dt>
                <dd>
                    <span>{{ fixedAssetDepreciation.compilationToken }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fixed-asset-depreciation', fixedAssetDepreciation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
