<!--

    Erp System - Mark X No 10 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div>
  <h2 id="page-heading" data-cy="AssetRevaluationHeading">
    <span>Asset Revaluations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-asset-revaluation"
        [routerLink]="['/asset-revaluation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Asset Revaluation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="assetRevaluations?.length === 0">
    <span>No assetRevaluations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="assetRevaluations && assetRevaluations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description"><span>Description</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="devaluationAmount"><span>Devaluation Amount</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="revaluationDate"><span>Revaluation Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="revaluationReferenceId">
            <span>Revaluation Reference Id</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="timeOfCreation"><span>Time Of Creation</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="revaluer.dealerName"><span>Revaluer</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdBy.applicationIdentity"><span>Created By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastModifiedBy.applicationIdentity"><span>Last Modified By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastAccessedBy.applicationIdentity"><span>Last Accessed By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="effectivePeriod.periodCode"><span>Effective Period</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="revaluedAsset.assetNumber"><span>Revalued Asset</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assetRevaluation of assetRevaluations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/asset-revaluation', assetRevaluation.id, 'view']">{{ assetRevaluation.id }}</a>
          </td>
          <td>{{ assetRevaluation.description }}</td>
          <td>{{ assetRevaluation.devaluationAmount }}</td>
          <td>{{ assetRevaluation.revaluationDate | formatMediumDate }}</td>
          <td>{{ assetRevaluation.revaluationReferenceId }}</td>
          <td>{{ assetRevaluation.timeOfCreation | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="assetRevaluation.revaluer">
              <a [routerLink]="['/dealer', assetRevaluation.revaluer?.id, 'view']">{{ assetRevaluation.revaluer?.dealerName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="assetRevaluation.createdBy">
              <a [routerLink]="['/application-user', assetRevaluation.createdBy?.id, 'view']">{{
                assetRevaluation.createdBy?.applicationIdentity
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="assetRevaluation.lastModifiedBy">
              <a [routerLink]="['/application-user', assetRevaluation.lastModifiedBy?.id, 'view']">{{
                assetRevaluation.lastModifiedBy?.applicationIdentity
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="assetRevaluation.lastAccessedBy">
              <a [routerLink]="['/application-user', assetRevaluation.lastAccessedBy?.id, 'view']">{{
                assetRevaluation.lastAccessedBy?.applicationIdentity
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="assetRevaluation.effectivePeriod">
              <a [routerLink]="['/depreciation-period', assetRevaluation.effectivePeriod?.id, 'view']">{{
                assetRevaluation.effectivePeriod?.periodCode
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="assetRevaluation.revaluedAsset">
              <a [routerLink]="['/asset-registration', assetRevaluation.revaluedAsset?.id, 'view']">{{
                assetRevaluation.revaluedAsset?.assetNumber
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/asset-revaluation', assetRevaluation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/asset-revaluation', assetRevaluation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(assetRevaluation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="assetRevaluations && assetRevaluations.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
