<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="collateralType">
      <h2 data-cy="collateralTypeDetailsHeading"><span>Collateral Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ collateralType.id }}</span>
        </dd>
        <dt><span>Collateral Type Code</span></dt>
        <dd>
          <span>{{ collateralType.collateralTypeCode }}</span>
        </dd>
        <dt><span>Collateral Type</span></dt>
        <dd>
          <span>{{ collateralType.collateralType }}</span>
        </dd>
        <dt><span>Collateral Type Description</span></dt>
        <dd>
          <span>{{ collateralType.collateralTypeDescription }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/collateral-type', collateralType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
