<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="terminalTypes">
      <h2 data-cy="terminalTypesDetailsHeading"><span>Terminal Types</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ terminalTypes.id }}</span>
        </dd>
        <dt><span>Txn Terminal Type Code</span></dt>
        <dd>
          <span>{{ terminalTypes.txnTerminalTypeCode }}</span>
        </dd>
        <dt><span>Txn Channel Type</span></dt>
        <dd>
          <span>{{ terminalTypes.txnChannelType }}</span>
        </dd>
        <dt><span>Txn Channel Type Details</span></dt>
        <dd>
          <span>{{ terminalTypes.txnChannelTypeDetails }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/terminal-types', terminalTypes.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
