<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="countySubCountyCode">
      <h2 data-cy="countySubCountyCodeDetailsHeading"><span>County Sub County Code</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ countySubCountyCode.id }}</span>
        </dd>
        <dt><span>Sub County Code</span></dt>
        <dd>
          <span>{{ countySubCountyCode.subCountyCode }}</span>
        </dd>
        <dt><span>Sub County Name</span></dt>
        <dd>
          <span>{{ countySubCountyCode.subCountyName }}</span>
        </dd>
        <dt><span>County Code</span></dt>
        <dd>
          <span>{{ countySubCountyCode.countyCode }}</span>
        </dd>
        <dt><span>County Name</span></dt>
        <dd>
          <span>{{ countySubCountyCode.countyName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/county-sub-county-code', countySubCountyCode.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
