<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="taxRule">
      <h2 data-cy="taxRuleDetailsHeading"><span>Tax Rule</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ taxRule.id }}</span>
        </dd>
        <dt><span>Telco Excise Duty</span></dt>
        <dd>
          <span>{{ taxRule.telcoExciseDuty }}</span>
        </dd>
        <dt><span>Value Added Tax</span></dt>
        <dd>
          <span>{{ taxRule.valueAddedTax }}</span>
        </dd>
        <dt><span>Withholding VAT</span></dt>
        <dd>
          <span>{{ taxRule.withholdingVAT }}</span>
        </dd>
        <dt><span>Withholding Tax Consultancy</span></dt>
        <dd>
          <span>{{ taxRule.withholdingTaxConsultancy }}</span>
        </dd>
        <dt><span>Withholding Tax Rent</span></dt>
        <dd>
          <span>{{ taxRule.withholdingTaxRent }}</span>
        </dd>
        <dt><span>Catering Levy</span></dt>
        <dd>
          <span>{{ taxRule.cateringLevy }}</span>
        </dd>
        <dt><span>Service Charge</span></dt>
        <dd>
          <span>{{ taxRule.serviceCharge }}</span>
        </dd>
        <dt><span>Withholding Tax Imported Service</span></dt>
        <dd>
          <span>{{ taxRule.withholdingTaxImportedService }}</span>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of taxRule.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/tax-rule', taxRule.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
