<div>
  <h2 id="page-heading" data-cy="TaxRuleHeading">
    <span>Tax Rules</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tax-rule"
        [routerLink]="['/tax-rule/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Tax Rule </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="taxRules?.length === 0">
    <span>No taxRules found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="taxRules && taxRules.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="telcoExciseDuty"><span>Telco Excise Duty</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="valueAddedTax"><span>Value Added Tax</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="withholdingVAT"><span>Withholding VAT</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="withholdingTaxConsultancy">
            <span>Withholding Tax Consultancy</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="withholdingTaxRent"><span>Withholding Tax Rent</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cateringLevy"><span>Catering Levy</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="serviceCharge"><span>Service Charge</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="withholdingTaxImportedService">
            <span>Withholding Tax Imported Service</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let taxRule of taxRules; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tax-rule', taxRule.id, 'view']">{{ taxRule.id }}</a>
          </td>
          <td>{{ taxRule.telcoExciseDuty }}</td>
          <td>{{ taxRule.valueAddedTax }}</td>
          <td>{{ taxRule.withholdingVAT }}</td>
          <td>{{ taxRule.withholdingTaxConsultancy }}</td>
          <td>{{ taxRule.withholdingTaxRent }}</td>
          <td>{{ taxRule.cateringLevy }}</td>
          <td>{{ taxRule.serviceCharge }}</td>
          <td>{{ taxRule.withholdingTaxImportedService }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tax-rule', taxRule.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tax-rule', taxRule.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(taxRule)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="taxRules && taxRules.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
