<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="crbDataSubmittingInstitutions">
      <h2 data-cy="crbDataSubmittingInstitutionsDetailsHeading"><span>Crb Data Submitting Institutions</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ crbDataSubmittingInstitutions.id }}</span>
        </dd>
        <dt><span>Institution Code</span></dt>
        <dd>
          <span>{{ crbDataSubmittingInstitutions.institutionCode }}</span>
        </dd>
        <dt><span>Institution Name</span></dt>
        <dd>
          <span>{{ crbDataSubmittingInstitutions.institutionName }}</span>
        </dd>
        <dt><span>Institution Category</span></dt>
        <dd>
          <span>{{ crbDataSubmittingInstitutions.institutionCategory }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/crb-data-submitting-institutions', crbDataSubmittingInstitutions.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
