<!--

    Erp System - Mark X No 10 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-card-fraud-information-heading" data-cy="CardFraudInformationCreateUpdateHeading">
        Create or edit a Card Fraud Information
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_reportingDate">Reporting Date</label>
          <div class="input-group">
            <input
              id="field_reportingDate"
              data-cy="reportingDate"
              type="text"
              class="form-control"
              name="reportingDate"
              ngbDatepicker
              #reportingDateDp="ngbDatepicker"
              formControlName="reportingDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="reportingDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('reportingDate')!.invalid && (editForm.get('reportingDate')!.dirty || editForm.get('reportingDate')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('reportingDate')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_totalNumberOfFraudIncidents">Total Number Of Fraud Incidents</label>
          <input
            type="number"
            class="form-control"
            name="totalNumberOfFraudIncidents"
            id="field_totalNumberOfFraudIncidents"
            data-cy="totalNumberOfFraudIncidents"
            formControlName="totalNumberOfFraudIncidents"
          />
          <div
            *ngIf="
              editForm.get('totalNumberOfFraudIncidents')!.invalid &&
              (editForm.get('totalNumberOfFraudIncidents')!.dirty || editForm.get('totalNumberOfFraudIncidents')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('totalNumberOfFraudIncidents')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('totalNumberOfFraudIncidents')?.errors?.min">
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('totalNumberOfFraudIncidents')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_valueOfFraudIncedentsInLCY">Value Of Fraud Incedents In LCY</label>
          <input
            type="number"
            class="form-control"
            name="valueOfFraudIncedentsInLCY"
            id="field_valueOfFraudIncedentsInLCY"
            data-cy="valueOfFraudIncedentsInLCY"
            formControlName="valueOfFraudIncedentsInLCY"
          />
          <div
            *ngIf="
              editForm.get('valueOfFraudIncedentsInLCY')!.invalid &&
              (editForm.get('valueOfFraudIncedentsInLCY')!.dirty || editForm.get('valueOfFraudIncedentsInLCY')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('valueOfFraudIncedentsInLCY')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('valueOfFraudIncedentsInLCY')?.errors?.min">
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('valueOfFraudIncedentsInLCY')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
