<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="gdiMasterDataIndex">
      <h2 data-cy="gdiMasterDataIndexDetailsHeading"><span>Gdi Master Data Index</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ gdiMasterDataIndex.id }}</span>
        </dd>
        <dt><span>Entity Name</span></dt>
        <dd>
          <span>{{ gdiMasterDataIndex.entityName }}</span>
        </dd>
        <dt><span>Database Name</span></dt>
        <dd>
          <span>{{ gdiMasterDataIndex.databaseName }}</span>
        </dd>
        <dt><span>Business Description</span></dt>
        <dd>
          <span>{{ gdiMasterDataIndex.businessDescription }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/gdi-master-data-index', gdiMasterDataIndex.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
