<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div>
  <h2 id="page-heading" data-cy="AmortizationSequenceHeading">
    <span>Amortization Sequences</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-amortization-sequence"
        [routerLink]="['/amortization-sequence/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Amortization Sequence </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="amortizationSequences?.length === 0">
    <span>No amortizationSequences found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="amortizationSequences && amortizationSequences.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prepaymentAccountGuid">
            <span>Prepayment Account Guid</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="recurrenceGuid">
            <span>Recurrence Guid</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sequenceNumber"><span>Sequence Number</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="particulars"><span>Particulars</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="currentAmortizationDate"><span>Current Amortization Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="previousAmortizationDate"><span>Previous Amortization Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nextAmortizationDate"><span>Next Amortization Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isCommencementSequence"><span>Is Commencement Sequence</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isTerminalSequence"><span>Is Terminal Sequence</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="amortizationAmount"><span>Amortization Amount</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sequenceGuid"><span>Sequence Guid</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prepaymentAccount.catalogueNumber"><span>Prepayment Account</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="amortizationRecurrence.particulars">
            <span>Amortization Recurrence</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let amortizationSequence of amortizationSequences; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/amortization-sequence', amortizationSequence.id, 'view']">{{ amortizationSequence.id }}</a>
          </td>
          <td>{{ amortizationSequence.prepaymentAccountGuid }}</td>
          <td>{{ amortizationSequence.recurrenceGuid }}</td>
          <td>{{ amortizationSequence.sequenceNumber }}</td>
          <td>{{ amortizationSequence.particulars }}</td>
          <td>{{ amortizationSequence.currentAmortizationDate | formatMediumDate }}</td>
          <td>{{ amortizationSequence.previousAmortizationDate | formatMediumDate }}</td>
          <td>{{ amortizationSequence.nextAmortizationDate | formatMediumDate }}</td>
          <td>{{ amortizationSequence.isCommencementSequence }}</td>
          <td>{{ amortizationSequence.isTerminalSequence }}</td>
          <td>{{ amortizationSequence.amortizationAmount }}</td>
          <td>{{ amortizationSequence.sequenceGuid }}</td>
          <td>
            <div *ngIf="amortizationSequence.prepaymentAccount">
              <a [routerLink]="['/prepayment-account', amortizationSequence.prepaymentAccount?.id, 'view']">{{
                amortizationSequence.prepaymentAccount?.catalogueNumber
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="amortizationSequence.amortizationRecurrence">
              <a [routerLink]="['/amortization-recurrence', amortizationSequence.amortizationRecurrence?.id, 'view']">{{
                amortizationSequence.amortizationRecurrence?.particulars
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/amortization-sequence', amortizationSequence.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/amortization-sequence', amortizationSequence.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(amortizationSequence)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="amortizationSequences && amortizationSequences.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
