<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tALeaseRepaymentRule">
      <h2 data-cy="tALeaseRepaymentRuleDetailsHeading"><span>TA Lease Repayment Rule</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ tALeaseRepaymentRule.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ tALeaseRepaymentRule.name }}</span>
        </dd>
        <dt><span>Identifier</span></dt>
        <dd>
          <span>{{ tALeaseRepaymentRule.identifier }}</span>
        </dd>
        <dt><span>Lease Contract</span></dt>
        <dd>
          <div *ngIf="tALeaseRepaymentRule.leaseContract">
            <a [routerLink]="['/ifrs-16-lease-contract', tALeaseRepaymentRule.leaseContract?.id, 'view']">{{
              tALeaseRepaymentRule.leaseContract?.shortTitle
            }}</a>
          </div>
        </dd>
        <dt><span>Debit</span></dt>
        <dd>
          <div *ngIf="tALeaseRepaymentRule.debit">
            <a [routerLink]="['/transaction-account', tALeaseRepaymentRule.debit?.id, 'view']">{{
              tALeaseRepaymentRule.debit?.accountName
            }}</a>
          </div>
        </dd>
        <dt><span>Credit</span></dt>
        <dd>
          <div *ngIf="tALeaseRepaymentRule.credit">
            <a [routerLink]="['/transaction-account', tALeaseRepaymentRule.credit?.id, 'view']">{{
              tALeaseRepaymentRule.credit?.accountName
            }}</a>
          </div>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of tALeaseRepaymentRule.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/ta-lease-repayment-rule', tALeaseRepaymentRule.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
