<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-purchase-order-heading" data-cy="PurchaseOrderCreateUpdateHeading">Create or edit a Purchase Order</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label">Vendor</label>
          <ng-select
            [items]="vendorLookups$ | async"
            bindLabel="dealerName"
            [trackByFn]="trackVendorByFn"
            [minTermLength]="minAccountLengthTerm"
            [loading]="vendorsLoading"
            typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
            [typeahead]="vendorsInput$"
            formControlName="vendor"
          >
            <option [ngValue]="editForm.get('vendor')!.value"></option>
          </ng-select>
          <div *jhiHasAnyAuthority="'ROLE_DEV'">{{editForm.get(['vendor'])!.value|formatDealerId}}</div>
        </div>
        <div *ngIf="editForm.get(['vendor'])!.invalid && (editForm.get(['vendor'])!.dirty || editForm.get(['vendor'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['vendor'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_purchaseOrderNumber">Purchase Order Number</label>
          <input
            type="text"
            class="form-control"
            name="purchaseOrderNumber"
            id="field_purchaseOrderNumber"
            data-cy="purchaseOrderNumber"
            formControlName="purchaseOrderNumber"
          />
          <div
            *ngIf="
              editForm.get('purchaseOrderNumber')!.invalid &&
              (editForm.get('purchaseOrderNumber')!.dirty || editForm.get('purchaseOrderNumber')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('purchaseOrderNumber')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_purchaseOrderDate">Purchase Order Date</label>
          <div class="input-group">
            <input
              id="field_purchaseOrderDate"
              data-cy="purchaseOrderDate"
              type="text"
              class="form-control"
              name="purchaseOrderDate"
              ngbDatepicker
              #purchaseOrderDateDp="ngbDatepicker"
              formControlName="purchaseOrderDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="purchaseOrderDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label">Settlement Currency</label>
          <ng-select
            [items]="settlementCurrencyLookups$ | async"
            bindLabel="iso4217CurrencyCode"
            [trackByFn]="trackCurrencyByFn"
            [minTermLength]="3"
            [loading]="settlementCurrenciesLoading"
            typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
            [typeahead]="settlementCurrencyControlInput$"
            formControlName="settlementCurrency"
          >
            <option [ngValue]="editForm.get('settlementCurrency')!.value"></option>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" />
              <jhi-settlement-currency-option-view [item]='item'></jhi-settlement-currency-option-view>
            </ng-template>
          </ng-select>
          <div>{{editForm.get(['settlementCurrency'])!.value|formatSettlementCurrency: [2, '...']}}</div>
        </div>
        <div
          *ngIf="
            editForm.get(['settlementCurrency'])!.invalid &&
            (editForm.get(['settlementCurrency'])!.dirty || editForm.get(['settlementCurrency'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['settlementCurrency'])?.errors?.required">
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_purchaseOrderAmount">Purchase Order Amount</label>
          <input
            type="number"
            class="form-control"
            name="purchaseOrderAmount"
            id="field_purchaseOrderAmount"
            data-cy="purchaseOrderAmount"
            formControlName="purchaseOrderAmount"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_remarks">Remarks</label>
          <textarea class="form-control" name="remarks" id="field_remarks" data-cy="remarks" formControlName="remarks"></textarea>
        </div>

        <jhi-m2m-business-document-form-control
          ngDefaultControl
          formControlName='businessDocuments'
          [inputValues]="editForm.get(['businessDocuments'])!.value"
          (selectedValues)='updateBusinessDocument($event)'
          inputControlLabel='Business Document Attachments'
        >
        </jhi-m2m-business-document-form-control>

        <jhi-m2m-placeholder-form-control
          ngDefaultControl
          formControlName='placeholders'
          [inputValues]="editForm.get(['placeholders'])!.value"
          (selectedValues)='updatePlaceholders($event)'
          inputControlLabel='Placeholder Items'
        >
        </jhi-m2m-placeholder-form-control>

        <!--<div class="form-group">
          <label class="form-control-label">Placeholders</label>
          <ng-select
            [items]="placeholderLookups$ | async"
            bindLabel="description"
            [trackByFn]="trackPlaceholdersByFn"
            [minTermLength]="minAccountLengthTerm"
            [loading]="placeholdersLoading"
            typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
            [typeahead]="placeholderControlInput$"
            formControlName="placeholders"
            [multiple]='true'
          >
            <ng-option *ngFor="let option of placeholderLookups$ | async" [value]="option">
              {{ option.description }}
            </ng-option>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              &lt;!&ndash; // TODO Check if we need to track selection on the many to many entities with selected: boolean&ndash;&gt;
              <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" /> {{item.description}}
            </ng-template>
          </ng-select>
          <div *jhiHasAnyAuthority="'ROLE_DEV'">{{editForm.get(['placeholders'])!.value|json}}</div>
        </div>-->

        <div class="form-group">
          <label class="form-control-label">Signatories</label>
          <ng-select
            [items]="signatoryLookups$ | async"
            bindLabel="dealerName"
            [trackByFn]="trackBillerByFn"
            [minTermLength]="minAccountLengthTerm"
            [loading]="signatoriesLoading"
            typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
            [typeahead]="signatoryControlInput$"
            formControlName="signatories"
            [multiple]='true'
          >
            <ng-option *ngFor="let option of signatoryLookups$ | async" [value]="option">
              {{ option.dealerName }}
            </ng-option>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <!-- // TODO Check if we need to track selection on the many to many entities with selected: boolean-->
              <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" /> {{item.dealerName}}
            </ng-template>
          </ng-select>
          <div *jhiHasAnyAuthority="'ROLE_DEV'">{{editForm.get(['signatories'])!.value|json}}</div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fileUploadToken">File Upload Token</label>
          <input
            type="text"
            class="form-control"
            name="fileUploadToken"
            id="field_fileUploadToken"
            data-cy="fileUploadToken"
            formControlName="fileUploadToken"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_compilationToken">Compilation Token</label>
          <input
            type="text"
            class="form-control"
            name="compilationToken"
            id="field_compilationToken"
            data-cy="compilationToken"
            formControlName="compilationToken"
          />
        </div>

      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
