<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="applicationUser">
      <h2 data-cy="applicationUserDetailsHeading"><span>Application User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ applicationUser.id }}</span>
        </dd>
        <dt><span>Designation</span></dt>
        <dd>
          <span>{{ applicationUser.designation }}</span>
        </dd>
        <dt><span>Application Identity</span></dt>
        <dd>
          <span>{{ applicationUser.applicationIdentity }}</span>
        </dd>
        <dt><span>Organization</span></dt>
        <dd>
          <div *ngIf="applicationUser.organization">
            <a [routerLink]="['/dealer', applicationUser.organization?.id, 'view']">{{ applicationUser.organization?.dealerName }}</a>
          </div>
        </dd>
        <dt><span>Department</span></dt>
        <dd>
          <div *ngIf="applicationUser.department">
            <a [routerLink]="['/dealer', applicationUser.department?.id, 'view']">{{ applicationUser.department?.dealerName }}</a>
          </div>
        </dd>
        <dt><span>Security Clearance</span></dt>
        <dd>
          <div *ngIf="applicationUser.securityClearance">
            <a [routerLink]="['/security-clearance', applicationUser.securityClearance?.id, 'view']">{{
              applicationUser.securityClearance?.clearanceLevel
            }}</a>
          </div>
        </dd>
        <dt><span>System Identity</span></dt>
        <dd>
          <span>{{ applicationUser.systemIdentity?.login }}</span>
        </dd>
        <dt><span>User Properties</span></dt>
        <dd>
          <span *ngFor="let userProperties of applicationUser.userProperties; let last = last">
            <a [routerLink]="['/universally-unique-mapping', userProperties?.id, 'view']">{{ userProperties.mappedValue }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Dealer Identity</span></dt>
        <dd>
          <div *ngIf="applicationUser.dealerIdentity">
            <a [routerLink]="['/dealer', applicationUser.dealerIdentity?.id, 'view']">{{ applicationUser.dealerIdentity?.dealerName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/application-user', applicationUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
