<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fixedAssetAcquisition">
            <h2><span>Fixed Asset Acquisition</span> {{ fixedAssetAcquisition.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Asset Number</span></dt>
                <dd>
                    <span>{{ fixedAssetAcquisition.assetNumber }}</span>
                </dd>
                <dt><span>Service Outlet Code</span></dt>
                <dd>
                    <span>{{ fixedAssetAcquisition.serviceOutletCode }}</span>
                </dd>
                <dt><span>Asset Tag</span></dt>
                <dd>
                    <span>{{ fixedAssetAcquisition.assetTag }}</span>
                </dd>
                <dt><span>Asset Description</span></dt>
                <dd>
                    <span>{{ fixedAssetAcquisition.assetDescription }}</span>
                </dd>
                <dt><span>Purchase Date</span></dt>
                <dd>
                    <span>{{ fixedAssetAcquisition.purchaseDate }}</span>
                </dd>
                <dt><span>Asset Category</span></dt>
                <dd>
                    <span>{{ fixedAssetAcquisition.assetCategory }}</span>
                </dd>
                <dt><span>Purchase Price</span></dt>
                <dd>
                    <span>{{ fixedAssetAcquisition.purchasePrice }}</span>
                </dd>
                <dt><span>File Upload Token</span></dt>
                <dd>
                    <span>{{ fixedAssetAcquisition.fileUploadToken }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fixed-asset-acquisition', fixedAssetAcquisition.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
