<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="securityTenure">
      <h2 data-cy="securityTenureDetailsHeading"><span>Security Tenure</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ securityTenure.id }}</span>
        </dd>
        <dt><span>Security Tenure Code</span></dt>
        <dd>
          <span>{{ securityTenure.securityTenureCode }}</span>
        </dd>
        <dt><span>Security Tenure Type</span></dt>
        <dd>
          <span>{{ securityTenure.securityTenureType }}</span>
        </dd>
        <dt><span>Security Tenure Details</span></dt>
        <dd>
          <span>{{ securityTenure.securityTenureDetails }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/security-tenure', securityTenure.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
