<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-lease-model-metadata-heading" data-cy="LeaseModelMetadataCreateUpdateHeading">Create or edit a Lease Model Metadata</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_modelTitle">Model Title</label>
          <input
            type="text"
            class="form-control"
            name="modelTitle"
            id="field_modelTitle"
            data-cy="modelTitle"
            formControlName="modelTitle"
          />
          <div *ngIf="editForm.get('modelTitle')!.invalid && (editForm.get('modelTitle')!.dirty || editForm.get('modelTitle')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('modelTitle')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_modelVersion">Model Version</label>
          <input
            type="number"
            class="form-control"
            name="modelVersion"
            id="field_modelVersion"
            data-cy="modelVersion"
            formControlName="modelVersion"
          />
          <div
            *ngIf="editForm.get('modelVersion')!.invalid && (editForm.get('modelVersion')!.dirty || editForm.get('modelVersion')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('modelVersion')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('modelVersion')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_modelNotes">Model Notes</label>
          <div>
            <div *ngIf="editForm.get('modelNotes')!.value" class="form-text text-danger clearfix">
              <a class="pull-left" (click)="openFile(editForm.get('modelNotes')!.value, editForm.get('modelNotesContentType')!.value)"
                >open</a
              ><br />
              <span class="pull-left"
                >{{ editForm.get('modelNotesContentType')!.value }}, {{ byteSize(editForm.get('modelNotes')!.value) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ modelNotes: null }); editForm.patchValue({ modelNotesContentType: null })"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_modelNotes" data-cy="modelNotes" (change)="setFileData($event, 'modelNotes', false)" />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="modelNotes"
            id="field_modelNotes"
            data-cy="modelNotes"
            formControlName="modelNotes"
          />
          <input
            type="hidden"
            class="form-control"
            name="modelNotesContentType"
            id="field_modelNotesContentType"
            formControlName="modelNotesContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_annualDiscountingRate">Annual Discounting Rate</label>
          <input
            type="number"
            class="form-control"
            name="annualDiscountingRate"
            id="field_annualDiscountingRate"
            data-cy="annualDiscountingRate"
            formControlName="annualDiscountingRate"
          />
          <div
            *ngIf="
              editForm.get('annualDiscountingRate')!.invalid &&
              (editForm.get('annualDiscountingRate')!.dirty || editForm.get('annualDiscountingRate')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('annualDiscountingRate')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('annualDiscountingRate')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_commencementDate">Commencement Date</label>
          <div class="input-group">
            <input
              id="field_commencementDate"
              data-cy="commencementDate"
              type="text"
              class="form-control"
              name="commencementDate"
              ngbDatepicker
              #commencementDateDp="ngbDatepicker"
              formControlName="commencementDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="commencementDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('commencementDate')!.invalid &&
              (editForm.get('commencementDate')!.dirty || editForm.get('commencementDate')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('commencementDate')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_terminalDate">Terminal Date</label>
          <div class="input-group">
            <input
              id="field_terminalDate"
              data-cy="terminalDate"
              type="text"
              class="form-control"
              name="terminalDate"
              ngbDatepicker
              #terminalDateDp="ngbDatepicker"
              formControlName="terminalDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="terminalDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="editForm.get('terminalDate')!.invalid && (editForm.get('terminalDate')!.dirty || editForm.get('terminalDate')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('terminalDate')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_totalReportingPeriods">Total Reporting Periods</label>
          <input
            type="number"
            class="form-control"
            name="totalReportingPeriods"
            id="field_totalReportingPeriods"
            data-cy="totalReportingPeriods"
            formControlName="totalReportingPeriods"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_reportingPeriodsPerYear">Reporting Periods Per Year</label>
          <input
            type="number"
            class="form-control"
            name="reportingPeriodsPerYear"
            id="field_reportingPeriodsPerYear"
            data-cy="reportingPeriodsPerYear"
            formControlName="reportingPeriodsPerYear"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_settlementPeriodsPerYear">Settlement Periods Per Year</label>
          <input
            type="number"
            class="form-control"
            name="settlementPeriodsPerYear"
            id="field_settlementPeriodsPerYear"
            data-cy="settlementPeriodsPerYear"
            formControlName="settlementPeriodsPerYear"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_initialLiabilityAmount">Initial Liability Amount</label>
          <input
            type="number"
            class="form-control"
            name="initialLiabilityAmount"
            id="field_initialLiabilityAmount"
            data-cy="initialLiabilityAmount"
            formControlName="initialLiabilityAmount"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_initialROUAmount">Initial ROU Amount</label>
          <input
            type="number"
            class="form-control"
            name="initialROUAmount"
            id="field_initialROUAmount"
            data-cy="initialROUAmount"
            formControlName="initialROUAmount"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_totalDepreciationPeriods">Total Depreciation Periods</label>
          <input
            type="number"
            class="form-control"
            name="totalDepreciationPeriods"
            id="field_totalDepreciationPeriods"
            data-cy="totalDepreciationPeriods"
            formControlName="totalDepreciationPeriods"
          />
        </div>

        <div class="form-group">
          <label for="field_placeholders">Placeholder</label>
          <select
            class="form-control"
            id="field_placeholders"
            data-cy="placeholder"
            multiple
            name="placeholders"
            formControlName="placeholders"
          >
            <option
              [ngValue]="getSelectedPlaceholder(placeholderOption, editForm.get('placeholders')!.value)"
              *ngFor="let placeholderOption of placeholdersSharedCollection; trackBy: trackPlaceholderById"
            >
              {{ placeholderOption.description }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="field_leaseMappings">Lease Mapping</label>
          <select
            class="form-control"
            id="field_leaseMappings"
            data-cy="leaseMapping"
            multiple
            name="leaseMappings"
            formControlName="leaseMappings"
          >
            <option
              [ngValue]="getSelectedUniversallyUniqueMapping(universallyUniqueMappingOption, editForm.get('leaseMappings')!.value)"
              *ngFor="
                let universallyUniqueMappingOption of universallyUniqueMappingsSharedCollection;
                trackBy: trackUniversallyUniqueMappingById
              "
            >
              {{ universallyUniqueMappingOption.universalKey }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_leaseContract">Lease Contract</label>
          <select
            class="form-control"
            id="field_leaseContract"
            data-cy="leaseContract"
            name="leaseContract"
            formControlName="leaseContract"
          >
            <option *ngIf="!editForm.get('leaseContract')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                leaseContractOption.id === editForm.get('leaseContract')!.value?.id
                  ? editForm.get('leaseContract')!.value
                  : leaseContractOption
              "
              *ngFor="let leaseContractOption of leaseContractsSharedCollection; trackBy: trackLeaseContractById"
            >
              {{ leaseContractOption.bookingId }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['leaseContract'])!.invalid && (editForm.get(['leaseContract'])!.dirty || editForm.get(['leaseContract'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['leaseContract'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_predecessor">Predecessor</label>
          <select class="form-control" id="field_predecessor" data-cy="predecessor" name="predecessor" formControlName="predecessor">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                leaseModelMetadataOption.id === editForm.get('predecessor')!.value?.id
                  ? editForm.get('predecessor')!.value
                  : leaseModelMetadataOption
              "
              *ngFor="let leaseModelMetadataOption of predecessorsCollection; trackBy: trackLeaseModelMetadataById"
            >
              {{ leaseModelMetadataOption.modelTitle }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_liabilityCurrency">Liability Currency</label>
          <select
            class="form-control"
            id="field_liabilityCurrency"
            data-cy="liabilityCurrency"
            name="liabilityCurrency"
            formControlName="liabilityCurrency"
          >
            <option *ngIf="!editForm.get('liabilityCurrency')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                settlementCurrencyOption.id === editForm.get('liabilityCurrency')!.value?.id
                  ? editForm.get('liabilityCurrency')!.value
                  : settlementCurrencyOption
              "
              *ngFor="let settlementCurrencyOption of settlementCurrenciesSharedCollection; trackBy: trackSettlementCurrencyById"
            >
              {{ settlementCurrencyOption.iso4217CurrencyCode }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['liabilityCurrency'])!.invalid &&
            (editForm.get(['liabilityCurrency'])!.dirty || editForm.get(['liabilityCurrency'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['liabilityCurrency'])?.errors?.required">
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_rouAssetCurrency">Rou Asset Currency</label>
          <select
            class="form-control"
            id="field_rouAssetCurrency"
            data-cy="rouAssetCurrency"
            name="rouAssetCurrency"
            formControlName="rouAssetCurrency"
          >
            <option *ngIf="!editForm.get('rouAssetCurrency')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                settlementCurrencyOption.id === editForm.get('rouAssetCurrency')!.value?.id
                  ? editForm.get('rouAssetCurrency')!.value
                  : settlementCurrencyOption
              "
              *ngFor="let settlementCurrencyOption of settlementCurrenciesSharedCollection; trackBy: trackSettlementCurrencyById"
            >
              {{ settlementCurrencyOption.iso4217CurrencyCode }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['rouAssetCurrency'])!.invalid &&
            (editForm.get(['rouAssetCurrency'])!.dirty || editForm.get(['rouAssetCurrency'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['rouAssetCurrency'])?.errors?.required">
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_modelAttachments">Model Attachments</label>
          <select
            class="form-control"
            id="field_modelAttachments"
            data-cy="modelAttachments"
            name="modelAttachments"
            formControlName="modelAttachments"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                businessDocumentOption.id === editForm.get('modelAttachments')!.value?.id
                  ? editForm.get('modelAttachments')!.value
                  : businessDocumentOption
              "
              *ngFor="let businessDocumentOption of businessDocumentsSharedCollection; trackBy: trackBusinessDocumentById"
            >
              {{ businessDocumentOption.documentTitle }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_securityClearance">Security Clearance</label>
          <select
            class="form-control"
            id="field_securityClearance"
            data-cy="securityClearance"
            name="securityClearance"
            formControlName="securityClearance"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                securityClearanceOption.id === editForm.get('securityClearance')!.value?.id
                  ? editForm.get('securityClearance')!.value
                  : securityClearanceOption
              "
              *ngFor="let securityClearanceOption of securityClearancesSharedCollection; trackBy: trackSecurityClearanceById"
            >
              {{ securityClearanceOption.clearanceLevel }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_leaseLiabilityAccount">Lease Liability Account</label>
          <select
            class="form-control"
            id="field_leaseLiabilityAccount"
            data-cy="leaseLiabilityAccount"
            name="leaseLiabilityAccount"
            formControlName="leaseLiabilityAccount"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                transactionAccountOption.id === editForm.get('leaseLiabilityAccount')!.value?.id
                  ? editForm.get('leaseLiabilityAccount')!.value
                  : transactionAccountOption
              "
              *ngFor="let transactionAccountOption of transactionAccountsSharedCollection; trackBy: trackTransactionAccountById"
            >
              {{ transactionAccountOption.accountNumber }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_interestPayableAccount">Interest Payable Account</label>
          <select
            class="form-control"
            id="field_interestPayableAccount"
            data-cy="interestPayableAccount"
            name="interestPayableAccount"
            formControlName="interestPayableAccount"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                transactionAccountOption.id === editForm.get('interestPayableAccount')!.value?.id
                  ? editForm.get('interestPayableAccount')!.value
                  : transactionAccountOption
              "
              *ngFor="let transactionAccountOption of transactionAccountsSharedCollection; trackBy: trackTransactionAccountById"
            >
              {{ transactionAccountOption.accountNumber }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_interestExpenseAccount">Interest Expense Account</label>
          <select
            class="form-control"
            id="field_interestExpenseAccount"
            data-cy="interestExpenseAccount"
            name="interestExpenseAccount"
            formControlName="interestExpenseAccount"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                transactionAccountOption.id === editForm.get('interestExpenseAccount')!.value?.id
                  ? editForm.get('interestExpenseAccount')!.value
                  : transactionAccountOption
              "
              *ngFor="let transactionAccountOption of transactionAccountsSharedCollection; trackBy: trackTransactionAccountById"
            >
              {{ transactionAccountOption.accountNumber }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_rouAssetAccount">Rou Asset Account</label>
          <select
            class="form-control"
            id="field_rouAssetAccount"
            data-cy="rouAssetAccount"
            name="rouAssetAccount"
            formControlName="rouAssetAccount"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                transactionAccountOption.id === editForm.get('rouAssetAccount')!.value?.id
                  ? editForm.get('rouAssetAccount')!.value
                  : transactionAccountOption
              "
              *ngFor="let transactionAccountOption of transactionAccountsSharedCollection; trackBy: trackTransactionAccountById"
            >
              {{ transactionAccountOption.accountNumber }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_rouDepreciationAccount">Rou Depreciation Account</label>
          <select
            class="form-control"
            id="field_rouDepreciationAccount"
            data-cy="rouDepreciationAccount"
            name="rouDepreciationAccount"
            formControlName="rouDepreciationAccount"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                transactionAccountOption.id === editForm.get('rouDepreciationAccount')!.value?.id
                  ? editForm.get('rouDepreciationAccount')!.value
                  : transactionAccountOption
              "
              *ngFor="let transactionAccountOption of transactionAccountsSharedCollection; trackBy: trackTransactionAccountById"
            >
              {{ transactionAccountOption.accountNumber }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_accruedDepreciationAccount">Accrued Depreciation Account</label>
          <select
            class="form-control"
            id="field_accruedDepreciationAccount"
            data-cy="accruedDepreciationAccount"
            name="accruedDepreciationAccount"
            formControlName="accruedDepreciationAccount"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                transactionAccountOption.id === editForm.get('accruedDepreciationAccount')!.value?.id
                  ? editForm.get('accruedDepreciationAccount')!.value
                  : transactionAccountOption
              "
              *ngFor="let transactionAccountOption of transactionAccountsSharedCollection; trackBy: trackTransactionAccountById"
            >
              {{ transactionAccountOption.accountNumber }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
