<div>
  <h2 id="page-heading" data-cy="MessageTokenHeading">
    <span>Message Tokens</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-message-token"
        [routerLink]="['/message-token/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Message Token </span>
      </button>
    </div>
  </h2>

  <gha-alert-error></gha-alert-error>

  <gha-alert></gha-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="messageTokens?.length === 0">
    <span>No messageTokens found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="messageTokens && messageTokens.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr ghaSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" ghaSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" ghaSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" ghaSortBy="timeSent"><span>Time Sent</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" ghaSortBy="tokenValue"><span>Token Value</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" ghaSortBy="received"><span>Received</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" ghaSortBy="actioned"><span>Actioned</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" ghaSortBy="contentFullyEnqueued"><span>Content Fully Enqueued</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let messageToken of messageTokens; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/message-token', messageToken.id, 'view']">{{ messageToken.id }}</a>
          </td>
          <td>{{ messageToken.description }}</td>
          <td>{{ messageToken.timeSent }}</td>
          <td>{{ messageToken.tokenValue }}</td>
          <td>{{ messageToken.received }}</td>
          <td>{{ messageToken.actioned }}</td>
          <td>{{ messageToken.contentFullyEnqueued }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/message-token', messageToken.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/message-token', messageToken.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(messageToken)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="messageTokens && messageTokens.length > 0">
    <div class="row justify-content-center">
      <gha-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></gha-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
