<!--

    Erp System - Mark X No 10 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="leaseContract">
      <h2 data-cy="leaseContractDetailsHeading"><span>Lease Contract</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ leaseContract.id }}</span>
        </dd>
        <dt><span>Booking Id</span></dt>
        <dd>
          <span>{{ leaseContract.bookingId }}</span>
        </dd>
        <dt><span>Lease Title</span></dt>
        <dd>
          <span>{{ leaseContract.leaseTitle }}</span>
        </dd>
        <dt><span>Identifier</span></dt>
        <dd>
          <span>{{ leaseContract.identifier }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ leaseContract.description }}</span>
        </dd>
        <dt><span>Commencement Date</span></dt>
        <dd>
          <span>{{ leaseContract.commencementDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Terminal Date</span></dt>
        <dd>
          <span>{{ leaseContract.terminalDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of leaseContract.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>System Mappings</span></dt>
        <dd>
          <span *ngFor="let systemMappings of leaseContract.systemMappings; let last = last">
            <a [routerLink]="['/universally-unique-mapping', systemMappings?.id, 'view']">{{ systemMappings.mappedValue }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Business Document</span></dt>
        <dd>
          <span *ngFor="let businessDocument of leaseContract.businessDocuments; let last = last">
            <a [routerLink]="['/business-document', businessDocument?.id, 'view']">{{ businessDocument.documentTitle }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Contract Metadata</span></dt>
        <dd>
          <span *ngFor="let contractMetadata of leaseContract.contractMetadata; let last = last">
            <a [routerLink]="['/contract-metadata', contractMetadata?.id, 'view']">{{ contractMetadata.contractTitle }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/lease-contract', leaseContract.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
