<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="anticipatedMaturityPeriood">
      <h2 data-cy="anticipatedMaturityPerioodDetailsHeading"><span>Anticipated Maturity Periood</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ anticipatedMaturityPeriood.id }}</span>
        </dd>
        <dt><span>Anticipated Maturity Tenor Code</span></dt>
        <dd>
          <span>{{ anticipatedMaturityPeriood.anticipatedMaturityTenorCode }}</span>
        </dd>
        <dt><span>Aniticipated Maturity Tenor Type</span></dt>
        <dd>
          <span>{{ anticipatedMaturityPeriood.aniticipatedMaturityTenorType }}</span>
        </dd>
        <dt><span>Anticipated Maturity Tenor Details</span></dt>
        <dd>
          <span>{{ anticipatedMaturityPeriood.anticipatedMaturityTenorDetails }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/anticipated-maturity-periood', anticipatedMaturityPeriood.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
