<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-card-charges-heading" data-cy="CardChargesCreateUpdateHeading">Create or edit a Card Charges</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cardChargeType">Card Charge Type</label>
          <input
            type="text"
            class="form-control"
            name="cardChargeType"
            id="field_cardChargeType"
            data-cy="cardChargeType"
            formControlName="cardChargeType"
          />
          <div
            *ngIf="
              editForm.get('cardChargeType')!.invalid && (editForm.get('cardChargeType')!.dirty || editForm.get('cardChargeType')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('cardChargeType')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cardChargeTypeName">Card Charge Type Name</label>
          <input
            type="text"
            class="form-control"
            name="cardChargeTypeName"
            id="field_cardChargeTypeName"
            data-cy="cardChargeTypeName"
            formControlName="cardChargeTypeName"
          />
          <div
            *ngIf="
              editForm.get('cardChargeTypeName')!.invalid &&
              (editForm.get('cardChargeTypeName')!.dirty || editForm.get('cardChargeTypeName')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('cardChargeTypeName')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cardChargeDetails">Card Charge Details</label>
          <textarea
            class="form-control"
            name="cardChargeDetails"
            id="field_cardChargeDetails"
            data-cy="cardChargeDetails"
            formControlName="cardChargeDetails"
          ></textarea>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
