<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-asset-accessory-heading" data-cy="AssetAccessoryCreateUpdateHeading">Create or edit a Asset Accessory</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_assetTag">Asset Tag</label>
          <input type="text" class="form-control" name="assetTag" id="field_assetTag" data-cy="assetTag" formControlName="assetTag" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_assetDetails">Asset Details</label>
          <input
            type="text"
            class="form-control"
            name="assetDetails"
            id="field_assetDetails"
            data-cy="assetDetails"
            formControlName="assetDetails"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_comments">Comments</label>
          <div>
            <div *ngIf="editForm.get('comments')!.value" class="form-text text-danger clearfix">
              <a class="pull-left" (click)="openFile(editForm.get('comments')!.value, editForm.get('commentsContentType')!.value)">open</a
              ><br />
              <span class="pull-left"
                >{{ editForm.get('commentsContentType')!.value }}, {{ byteSize(editForm.get('comments')!.value) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ comments: null }); editForm.patchValue({ commentsContentType: null })"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_comments" data-cy="comments" (change)="setFileData($event, 'comments', false)" />
          </div>
          <input type="hidden" class="form-control" name="comments" id="field_comments" data-cy="comments" formControlName="comments" />
          <input
            type="hidden"
            class="form-control"
            name="commentsContentType"
            id="field_commentsContentType"
            formControlName="commentsContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_modelNumber">Model Number</label>
          <input
            type="text"
            class="form-control"
            name="modelNumber"
            id="field_modelNumber"
            data-cy="modelNumber"
            formControlName="modelNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_serialNumber">Serial Number</label>
          <input
            type="text"
            class="form-control"
            name="serialNumber"
            id="field_serialNumber"
            data-cy="serialNumber"
            formControlName="serialNumber"
          />
        </div>

        <div class="form-group">
          <label for="field_assetWarranties">Asset Warranty</label>
          <select
            class="form-control"
            id="field_assetWarranties"
            data-cy="assetWarranty"
            multiple
            name="assetWarranties"
            formControlName="assetWarranties"
          >
            <option
              [ngValue]="getSelectedAssetWarranty(assetWarrantyOption, editForm.get('assetWarranties')!.value)"
              *ngFor="let assetWarrantyOption of assetWarrantiesSharedCollection; trackBy: trackAssetWarrantyById"
            >
              {{ assetWarrantyOption.description }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="field_placeholders">Placeholder</label>
          <select
            class="form-control"
            id="field_placeholders"
            data-cy="placeholder"
            multiple
            name="placeholders"
            formControlName="placeholders"
          >
            <option
              [ngValue]="getSelectedPlaceholder(placeholderOption, editForm.get('placeholders')!.value)"
              *ngFor="let placeholderOption of placeholdersSharedCollection; trackBy: trackPlaceholderById"
            >
              {{ placeholderOption.description }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="field_paymentInvoices">Payment Invoices</label>
          <select
            class="form-control"
            id="field_paymentInvoices"
            data-cy="paymentInvoices"
            multiple
            name="paymentInvoices"
            formControlName="paymentInvoices"
          >
            <option
              [ngValue]="getSelectedPaymentInvoice(paymentInvoiceOption, editForm.get('paymentInvoices')!.value)"
              *ngFor="let paymentInvoiceOption of paymentInvoicesSharedCollection; trackBy: trackPaymentInvoiceById"
            >
              {{ paymentInvoiceOption.invoiceNumber }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_serviceOutlet">Service Outlet</label>
          <select
            class="form-control"
            id="field_serviceOutlet"
            data-cy="serviceOutlet"
            name="serviceOutlet"
            formControlName="serviceOutlet"
          >
            <option *ngIf="!editForm.get('serviceOutlet')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                serviceOutletOption.id === editForm.get('serviceOutlet')!.value?.id
                  ? editForm.get('serviceOutlet')!.value
                  : serviceOutletOption
              "
              *ngFor="let serviceOutletOption of serviceOutletsSharedCollection; trackBy: trackServiceOutletById"
            >
              {{ serviceOutletOption.outletCode }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['serviceOutlet'])!.invalid && (editForm.get(['serviceOutlet'])!.dirty || editForm.get(['serviceOutlet'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['serviceOutlet'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label for="field_settlements">Settlement</label>
          <select
            class="form-control"
            id="field_settlements"
            data-cy="settlement"
            multiple
            name="settlements"
            formControlName="settlements"
          >
            <option
              [ngValue]="getSelectedSettlement(settlementOption, editForm.get('settlements')!.value)"
              *ngFor="let settlementOption of settlementsSharedCollection; trackBy: trackSettlementById"
            >
              {{ settlementOption.paymentNumber }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['settlements'])!.invalid && (editForm.get(['settlements'])!.dirty || editForm.get(['settlements'])!.touched)"
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['settlements'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_assetCategory">Asset Category</label>
          <select
            class="form-control"
            id="field_assetCategory"
            data-cy="assetCategory"
            name="assetCategory"
            formControlName="assetCategory"
          >
            <option *ngIf="!editForm.get('assetCategory')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                assetCategoryOption.id === editForm.get('assetCategory')!.value?.id
                  ? editForm.get('assetCategory')!.value
                  : assetCategoryOption
              "
              *ngFor="let assetCategoryOption of assetCategoriesSharedCollection; trackBy: trackAssetCategoryById"
            >
              {{ assetCategoryOption.assetCategoryName }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['assetCategory'])!.invalid && (editForm.get(['assetCategory'])!.dirty || editForm.get(['assetCategory'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['assetCategory'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label for="field_purchaseOrders">Purchase Order</label>
          <select
            class="form-control"
            id="field_purchaseOrders"
            data-cy="purchaseOrder"
            multiple
            name="purchaseOrders"
            formControlName="purchaseOrders"
          >
            <option
              [ngValue]="getSelectedPurchaseOrder(purchaseOrderOption, editForm.get('purchaseOrders')!.value)"
              *ngFor="let purchaseOrderOption of purchaseOrdersSharedCollection; trackBy: trackPurchaseOrderById"
            >
              {{ purchaseOrderOption.purchaseOrderNumber }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="field_deliveryNotes">Delivery Note</label>
          <select
            class="form-control"
            id="field_deliveryNotes"
            data-cy="deliveryNote"
            multiple
            name="deliveryNotes"
            formControlName="deliveryNotes"
          >
            <option
              [ngValue]="getSelectedDeliveryNote(deliveryNoteOption, editForm.get('deliveryNotes')!.value)"
              *ngFor="let deliveryNoteOption of deliveryNotesSharedCollection; trackBy: trackDeliveryNoteById"
            >
              {{ deliveryNoteOption.deliveryNoteNumber }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="field_jobSheets">Job Sheet</label>
          <select class="form-control" id="field_jobSheets" data-cy="jobSheet" multiple name="jobSheets" formControlName="jobSheets">
            <option
              [ngValue]="getSelectedJobSheet(jobSheetOption, editForm.get('jobSheets')!.value)"
              *ngFor="let jobSheetOption of jobSheetsSharedCollection; trackBy: trackJobSheetById"
            >
              {{ jobSheetOption.serialNumber }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dealer">Dealer</label>
          <select class="form-control" id="field_dealer" data-cy="dealer" name="dealer" formControlName="dealer">
            <option *ngIf="!editForm.get('dealer')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="dealerOption.id === editForm.get('dealer')!.value?.id ? editForm.get('dealer')!.value : dealerOption"
              *ngFor="let dealerOption of dealersSharedCollection; trackBy: trackDealerById"
            >
              {{ dealerOption.dealerName }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['dealer'])!.invalid && (editForm.get(['dealer'])!.dirty || editForm.get(['dealer'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['dealer'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label for="field_designatedUsers">Designated Users</label>
          <select
            class="form-control"
            id="field_designatedUsers"
            data-cy="designatedUsers"
            multiple
            name="designatedUsers"
            formControlName="designatedUsers"
          >
            <option
              [ngValue]="getSelectedDealer(dealerOption, editForm.get('designatedUsers')!.value)"
              *ngFor="let dealerOption of dealersSharedCollection; trackBy: trackDealerById"
            >
              {{ dealerOption.dealerName }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="field_businessDocuments">Business Document</label>
          <select
            class="form-control"
            id="field_businessDocuments"
            data-cy="businessDocument"
            multiple
            name="businessDocuments"
            formControlName="businessDocuments"
          >
            <option
              [ngValue]="getSelectedBusinessDocument(businessDocumentOption, editForm.get('businessDocuments')!.value)"
              *ngFor="let businessDocumentOption of businessDocumentsSharedCollection; trackBy: trackBusinessDocumentById"
            >
              {{ businessDocumentOption.documentTitle }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="field_universallyUniqueMappings">Universally Unique Mapping</label>
          <select
            class="form-control"
            id="field_universallyUniqueMappings"
            data-cy="universallyUniqueMapping"
            multiple
            name="universallyUniqueMappings"
            formControlName="universallyUniqueMappings"
          >
            <option
              [ngValue]="
                getSelectedUniversallyUniqueMapping(universallyUniqueMappingOption, editForm.get('universallyUniqueMappings')!.value)
              "
              *ngFor="
                let universallyUniqueMappingOption of universallyUniqueMappingsSharedCollection;
                trackBy: trackUniversallyUniqueMappingById
              "
            >
              {{ universallyUniqueMappingOption.universalKey }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
