<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-dealer-heading" data-cy="DealerCreateUpdateHeading">Create or edit a Dealer</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dealerName">Dealer Name</label>
          <input
            type="text"
            class="form-control"
            name="dealerName"
            id="field_dealerName"
            data-cy="dealerName"
            formControlName="dealerName"
          />
          <div *ngIf="editForm.get('dealerName')!.invalid && (editForm.get('dealerName')!.dirty || editForm.get('dealerName')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('dealerName')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_taxNumber">Tax Number</label>
          <input type="text" class="form-control" name="taxNumber" id="field_taxNumber" data-cy="taxNumber" formControlName="taxNumber" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_postalAddress">Postal Address</label>
          <input
            type="text"
            class="form-control"
            name="postalAddress"
            id="field_postalAddress"
            data-cy="postalAddress"
            formControlName="postalAddress"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_physicalAddress">Physical Address</label>
          <input
            type="text"
            class="form-control"
            name="physicalAddress"
            id="field_physicalAddress"
            data-cy="physicalAddress"
            formControlName="physicalAddress"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_accountName">Account Name</label>
          <input
            type="text"
            class="form-control"
            name="accountName"
            id="field_accountName"
            data-cy="accountName"
            formControlName="accountName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_accountNumber">Account Number</label>
          <input
            type="text"
            class="form-control"
            name="accountNumber"
            id="field_accountNumber"
            data-cy="accountNumber"
            formControlName="accountNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_bankersName">Bankers Name</label>
          <input
            type="text"
            class="form-control"
            name="bankersName"
            id="field_bankersName"
            data-cy="bankersName"
            formControlName="bankersName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_bankersBranch">Bankers Branch</label>
          <input
            type="text"
            class="form-control"
            name="bankersBranch"
            id="field_bankersBranch"
            data-cy="bankersBranch"
            formControlName="bankersBranch"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_bankersSwiftCode">Bankers Swift Code</label>
          <input
            type="text"
            class="form-control"
            name="bankersSwiftCode"
            id="field_bankersSwiftCode"
            data-cy="bankersSwiftCode"
            formControlName="bankersSwiftCode"
          />
        </div>

        <div class="form-group">
          <label for="field_payments">Payment</label>
          <select class="form-control" id="field_payments" data-cy="payment" multiple name="payments" formControlName="payments">
            <option
              [ngValue]="getSelectedPayment(paymentOption, editForm.get('payments')!.value)"
              *ngFor="let paymentOption of paymentsSharedCollection; trackBy: trackPaymentById"
            >
              {{ paymentOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="field_placeholders">Placeholder</label>
          <select
            class="form-control"
            id="field_placeholders"
            data-cy="placeholder"
            multiple
            name="placeholders"
            formControlName="placeholders"
          >
            <option
              [ngValue]="getSelectedPlaceholder(placeholderOption, editForm.get('placeholders')!.value)"
              *ngFor="let placeholderOption of placeholdersSharedCollection; trackBy: trackPlaceholderById"
            >
              {{ placeholderOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
