<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="crbAccountHolderType">
      <h2 data-cy="crbAccountHolderTypeDetailsHeading"><span>Crb Account Holder Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ crbAccountHolderType.id }}</span>
        </dd>
        <dt><span>Account Holder Category Type Code</span></dt>
        <dd>
          <span>{{ crbAccountHolderType.accountHolderCategoryTypeCode }}</span>
        </dd>
        <dt><span>Account Holder Category Type</span></dt>
        <dd>
          <span>{{ crbAccountHolderType.accountHolderCategoryType }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/crb-account-holder-type', crbAccountHolderType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
