<!--

    Erp System - Mark X No 10 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="depreciationJobNotice">
      <h2 data-cy="depreciationJobNoticeDetailsHeading"><span>Depreciation Job Notice</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ depreciationJobNotice.id }}</span>
        </dd>
        <dt><span>Event Narrative</span></dt>
        <dd>
          <span>{{ depreciationJobNotice.eventNarrative }}</span>
        </dd>
        <dt><span>Event Time Stamp</span></dt>
        <dd>
          <span>{{ depreciationJobNotice.eventTimeStamp | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Depreciation Notice Status</span></dt>
        <dd>
          <span>{{ depreciationJobNotice.depreciationNoticeStatus }}</span>
        </dd>
        <dt><span>Source Module</span></dt>
        <dd>
          <span>{{ depreciationJobNotice.sourceModule }}</span>
        </dd>
        <dt><span>Source Entity</span></dt>
        <dd>
          <span>{{ depreciationJobNotice.sourceEntity }}</span>
        </dd>
        <dt><span>Error Code</span></dt>
        <dd>
          <span>{{ depreciationJobNotice.errorCode }}</span>
        </dd>
        <dt><span>Error Message</span></dt>
        <dd>
          <span>{{ depreciationJobNotice.errorMessage }}</span>
        </dd>
        <dt><span>User Action</span></dt>
        <dd>
          <span>{{ depreciationJobNotice.userAction }}</span>
        </dd>
        <dt><span>Technical Details</span></dt>
        <dd>
          <span>{{ depreciationJobNotice.technicalDetails }}</span>
        </dd>
        <dt><span>Depreciation Job</span></dt>
        <dd>
          <div *ngIf="depreciationJobNotice.depreciationJob">
            <a [routerLink]="['/depreciation-job', depreciationJobNotice.depreciationJob?.id, 'view']">{{
              depreciationJobNotice.depreciationJob?.id
            }}</a>
          </div>
        </dd>
        <dt><span>Depreciation Batch Sequence</span></dt>
        <dd>
          <div *ngIf="depreciationJobNotice.depreciationBatchSequence">
            <a [routerLink]="['/depreciation-batch-sequence', depreciationJobNotice.depreciationBatchSequence?.id, 'view']">{{
              depreciationJobNotice.depreciationBatchSequence?.id
            }}</a>
          </div>
        </dd>
        <dt><span>Depreciation Period</span></dt>
        <dd>
          <div *ngIf="depreciationJobNotice.depreciationPeriod">
            <a [routerLink]="['/depreciation-period', depreciationJobNotice.depreciationPeriod?.id, 'view']">{{
              depreciationJobNotice.depreciationPeriod?.id
            }}</a>
          </div>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of depreciationJobNotice.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Universally Unique Mapping</span></dt>
        <dd>
          <span *ngFor="let universallyUniqueMapping of depreciationJobNotice.universallyUniqueMappings; let last = last">
            <a [routerLink]="['/universally-unique-mapping', universallyUniqueMapping?.id, 'view']">{{
              universallyUniqueMapping.universalKey
            }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Superintended</span></dt>
        <dd>
          <div *ngIf="depreciationJobNotice.superintended">
            <a [routerLink]="['/application-user', depreciationJobNotice.superintended?.id, 'view']">{{
              depreciationJobNotice.superintended?.applicationIdentity
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/depreciation-job-notice', depreciationJobNotice.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
