<!--

    Erp System - Mark X No 10 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="rouAssetListReportItem">
      <h2 data-cy="rouAssetListReportItemDetailsHeading"><span>Rou Asset List Report Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ rouAssetListReportItem.id }}</span>
        </dd>
        <dt><span>Model Title</span></dt>
        <dd>
          <span>{{ rouAssetListReportItem.modelTitle }}</span>
        </dd>
        <dt><span>Model Version</span></dt>
        <dd>
          <span>{{ rouAssetListReportItem.modelVersion }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ rouAssetListReportItem.description }}</span>
        </dd>
        <dt><span>Lease Term Periods</span></dt>
        <dd>
          <span>{{ rouAssetListReportItem.leaseTermPeriods }}</span>
        </dd>
        <dt><span>Rou Model Reference</span></dt>
        <dd>
          <span>{{ rouAssetListReportItem.rouModelReference }}</span>
        </dd>
        <dt><span>Commencement Date</span></dt>
        <dd>
          <span>{{ rouAssetListReportItem.commencementDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Expiration Date</span></dt>
        <dd>
          <span>{{ rouAssetListReportItem.expirationDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Lease Contract Title</span></dt>
        <dd>
          <span>{{ rouAssetListReportItem.leaseContractTitle }}</span>
        </dd>
        <dt><span>Asset Account Number</span></dt>
        <dd>
          <span>{{ rouAssetListReportItem.assetAccountNumber }}</span>
        </dd>
        <dt><span>Depreciation Account Number</span></dt>
        <dd>
          <span>{{ rouAssetListReportItem.depreciationAccountNumber }}</span>
        </dd>
        <dt><span>Accrued Depreciation Account Number</span></dt>
        <dd>
          <span>{{ rouAssetListReportItem.accruedDepreciationAccountNumber }}</span>
        </dd>
        <dt><span>Asset Category Name</span></dt>
        <dd>
          <span>{{ rouAssetListReportItem.assetCategoryName }}</span>
        </dd>
        <dt><span>Lease Amount</span></dt>
        <dd>
          <span>{{ rouAssetListReportItem.leaseAmount }}</span>
        </dd>
        <dt><span>Lease Contract Serial Number</span></dt>
        <dd>
          <span>{{ rouAssetListReportItem.leaseContractSerialNumber }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>
    </div>
  </div>
</div>
