<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div [ngSwitch]='isAuthenticated()'>
  <ul class='navbar-nav ml-auto'>

    <!--// Lease menu-->
    <li *ngSwitchCase='true' ngbDropdown class='nav-item dropdown pointer' display='dynamic'
        routerLinkActive='active' [routerLinkActiveOptions]='{ exact: true }'>
      <a class='nav-link dropdown-toggle' ngbDropdownToggle href='javascript:void(0);' id='leases-registry-menu'>
          <span>
              <fa-icon icon='file-contract'></fa-icon>
              <span>
                 Leases
              </span>
          </span>
      </a>
      <ul class='dropdown-menu' ngbDropdownMenu aria-labelledby='registry-menu'>
        <li>
          <a
            class='dropdown-item'
            routerLink='lease-liability'
            routerLinkActive='active'
            [routerLinkActiveOptions]='{ exact: true }'
            (click)='collapseNavbar()'
          >
            <fa-icon icon='asterisk' [fixedWidth]='true'></fa-icon>
            <span>Lease Liability</span>
          </a>
        </li>
        <li>
          <a
            class='dropdown-item'
            routerLink='lease-payment'
            routerLinkActive='active'
            [routerLinkActiveOptions]='{ exact: true }'
            (click)='collapseNavbar()'
          >
            <fa-icon icon='asterisk' [fixedWidth]='true'></fa-icon>
            <span>Lease Payment</span>
          </a>
        </li>
        <li>
          <a
            class='dropdown-item'
            routerLink='lease-amortization-schedule'
            routerLinkActive='active'
            [routerLinkActiveOptions]='{ exact: true }'
            (click)='collapseNavbar()'
          >
            <fa-icon icon='asterisk' [fixedWidth]='true'></fa-icon>
            <span>Lease Amortization Schedules</span>
          </a>
        </li>
        <li>
          <a
            class='dropdown-item'
            routerLink='lease-liability-schedule-item'
            routerLinkActive='active'
            [routerLinkActiveOptions]='{ exact: true }'
            (click)='collapseNavbar()'
          >
            <fa-icon icon='asterisk' [fixedWidth]='true'></fa-icon>
            <span>Lease Schedule Item</span>
          </a>
        </li>
      </ul>
    </li>



    <!--// ROU Menu-->
    <li *ngSwitchCase='true' ngbDropdown class='nav-item dropdown pointer' display='dynamic'
        routerLinkActive='active' [routerLinkActiveOptions]='{ exact: true }'>
      <a class='nav-link dropdown-toggle' ngbDropdownToggle href='javascript:void(0);' id='registry-menu'>
          <span>
              <fa-icon icon='building'></fa-icon>
              <span>
                 ROU
              </span>
          </span>
      </a>
      <ul class='dropdown-menu' ngbDropdownMenu aria-labelledby='registry-menu'>
        <li *jhiHasAnyAuthority="'ROLE_DEV'">
          <a
            class='dropdown-item'
            routerLink='lease-contract'
            routerLinkActive='active'
            [routerLinkActiveOptions]='{ exact: true }'
            (click)='collapseNavbar()'
          >
            <fa-icon icon='asterisk' [fixedWidth]='true'></fa-icon>
            <span>Lease Contract</span>
          </a>
        </li>
        <li *jhiHasAnyAuthority="'ROLE_DEV'">
          <a
            class='dropdown-item'
            routerLink='lease-model-metadata'
            routerLinkActive='active'
            [routerLinkActiveOptions]='{ exact: true }'
            (click)='collapseNavbar()'
          >
            <fa-icon icon='asterisk' [fixedWidth]='true'></fa-icon>
            <span>Lease Model Metadata</span>
          </a>
        </li>
        <li *jhiHasAnyAuthority="'ROLE_DEV'">
          <a
            class='dropdown-item'
            routerLink='lease-liability-schedule-item'
            routerLinkActive='active'
            [routerLinkActiveOptions]='{ exact: true }'
            (click)='collapseNavbar()'
          >
            <fa-icon icon='asterisk' [fixedWidth]='true'></fa-icon>
            <span>Lease Liability Schedule Item</span>
          </a>
        </li>
        <li>
          <a
            class='dropdown-item'
            routerLink='ifrs-16-lease-contract'
            routerLinkActive='active'
            [routerLinkActiveOptions]='{ exact: true }'
            (click)='collapseNavbar()'
          >
            <fa-icon icon='asterisk' [fixedWidth]='true'></fa-icon>
            <span>IFRS16 Lease</span>
          </a>
        </li>
        <li>
          <a
            class='dropdown-item'
            routerLink='rou-model-metadata'
            routerLinkActive='active'
            [routerLinkActiveOptions]='{ exact: true }'
            (click)='collapseNavbar()'
          >
            <fa-icon icon='asterisk' [fixedWidth]='true'></fa-icon>
            <span>ROU metadata</span>
          </a>
        </li>
        <li>
          <a
            class='dropdown-item'
            routerLink='rou-initial-direct-cost'
            routerLinkActive='active'
            [routerLinkActiveOptions]='{ exact: true }'
            (click)='collapseNavbar()'
          >
            <fa-icon icon='asterisk' [fixedWidth]='true'></fa-icon>
            <span>ROU Initial Direct Costs</span>
          </a>
        </li>
      </ul>
    </li>

    <!--// Uploads menu-->
    <li *ngSwitchCase='true' ngbDropdown class='nav-item dropdown pointer' display='dynamic'
        routerLinkActive='active' [routerLinkActiveOptions]='{ exact: true }'>
      <a class='nav-link dropdown-toggle' ngbDropdownToggle href='javascript:void(0);' id='leases-registry-menu'>
          <span>
              <fa-icon icon='fire-alt'></fa-icon>
              <span>
                 Processing
              </span>
          </span>
      </a>
      <ul class='dropdown-menu' ngbDropdownMenu aria-labelledby='registry-menu'>
        <li>
          <a
            class='dropdown-item'
            routerLink='lease-payment-upload'
            routerLinkActive='active'
            [routerLinkActiveOptions]='{ exact: true }'
            (click)='collapseNavbar()'
          >
            <fa-icon icon='asterisk' [fixedWidth]='true'></fa-icon>
            <span>Lease Payment Upload</span>
          </a>
        </li>
        <li>
          <a
            class='dropdown-item'
            routerLink='lease-liability-schedule-upload'
            routerLinkActive='active'
            [routerLinkActiveOptions]='{ exact: true }'
            (click)='collapseNavbar()'
          >
            <fa-icon icon='asterisk' [fixedWidth]='true'></fa-icon>
            <span>Lease Schedule Upload</span>
          </a>
        </li>
        <li>
          <a
            class='dropdown-item'
            routerLink='lease-amortization-calculation'
            routerLinkActive='active'
            [routerLinkActiveOptions]='{ exact: true }'
            (click)='collapseNavbar()'
          >
            <fa-icon icon='asterisk' [fixedWidth]='true'></fa-icon>
            <span>Lease Amortization Calculation</span>
          </a>
        </li>
        <li>
          <a
            class='dropdown-item'
            routerLink='rou-depreciation-request'
            routerLinkActive='active'
            [routerLinkActiveOptions]='{ exact: true }'
            (click)='collapseNavbar()'
          >
            <fa-icon icon='asterisk' [fixedWidth]='true'></fa-icon>
            <span>ROU Depreciation Request</span>
          </a>
        </li>
        <li>
          <a
            class='dropdown-item'
            routerLink='lease-liability-compilation'
            routerLinkActive='active'
            [routerLinkActiveOptions]='{ exact: true }'
            (click)='collapseNavbar()'
          >
            <fa-icon icon='asterisk' [fixedWidth]='true'></fa-icon>
            <span>Lease Amortization Compilation</span>
          </a>
        </li>

        <li>
          <a
            class='dropdown-item'
            routerLink='liability-enumeration'
            routerLinkActive='active'
            [routerLinkActiveOptions]='{ exact: true }'
            (click)='collapseNavbar()'
          >
            <fa-icon icon='asterisk' [fixedWidth]='true'></fa-icon>
            <span>Liability Enumeration</span>
          </a>
        </li>

        <li>
          <a
            class='dropdown-item'
            routerLink='present-value-enumeration'
            routerLinkActive='active'
            [routerLinkActiveOptions]='{ exact: true }'
            (click)='collapseNavbar()'
          >
            <fa-icon icon='asterisk' [fixedWidth]='true'></fa-icon>
            <span>Liability Enumeration</span>
          </a>
        </li>

      </ul>
    </li>

    <!-- Navigation for maintenance modules-->
    <jhi-maintenance-nav></jhi-maintenance-nav>

  </ul>
</div>
