<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div>
  <h2 id="page-heading" data-cy="RouDepreciationEntryReportItemHeading">
    <span>Rou Depreciation Entry Report Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="rouDepreciationEntryReportItems?.length === 0">
    <span>No rouDepreciationEntryReportItems found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="rouDepreciationEntryReportItems && rouDepreciationEntryReportItems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="leaseContractNumber">
            <span>Lease Contract Number</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fiscalPeriodCode">
            <span>Fiscal Period Code</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fiscalPeriodEndDate"><span>Fiscal Period End Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="assetCategoryName">
            <span>Asset Category Name</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="debitAccountNumber">
            <span>Debit Account Number</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="creditAccountNumber">
            <span>Credit Account Number</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description"><span>Description</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="shortTitle"><span>Short Title</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rouAssetIdentifier">
            <span>Rou Asset Identifier</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sequenceNumber"><span>Sequence Number</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="depreciationAmount"><span>Depreciation Amount</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="outstandingAmount"><span>Outstanding Amount</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let rouDepreciationEntryReportItem of rouDepreciationEntryReportItems; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/rou-depreciation-entry-report-item', rouDepreciationEntryReportItem.id, 'view']">{{
              rouDepreciationEntryReportItem.id
            }}</a>
          </td>
          <td>{{ rouDepreciationEntryReportItem.leaseContractNumber }}</td>
          <td>{{ rouDepreciationEntryReportItem.fiscalPeriodCode }}</td>
          <td>{{ rouDepreciationEntryReportItem.fiscalPeriodEndDate | formatMediumDate }}</td>
          <td>{{ rouDepreciationEntryReportItem.assetCategoryName }}</td>
          <td>{{ rouDepreciationEntryReportItem.debitAccountNumber }}</td>
          <td>{{ rouDepreciationEntryReportItem.creditAccountNumber }}</td>
          <td>{{ rouDepreciationEntryReportItem.description }}</td>
          <td>{{ rouDepreciationEntryReportItem.shortTitle }}</td>
          <td>{{ rouDepreciationEntryReportItem.rouAssetIdentifier }}</td>
          <td>{{ rouDepreciationEntryReportItem.sequenceNumber }}</td>
          <td>{{ rouDepreciationEntryReportItem.depreciationAmount }}</td>
          <td>{{ rouDepreciationEntryReportItem.outstandingAmount }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/rou-depreciation-entry-report-item', rouDepreciationEntryReportItem.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
