<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="leaseLiability">
      <h2 data-cy="leaseLiabilityDetailsHeading"><span>Lease Liability</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ leaseLiability.id }}</span>
        </dd>
        <dt><span>Lease Id</span></dt>
        <dd>
          <span>{{ leaseLiability.leaseId }}</span>
        </dd>
        <dt><span>Liability Amount</span></dt>
        <dd>
          <span>{{ leaseLiability.liabilityAmount }}</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
          <span>{{ leaseLiability.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
          <span>{{ leaseLiability.endDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Interest Rate</span></dt>
        <dd>
          <span>{{ leaseLiability.interestRate }}</span>
        </dd>
        <dt><span>Has Been Fully Amortised</span></dt>
        <dd>
          <span>{{ leaseLiability.hasBeenFullyAmortised }}</span>
        </dd>
        <dt><span>Lease Amortization Calculation</span></dt>
        <dd>
          <div *ngIf="leaseLiability.leaseAmortizationCalculation">
            <a [routerLink]="['/lease-amortization-calculation', leaseLiability.leaseAmortizationCalculation?.id, 'view']">{{
              leaseLiability.leaseAmortizationCalculation?.id
            }}</a>
          </div>
        </dd>
        <dt><span>Lease Contract</span></dt>
        <dd>
          <div *ngIf="leaseLiability.leaseContract">
            <a [routerLink]="['/ifrs-16-lease-contract', leaseLiability.leaseContract?.id, 'view']">{{
              leaseLiability.leaseContract?.bookingId
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/lease-liability', leaseLiability.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
