<!--

    Erp System - Mark X No 10 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div>
  <h2 id="page-heading" data-cy="PrepaymentAmortizationHeading">
    <span>Prepayment Amortizations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-prepayment-amortization"
        [routerLink]="['/prepayment-amortization/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Prepayment Amortization </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="prepaymentAmortizations?.length === 0">
    <span>No prepaymentAmortizations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="prepaymentAmortizations && prepaymentAmortizations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description"><span>Description</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prepaymentAmount"><span>Prepayment Amount</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="inactive"><span>Inactive</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prepaymentAccount.catalogueNumber"><span>Prepayment Account</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="settlementCurrency.iso4217CurrencyCode">
            <span>Settlement Currency</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="debitAccount.accountNumber"><span>Debit Account</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="creditAccount.accountNumber"><span>Credit Account</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="amortizationPeriod.periodCode"><span>Amortization Period</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fiscalMonth.endDate"><span>Fiscal Month</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prepaymentCompilationRequest.id">
            <span>Prepayment Compilation Request</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prepaymentAmortization of prepaymentAmortizations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/prepayment-amortization', prepaymentAmortization.id, 'view']">{{ prepaymentAmortization.id }}</a>
          </td>
          <td>{{ prepaymentAmortization.description }}</td>
          <td>{{ prepaymentAmortization.prepaymentAmount | currency }}</td>
          <td>{{ prepaymentAmortization.inactive }}</td>
          <td>
            <div *ngIf="prepaymentAmortization.prepaymentAccount">
              <a [routerLink]="['/prepayment-account', prepaymentAmortization.prepaymentAccount?.id, 'view']">{{
                prepaymentAmortization.prepaymentAccount?.catalogueNumber
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="prepaymentAmortization.settlementCurrency">
              <a [routerLink]="['/settlement-currency', prepaymentAmortization.settlementCurrency?.id, 'view']">{{
                prepaymentAmortization.settlementCurrency?.iso4217CurrencyCode
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="prepaymentAmortization.debitAccount">
              <a [routerLink]="['/transaction-account', prepaymentAmortization.debitAccount?.id, 'view']">{{
                prepaymentAmortization.debitAccount?.accountNumber
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="prepaymentAmortization.creditAccount">
              <a [routerLink]="['/transaction-account', prepaymentAmortization.creditAccount?.id, 'view']">{{
                prepaymentAmortization.creditAccount?.accountNumber
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="prepaymentAmortization.amortizationPeriod">
              <a [routerLink]="['/amortization-period', prepaymentAmortization.amortizationPeriod?.id, 'view']">{{
                prepaymentAmortization.amortizationPeriod?.periodCode
                }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="prepaymentAmortization.fiscalMonth">
              <a [routerLink]="['/fiscal-month', prepaymentAmortization.fiscalMonth?.id, 'view']">{{
                prepaymentAmortization.fiscalMonth?.endDate
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="prepaymentAmortization.prepaymentCompilationRequest">
              <a [routerLink]="['/prepayment-compilation-request', prepaymentAmortization.prepaymentCompilationRequest?.id, 'view']">{{
                prepaymentAmortization.prepaymentCompilationRequest?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/prepayment-amortization', prepaymentAmortization.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/prepayment-amortization', prepaymentAmortization.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(prepaymentAmortization)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="prepaymentAmortizations && prepaymentAmortizations.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
