<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div  [ngSwitch]="isAuthenticated()">
  <!-- Lease Report Navigation-->
  <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic"
  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="reports-menu">
          <span>
              <fa-icon icon="map-marked-alt"></fa-icon>
              <span>
                Lease Reports
              </span>
          </span>
      </a>

      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="reports-menu">

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/lease-liability-by-account-report']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Liability by Account Report</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/lease-liability-by-account-report-item']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Liability by Account Report Items</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/lease-liability-posting-report']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Liability Posting Report</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/lease-liability-posting-report-item']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Liability Posting Report Items</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/lease-liability-report']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Liability Report</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/lease-repayment-period/report-nav']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="leasePeriodReportPathToLiabilityReportItem()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Liability Report Items</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/lease-liability-schedule-report']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Liability Schedule Report</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/lease-liability-schedule-report-item']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Liability Schedule Report Items</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/lease-liability-schedule-report/report-nav']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Liability Schedule Dashboard</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/reports/view/lease-interest-paid-transfer']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Lease Interest Paid Transfer Summary</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/reports/view/lease-interest-accrued']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Lease Interest Accrued Summary</span>
          </a>
        </li>

      </ul>
  </li>

</div>
