<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div  [ngSwitch]="isAuthenticated()">
  <!-- Lease report navigation-->
  <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic"
  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="reports-menu">
          <span>
              <fa-icon icon="map-marked-alt"></fa-icon>
              <span>
                ROU Reports
              </span>
          </span>
      </a>

      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="reports-menu">

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/rou-account-balance-report']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>ROU Account Balances</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/lease-period/report-nav']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="leasePeriodReportPathToRouAccountBalanceReportItem()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>ROU Account Balances Items</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/rou-asset-list-report']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>ROU Asset List Report</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/rou-asset-nbv-report']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>ROU Asset NBV Report</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/lease-period/report-nav']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="leasePeriodReportPathToRouAssetNBVReportItem()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>ROU Asset NBV Items</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/rou-depreciation-schedule-view/report-nav']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>ROU Depreciation Schedule</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/rou-depreciation-entry-report']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>ROU Depreciation Entry Report</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/rou-depreciation-posting-report']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>ROU Depreciation Posting</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/lease-period/report-nav']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="leasePeriodReportPathToRouDepreciationPostingReportItem()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>ROU Depreciation Posting Items</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/rou-monthly-depreciation-report']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>ROU Monthly Depreciation</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/rou-monthly-depreciation-report-item']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>ROU Monthly Depreciation Items</span>
          </a>
        </li>

        <li *jhiHasAnyAuthority="['ROLE_LEASE_MANAGER']">
          <a
            class="dropdown-item"
            [routerLink]="['/rou-depreciation-report-item']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>ROU Depreciation Items</span>
          </a>
        </li>

      </ul>

  </li>

</div>
