<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-settlement-currency-heading" data-cy="SettlementCurrencyCreateUpdateHeading">Create or edit a Settlement Currency</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_iso4217CurrencyCode">Iso 4217 Currency Code</label>
          <input
            type="text"
            class="form-control"
            name="iso4217CurrencyCode"
            id="field_iso4217CurrencyCode"
            data-cy="iso4217CurrencyCode"
            formControlName="iso4217CurrencyCode"
          />
          <div
            *ngIf="
              editForm.get('iso4217CurrencyCode')!.invalid &&
              (editForm.get('iso4217CurrencyCode')!.dirty || editForm.get('iso4217CurrencyCode')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('iso4217CurrencyCode')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('iso4217CurrencyCode')?.errors?.minlength">
              This field is required to be at least 3 characters.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('iso4217CurrencyCode')?.errors?.maxlength">
              This field cannot be longer than 3 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_currencyName">Currency Name</label>
          <input
            type="text"
            class="form-control"
            name="currencyName"
            id="field_currencyName"
            data-cy="currencyName"
            formControlName="currencyName"
          />
          <div
            *ngIf="editForm.get('currencyName')!.invalid && (editForm.get('currencyName')!.dirty || editForm.get('currencyName')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('currencyName')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_country">Country</label>
          <input type="text" class="form-control" name="country" id="field_country" data-cy="country" formControlName="country" />
          <div *ngIf="editForm.get('country')!.invalid && (editForm.get('country')!.dirty || editForm.get('country')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('country')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_numericCode">Numeric Code</label>
          <input
            type="text"
            class="form-control"
            name="numericCode"
            id="field_numericCode"
            data-cy="numericCode"
            formControlName="numericCode"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_minorUnit">Minor Unit</label>
          <input type="text" class="form-control" name="minorUnit" id="field_minorUnit" data-cy="minorUnit" formControlName="minorUnit" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fileUploadToken">File Upload Token</label>
          <input
            type="text"
            class="form-control"
            name="fileUploadToken"
            id="field_fileUploadToken"
            data-cy="fileUploadToken"
            formControlName="fileUploadToken"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_compilationToken">Compilation Token</label>
          <input
            type="text"
            class="form-control"
            name="compilationToken"
            id="field_compilationToken"
            data-cy="compilationToken"
            formControlName="compilationToken"
          />
        </div>

        <div class="form-group">
          <label for="field_placeholders">Placeholder</label>
          <select
            class="form-control"
            id="field_placeholders"
            data-cy="placeholder"
            multiple
            name="placeholders"
            formControlName="placeholders"
          >
            <option
              [ngValue]="getSelectedPlaceholder(placeholderOption, editForm.get('placeholders')!.value)"
              *ngFor="let placeholderOption of placeholdersSharedCollection; trackBy: trackPlaceholderById"
            >
              {{ placeholderOption.description }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
