<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="financialDerivativeTypeCode">
      <h2 data-cy="financialDerivativeTypeCodeDetailsHeading"><span>Financial Derivative Type Code</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ financialDerivativeTypeCode.id }}</span>
        </dd>
        <dt><span>Financial Derivative Type Code</span></dt>
        <dd>
          <span>{{ financialDerivativeTypeCode.financialDerivativeTypeCode }}</span>
        </dd>
        <dt><span>Financial Derivative Type</span></dt>
        <dd>
          <span>{{ financialDerivativeTypeCode.financialDerivativeType }}</span>
        </dd>
        <dt><span>Financial Derivative Type Details</span></dt>
        <dd>
          <span>{{ financialDerivativeTypeCode.financialDerivativeTypeDetails }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/financial-derivative-type-code', financialDerivativeTypeCode.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
