<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="crbGlCode">
      <h2 data-cy="crbGlCodeDetailsHeading"><span>Crb Gl Code</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ crbGlCode.id }}</span>
        </dd>
        <dt><span>Gl Code</span></dt>
        <dd>
          <span>{{ crbGlCode.glCode }}</span>
        </dd>
        <dt><span>Gl Description</span></dt>
        <dd>
          <span>{{ crbGlCode.glDescription }}</span>
        </dd>
        <dt><span>Gl Type</span></dt>
        <dd>
          <span>{{ crbGlCode.glType }}</span>
        </dd>
        <dt><span>Institution Category</span></dt>
        <dd>
          <span>{{ crbGlCode.institutionCategory }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/crb-gl-code', crbGlCode.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
