<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cardState">
      <h2 data-cy="cardStateDetailsHeading"><span>Card State</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ cardState.id }}</span>
        </dd>
        <dt><span>Card State Flag</span></dt>
        <dd>
          <span>{{ cardState.cardStateFlag }}</span>
        </dd>
        <dt><span>Card State Flag Details</span></dt>
        <dd>
          <span>{{ cardState.cardStateFlagDetails }}</span>
        </dd>
        <dt><span>Card State Flag Description</span></dt>
        <dd>
          <span>{{ cardState.cardStateFlagDescription }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/card-state', cardState.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
