<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-nbv-compilation-job-heading" data-cy="NbvCompilationJobCreateUpdateHeading">Create or edit a Nbv Compilation Job</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_compilationJobIdentifier">Compilation Job Identifier</label>
          <input
            type="text"
            class="form-control"
            name="compilationJobIdentifier"
            id="field_compilationJobIdentifier"
            data-cy="compilationJobIdentifier"
            formControlName="compilationJobIdentifier"
          />
          <div
            *ngIf="
              editForm.get('compilationJobIdentifier')!.invalid &&
              (editForm.get('compilationJobIdentifier')!.dirty || editForm.get('compilationJobIdentifier')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('compilationJobIdentifier')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_compilationJobTimeOfRequest">Compilation Job Time Of Request</label>
          <div class="d-flex">
            <input
              id="field_compilationJobTimeOfRequest"
              data-cy="compilationJobTimeOfRequest"
              type="datetime-local"
              class="form-control"
              name="compilationJobTimeOfRequest"
              formControlName="compilationJobTimeOfRequest"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_entitiesAffected">Entities Affected</label>
          <input
            type="number"
            class="form-control"
            name="entitiesAffected"
            id="field_entitiesAffected"
            data-cy="entitiesAffected"
            formControlName="entitiesAffected"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_compilationStatus">Compilation Status</label>
          <select
            class="form-control"
            name="compilationStatus"
            formControlName="compilationStatus"
            id="field_compilationStatus"
            data-cy="compilationStatus"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let nVBCompilationStatus of nVBCompilationStatusValues" [value]="nVBCompilationStatus">
              nVBCompilationStatus
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_jobTitle">Job Title</label>
          <input type="text" class="form-control" name="jobTitle" id="field_jobTitle" data-cy="jobTitle" formControlName="jobTitle" />
          <div *ngIf="editForm.get('jobTitle')!.invalid && (editForm.get('jobTitle')!.dirty || editForm.get('jobTitle')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('jobTitle')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_numberOfBatches">Number Of Batches</label>
          <input
            type="number"
            class="form-control"
            name="numberOfBatches"
            id="field_numberOfBatches"
            data-cy="numberOfBatches"
            formControlName="numberOfBatches"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_numberOfProcessedBatches">Number Of Processed Batches</label>
          <input
            type="number"
            class="form-control"
            name="numberOfProcessedBatches"
            id="field_numberOfProcessedBatches"
            data-cy="numberOfProcessedBatches"
            formControlName="numberOfProcessedBatches"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_processingTime">Processing Time</label>
          <input
            type="text"
            class="form-control"
            name="processingTime"
            id="field_processingTime"
            data-cy="processingTime"
            formControlName="processingTime"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_activePeriod">Active Period</label>
          <select class="form-control" id="field_activePeriod" data-cy="activePeriod" name="activePeriod" formControlName="activePeriod">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                depreciationPeriodOption.id === editForm.get('activePeriod')!.value?.id
                  ? editForm.get('activePeriod')!.value
                  : depreciationPeriodOption
              "
              *ngFor="let depreciationPeriodOption of depreciationPeriodsSharedCollection; trackBy: trackDepreciationPeriodById"
            >
              {{ depreciationPeriodOption.endDate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_initiatedBy">Initiated By</label>
          <select class="form-control" id="field_initiatedBy" data-cy="initiatedBy" name="initiatedBy" formControlName="initiatedBy">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                applicationUserOption.id === editForm.get('initiatedBy')!.value?.id
                  ? editForm.get('initiatedBy')!.value
                  : applicationUserOption
              "
              *ngFor="let applicationUserOption of applicationUsersSharedCollection; trackBy: trackApplicationUserById"
            >
              {{ applicationUserOption.applicationIdentity }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
