<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="business-document-detail page">
  <div *ngIf="businessDocument" class="detail-shell">
    <div class="heading-row">
      <div>
        <h2 data-cy="businessDocumentDetailsHeading">Business Document</h2>
        <div class="summary-line">
          <span *ngIf="businessDocument.documentTitle">{{ businessDocument.documentTitle }}</span>
          <span *ngIf="businessDocument.documentSerial">Serial {{ businessDocument.documentSerial }}</span>
          <span *ngIf="businessDocument.lastModified">Updated {{ businessDocument.lastModified | formatMediumDatetime }}</span>
        </div>
      </div>
      <div class="button-row">
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>
        <button type="button" [routerLink]="['/business-document', businessDocument.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    </div>

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <div class="detail-grid">
      <section class="detail-panel">
        <h3>Document Details</h3>
        <dl class="field-grid">
          <div><dt>ID</dt><dd>{{ businessDocument.id }}</dd></div>
          <div><dt>Document Title</dt><dd>{{ businessDocument.documentTitle }}</dd></div>
          <div><dt>Description</dt><dd>{{ businessDocument.description }}</dd></div>
          <div><dt>Document Serial</dt><dd>{{ businessDocument.documentSerial }}</dd></div>
          <div><dt>Last Modified</dt><dd>{{ businessDocument.lastModified | formatMediumDatetime }}</dd></div>
          <div><dt>Attachment File Path</dt><dd>{{ businessDocument.attachmentFilePath }}</dd></div>
          <div><dt>File Tampered</dt><dd>{{ businessDocument.fileTampered }}</dd></div>
          <div><dt>Document File Checksum</dt><dd *jhiHasAnyAuthority="'ROLE_DEV'">{{ businessDocument.documentFileChecksum }}</dd></div>
        </dl>
      </section>

      <section class="detail-panel">
        <h3>Document Preview</h3>
        <div class="file-toolbar" *ngIf="businessDocument.documentFile">
          <button type="button" class="file-link" (click)="openFile(businessDocument.documentFile, businessDocument.documentFileContentType)">
            Open in browser
          </button>
          <span>{{ businessDocument.documentFileContentType }}, {{ byteSize(businessDocument.documentFile) }}</span>
        </div>
        <div class="document-preview" *ngIf="documentPreviewUrl; else noPreview">
          <iframe [src]="documentPreviewUrl" title="Business document preview"></iframe>
        </div>
        <ng-template #noPreview>
          <div class="empty-preview">No preview is available for this document.</div>
        </ng-template>
      </section>
    </div>

    <section class="detail-panel secondary-panel">
      <h3>Related Records</h3>
      <dl class="field-grid compact-grid">
        <div><dt>Created By</dt><dd><a *ngIf="businessDocument.createdBy" [routerLink]="['/application-user', businessDocument.createdBy?.id, 'view']">{{ businessDocument.createdBy?.applicationIdentity }}</a></dd></div>
        <div><dt>Last Modified By</dt><dd><a *ngIf="businessDocument.lastModifiedBy" [routerLink]="['/application-user', businessDocument.lastModifiedBy?.id, 'view']">{{ businessDocument.lastModifiedBy?.applicationIdentity }}</a></dd></div>
        <div><dt>Originating Department</dt><dd><a *ngIf="businessDocument.originatingDepartment" [routerLink]="['/dealer', businessDocument.originatingDepartment?.id, 'view']">{{ businessDocument.originatingDepartment?.dealerName }}</a></dd></div>
        <div><dt>File Checksum Algorithm</dt><dd><a *ngIf="businessDocument.fileChecksumAlgorithm" [routerLink]="['/algorithm', businessDocument.fileChecksumAlgorithm?.id, 'view']">{{ businessDocument.fileChecksumAlgorithm?.name }}</a></dd></div>
        <div><dt>Security Clearance</dt><dd><a *ngIf="businessDocument.securityClearance" [routerLink]="['/security-clearance', businessDocument.securityClearance?.id, 'view']">{{ businessDocument.securityClearance?.clearanceLevel }}</a></dd></div>
        <div><dt>Application Mappings</dt><dd><span *ngFor="let applicationMappings of businessDocument.applicationMappings; let last = last"><a [routerLink]="['/universally-unique-mapping', applicationMappings?.id, 'view']">{{ applicationMappings.universalKey }}</a>{{ last ? '' : ', ' }}</span></dd></div>
        <div><dt>Placeholder</dt><dd><span *ngFor="let placeholder of businessDocument.placeholders; let last = last"><a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a>{{ last ? '' : ', ' }}</span></dd></div>
      </dl>
    </section>
  </div>
</div>
