<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="sourcesOfFundsTypeCode">
      <h2 data-cy="sourcesOfFundsTypeCodeDetailsHeading"><span>Sources Of Funds Type Code</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ sourcesOfFundsTypeCode.id }}</span>
        </dd>
        <dt><span>Source Of Funds Type Code</span></dt>
        <dd>
          <span>{{ sourcesOfFundsTypeCode.sourceOfFundsTypeCode }}</span>
        </dd>
        <dt><span>Source Of Funds Type</span></dt>
        <dd>
          <span>{{ sourcesOfFundsTypeCode.sourceOfFundsType }}</span>
        </dd>
        <dt><span>Source Of Funds Type Details</span></dt>
        <dd>
          <span>{{ sourcesOfFundsTypeCode.sourceOfFundsTypeDetails }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/sources-of-funds-type-code', sourcesOfFundsTypeCode.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
