<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div>
  <h2 id="page-heading" data-cy="PerformanceOfForeignSubsidiariesHeading">
    <span>Performance Of Foreign Subsidiaries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-performance-of-foreign-subsidiaries"
        [routerLink]="['/performance-of-foreign-subsidiaries/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Performance Of Foreign Subsidiaries </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="performanceOfForeignSubsidiaries?.length === 0">
    <span>No performanceOfForeignSubsidiaries found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="performanceOfForeignSubsidiaries && performanceOfForeignSubsidiaries.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="subsidiaryName">
            <span>Subsidiary Name</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="reportingDate"><span>Reporting Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="subsidiaryId"><span>Subsidiary Id</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="grossLoansAmount"><span>Gross Loans Amount</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="grossNPALoanAmount"><span>Gross NPA Loan Amount</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="grossAssetsAmount"><span>Gross Assets Amount</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="grossDepositsAmount"><span>Gross Deposits Amount</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="profitBeforeTax"><span>Profit Before Tax</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="totalCapitalAdequacyRatio">
            <span>Total Capital Adequacy Ratio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="liquidityRatio"><span>Liquidity Ratio</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="generalProvisions"><span>General Provisions</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="specificProvisions"><span>Specific Provisions</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="interestInSuspenseAmount"><span>Interest In Suspense Amount</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="totalNumberOfStaff"><span>Total Number Of Staff</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numberOfBranches"><span>Number Of Branches</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="bankCode.institutionName"><span>Bank Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="subsidiaryCountryCode.countryDescription">
            <span>Subsidiary Country Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let performanceOfForeignSubsidiaries of performanceOfForeignSubsidiaries; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/performance-of-foreign-subsidiaries', performanceOfForeignSubsidiaries.id, 'view']">{{
              performanceOfForeignSubsidiaries.id
            }}</a>
          </td>
          <td>{{ performanceOfForeignSubsidiaries.subsidiaryName }}</td>
          <td>{{ performanceOfForeignSubsidiaries.reportingDate | formatMediumDate }}</td>
          <td>{{ performanceOfForeignSubsidiaries.subsidiaryId }}</td>
          <td>{{ performanceOfForeignSubsidiaries.grossLoansAmount }}</td>
          <td>{{ performanceOfForeignSubsidiaries.grossNPALoanAmount }}</td>
          <td>{{ performanceOfForeignSubsidiaries.grossAssetsAmount }}</td>
          <td>{{ performanceOfForeignSubsidiaries.grossDepositsAmount }}</td>
          <td>{{ performanceOfForeignSubsidiaries.profitBeforeTax }}</td>
          <td>{{ performanceOfForeignSubsidiaries.totalCapitalAdequacyRatio }}</td>
          <td>{{ performanceOfForeignSubsidiaries.liquidityRatio }}</td>
          <td>{{ performanceOfForeignSubsidiaries.generalProvisions }}</td>
          <td>{{ performanceOfForeignSubsidiaries.specificProvisions }}</td>
          <td>{{ performanceOfForeignSubsidiaries.interestInSuspenseAmount }}</td>
          <td>{{ performanceOfForeignSubsidiaries.totalNumberOfStaff }}</td>
          <td>{{ performanceOfForeignSubsidiaries.numberOfBranches }}</td>
          <td>
            <div *ngIf="performanceOfForeignSubsidiaries.bankCode">
              <a [routerLink]="['/institution-code', performanceOfForeignSubsidiaries.bankCode?.id, 'view']">{{
                performanceOfForeignSubsidiaries.bankCode?.institutionName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="performanceOfForeignSubsidiaries.subsidiaryCountryCode">
              <a [routerLink]="['/iso-country-code', performanceOfForeignSubsidiaries.subsidiaryCountryCode?.id, 'view']">{{
                performanceOfForeignSubsidiaries.subsidiaryCountryCode?.countryDescription
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/performance-of-foreign-subsidiaries', performanceOfForeignSubsidiaries.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/performance-of-foreign-subsidiaries', performanceOfForeignSubsidiaries.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button
                type="submit"
                (click)="delete(performanceOfForeignSubsidiaries)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="performanceOfForeignSubsidiaries && performanceOfForeignSubsidiaries.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
