<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="transactionAccountCategory">
      <h2 data-cy="transactionAccountCategoryDetailsHeading"><span>Transaction Account Category</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ transactionAccountCategory.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ transactionAccountCategory.name }}</span>
        </dd>
        <dt><span>Transaction Account Posting Type</span></dt>
        <dd>
          <span>{{ transactionAccountCategory.transactionAccountPostingType }}</span>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of transactionAccountCategory.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Account Ledger</span></dt>
        <dd>
          <div *ngIf="transactionAccountCategory.accountLedger">
            <a [routerLink]="['/transaction-account-ledger', transactionAccountCategory.accountLedger?.id, 'view']">{{
              transactionAccountCategory.accountLedger?.ledgerName
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/transaction-account-category', transactionAccountCategory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
