<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="terminalFunctions">
      <h2 data-cy="terminalFunctionsDetailsHeading"><span>Terminal Functions</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ terminalFunctions.id }}</span>
        </dd>
        <dt><span>Function Code</span></dt>
        <dd>
          <span>{{ terminalFunctions.functionCode }}</span>
        </dd>
        <dt><span>Terminal Functionality</span></dt>
        <dd>
          <span>{{ terminalFunctions.terminalFunctionality }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/terminal-functions', terminalFunctions.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
