<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="fxTransactionType">
      <h2 data-cy="fxTransactionTypeDetailsHeading"><span>Fx Transaction Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ fxTransactionType.id }}</span>
        </dd>
        <dt><span>Fx Transaction Type Code</span></dt>
        <dd>
          <span>{{ fxTransactionType.fxTransactionTypeCode }}</span>
        </dd>
        <dt><span>Fx Transaction Type</span></dt>
        <dd>
          <span>{{ fxTransactionType.fxTransactionType }}</span>
        </dd>
        <dt><span>Fx Transaction Type Description</span></dt>
        <dd>
          <span>{{ fxTransactionType.fxTransactionTypeDescription }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/fx-transaction-type', fxTransactionType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
