<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-depreciation-period-heading" data-cy="DepreciationPeriodCreateUpdateHeading">Create or edit a Depreciation Period</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_startDate">Start Date</label>
          <div class="input-group">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="text"
              class="form-control"
              name="startDate"
              ngbDatepicker
              #startDateDp="ngbDatepicker"
              formControlName="startDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div *ngIf="editForm.get('startDate')!.invalid && (editForm.get('startDate')!.dirty || editForm.get('startDate')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('startDate')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_endDate">End Date</label>
          <div class="input-group">
            <input
              id="field_endDate"
              data-cy="endDate"
              type="text"
              class="form-control"
              name="endDate"
              ngbDatepicker
              #endDateDp="ngbDatepicker"
              formControlName="endDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
          <div *ngIf="editForm.get('endDate')!.invalid && (editForm.get('endDate')!.dirty || editForm.get('endDate')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('endDate')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_depreciationPeriodStatus">Depreciation Period Status</label>
          <select
            class="form-control"
            name="depreciationPeriodStatus"
            formControlName="depreciationPeriodStatus"
            id="field_depreciationPeriodStatus"
            data-cy="depreciationPeriodStatus"
          >
            <option [ngValue]="null"></option>
            <option
              *ngFor="let depreciationPeriodStatusTypes of depreciationPeriodStatusTypesValues"
              [value]="depreciationPeriodStatusTypes"
            >
              depreciationPeriodStatusTypes
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_periodCode">Period Code</label>
          <input
            type="text"
            class="form-control"
            name="periodCode"
            id="field_periodCode"
            data-cy="periodCode"
            formControlName="periodCode"
          />
          <div *ngIf="editForm.get('periodCode')!.invalid && (editForm.get('periodCode')!.dirty || editForm.get('periodCode')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('periodCode')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_processLocked">Process Locked</label>
          <input
            type="checkbox"
            class="form-check"
            name="processLocked"
            id="field_processLocked"
            data-cy="processLocked"
            formControlName="processLocked"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_previousPeriod">Previous Period</label>
          <select
            class="form-control"
            id="field_previousPeriod"
            data-cy="previousPeriod"
            name="previousPeriod"
            formControlName="previousPeriod"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                depreciationPeriodOption.id === editForm.get('previousPeriod')!.value?.id
                  ? editForm.get('previousPeriod')!.value
                  : depreciationPeriodOption
              "
              *ngFor="let depreciationPeriodOption of previousPeriodsCollection; trackBy: trackDepreciationPeriodById"
            >
              {{ depreciationPeriodOption.endDate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdBy">Created By</label>
          <select class="form-control" id="field_createdBy" data-cy="createdBy" name="createdBy" formControlName="createdBy">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                applicationUserOption.id === editForm.get('createdBy')!.value?.id ? editForm.get('createdBy')!.value : applicationUserOption
              "
              *ngFor="let applicationUserOption of applicationUsersSharedCollection; trackBy: trackApplicationUserById"
            >
              {{ applicationUserOption.applicationIdentity }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fiscalYear">Fiscal Year</label>
          <select class="form-control" id="field_fiscalYear" data-cy="fiscalYear" name="fiscalYear" formControlName="fiscalYear">
            <option *ngIf="!editForm.get('fiscalYear')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                fiscalYearOption.id === editForm.get('fiscalYear')!.value?.id ? editForm.get('fiscalYear')!.value : fiscalYearOption
              "
              *ngFor="let fiscalYearOption of fiscalYearsSharedCollection; trackBy: trackFiscalYearById"
            >
              {{ fiscalYearOption.fiscalYearCode }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['fiscalYear'])!.invalid && (editForm.get(['fiscalYear'])!.dirty || editForm.get(['fiscalYear'])!.touched)"
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['fiscalYear'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fiscalMonth">Fiscal Month</label>
          <select class="form-control" id="field_fiscalMonth" data-cy="fiscalMonth" name="fiscalMonth" formControlName="fiscalMonth">
            <option *ngIf="!editForm.get('fiscalMonth')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                fiscalMonthOption.id === editForm.get('fiscalMonth')!.value?.id ? editForm.get('fiscalMonth')!.value : fiscalMonthOption
              "
              *ngFor="let fiscalMonthOption of fiscalMonthsSharedCollection; trackBy: trackFiscalMonthById"
            >
              {{ fiscalMonthOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['fiscalMonth'])!.invalid && (editForm.get(['fiscalMonth'])!.dirty || editForm.get(['fiscalMonth'])!.touched)"
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['fiscalMonth'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fiscalQuarter">Fiscal Quarter</label>
          <select
            class="form-control"
            id="field_fiscalQuarter"
            data-cy="fiscalQuarter"
            name="fiscalQuarter"
            formControlName="fiscalQuarter"
          >
            <option *ngIf="!editForm.get('fiscalQuarter')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                fiscalQuarterOption.id === editForm.get('fiscalQuarter')!.value?.id
                  ? editForm.get('fiscalQuarter')!.value
                  : fiscalQuarterOption
              "
              *ngFor="let fiscalQuarterOption of fiscalQuartersSharedCollection; trackBy: trackFiscalQuarterById"
            >
              {{ fiscalQuarterOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['fiscalQuarter'])!.invalid && (editForm.get(['fiscalQuarter'])!.dirty || editForm.get(['fiscalQuarter'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['fiscalQuarter'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
