<!--

    Erp System - Mark X No 10 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-depreciation-method-heading" data-cy="DepreciationMethodCreateUpdateHeading">Create or edit a Depreciation Method</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_depreciationMethodName">Depreciation Method Name</label>
          <input
            type="text"
            class="form-control"
            name="depreciationMethodName"
            id="field_depreciationMethodName"
            data-cy="depreciationMethodName"
            formControlName="depreciationMethodName"
          />
          <div
            *ngIf="
              editForm.get('depreciationMethodName')!.invalid &&
              (editForm.get('depreciationMethodName')!.dirty || editForm.get('depreciationMethodName')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('depreciationMethodName')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_depreciationType">Depreciation Type</label>
          <select
            class="form-control"
            name="depreciationType"
            formControlName="depreciationType"
            id="field_depreciationType"
            data-cy="depreciationType"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let depreciationTypes of depreciationTypesValues" [value]="depreciationTypes">depreciationTypes</option>
          </select>
          <div
            *ngIf="
              editForm.get('depreciationType')!.invalid &&
              (editForm.get('depreciationType')!.dirty || editForm.get('depreciationType')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('depreciationType')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_remarks">Remarks</label>
          <textarea class="form-control" name="remarks" id="field_remarks" data-cy="remarks" formControlName="remarks"></textarea>
        </div>

        <div class="form-group">
          <label for="field_placeholders">Placeholder</label>
          <select
            class="form-control"
            id="field_placeholders"
            data-cy="placeholder"
            multiple
            name="placeholders"
            formControlName="placeholders"
          >
            <option
              [ngValue]="getSelectedPlaceholder(placeholderOption, editForm.get('placeholders')!.value)"
              *ngFor="let placeholderOption of placeholdersSharedCollection; trackBy: trackPlaceholderById"
            >
              {{ placeholderOption.description }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
