<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="shareHoldingFlag">
      <h2 data-cy="shareHoldingFlagDetailsHeading"><span>Share Holding Flag</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ shareHoldingFlag.id }}</span>
        </dd>
        <dt><span>Shareholding Flag Type Code</span></dt>
        <dd>
          <span>{{ shareHoldingFlag.shareholdingFlagTypeCode }}</span>
        </dd>
        <dt><span>Shareholding Flag Type</span></dt>
        <dd>
          <span>{{ shareHoldingFlag.shareholdingFlagType }}</span>
        </dd>
        <dt><span>Shareholding Type Description</span></dt>
        <dd>
          <span>{{ shareHoldingFlag.shareholdingTypeDescription }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/share-holding-flag', shareHoldingFlag.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
