<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="workProjectRegister">
      <h2 data-cy="workProjectRegisterDetailsHeading"><span>Work Project Register</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ workProjectRegister.id }}</span>
        </dd>
        <dt><span>Catalogue Number</span></dt>
        <dd>
          <span>{{ workProjectRegister.catalogueNumber }}</span>
        </dd>
        <dt><span>Project Title</span></dt>
        <dd>
          <span>{{ workProjectRegister.projectTitle }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ workProjectRegister.description }}</span>
        </dd>
        <dt><span>Details</span></dt>
        <dd>
          <div *ngIf="workProjectRegister.details">
            <a (click)="openFile(workProjectRegister.details, workProjectRegister.detailsContentType)">open</a>
            {{ workProjectRegister.detailsContentType }}, {{ byteSize(workProjectRegister.details) }}
          </div>
        </dd>
        <dt><span>Total Project Cost</span></dt>
        <dd>
          <span>{{ workProjectRegister.totalProjectCost | currency }}</span>
        </dd>
        <dt><span>Additional Notes</span></dt>
        <dd>
          <div *ngIf="workProjectRegister.additionalNotes">
            <a (click)="openFile(workProjectRegister.additionalNotes, workProjectRegister.additionalNotesContentType)">open</a>
            {{ workProjectRegister.additionalNotesContentType }}, {{ byteSize(workProjectRegister.additionalNotes) }}
          </div>
        </dd>
        <dt><span>Dealers</span></dt>
        <dd>
          <span *ngFor="let dealers of workProjectRegister.dealers; let last = last">
            <a [routerLink]="['/dealer', dealers?.id, 'view']">{{ dealers.dealerName }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Settlement Currency</span></dt>
        <dd>
          <div *ngIf="workProjectRegister.settlementCurrency">
            <a [routerLink]="['/settlement-currency', workProjectRegister.settlementCurrency?.id, 'view']">{{
              workProjectRegister.settlementCurrency?.iso4217CurrencyCode
            }}</a>
          </div>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of workProjectRegister.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Business Document</span></dt>
        <dd>
          <span *ngFor="let businessDocument of workProjectRegister.businessDocuments; let last = last">
            <a [routerLink]="['/business-document', businessDocument?.id, 'view']">{{ businessDocument.documentTitle }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/work-project-register', workProjectRegister.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
