<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cardAcquiringTransaction">
      <h2 data-cy="cardAcquiringTransactionDetailsHeading"><span>Card Acquiring Transaction</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ cardAcquiringTransaction.id }}</span>
        </dd>
        <dt><span>Reporting Date</span></dt>
        <dd>
          <span>{{ cardAcquiringTransaction.reportingDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Terminal Id</span></dt>
        <dd>
          <span>{{ cardAcquiringTransaction.terminalId }}</span>
        </dd>
        <dt><span>Number Of Transactions</span></dt>
        <dd>
          <span>{{ cardAcquiringTransaction.numberOfTransactions }}</span>
        </dd>
        <dt><span>Value Of Transactions In LCY</span></dt>
        <dd>
          <span>{{ cardAcquiringTransaction.valueOfTransactionsInLCY }}</span>
        </dd>
        <dt><span>Bank Code</span></dt>
        <dd>
          <div *ngIf="cardAcquiringTransaction.bankCode">
            <a [routerLink]="['/institution-code', cardAcquiringTransaction.bankCode?.id, 'view']">{{
              cardAcquiringTransaction.bankCode?.institutionName
            }}</a>
          </div>
        </dd>
        <dt><span>Channel Type</span></dt>
        <dd>
          <div *ngIf="cardAcquiringTransaction.channelType">
            <a [routerLink]="['/channel-type', cardAcquiringTransaction.channelType?.id, 'view']">{{
              cardAcquiringTransaction.channelType?.channelTypes
            }}</a>
          </div>
        </dd>
        <dt><span>Card Brand Type</span></dt>
        <dd>
          <div *ngIf="cardAcquiringTransaction.cardBrandType">
            <a [routerLink]="['/card-brand-type', cardAcquiringTransaction.cardBrandType?.id, 'view']">{{
              cardAcquiringTransaction.cardBrandType?.cardBrandType
            }}</a>
          </div>
        </dd>
        <dt><span>Currency Of Transaction</span></dt>
        <dd>
          <div *ngIf="cardAcquiringTransaction.currencyOfTransaction">
            <a [routerLink]="['/iso-currency-code', cardAcquiringTransaction.currencyOfTransaction?.id, 'view']">{{
              cardAcquiringTransaction.currencyOfTransaction?.alphabeticCode
            }}</a>
          </div>
        </dd>
        <dt><span>Card Issuer Category</span></dt>
        <dd>
          <div *ngIf="cardAcquiringTransaction.cardIssuerCategory">
            <a [routerLink]="['/card-category-type', cardAcquiringTransaction.cardIssuerCategory?.id, 'view']">{{
              cardAcquiringTransaction.cardIssuerCategory?.cardCategoryDescription
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/card-acquiring-transaction', cardAcquiringTransaction.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
