<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="payment">
      <h2 data-cy="paymentDetailsHeading"><span>Payment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ payment.id }}</span>
        </dd>
        <dt><span>Payment Number</span></dt>
        <dd>
          <span>{{ payment.paymentNumber }}</span>
        </dd>
        <dt><span>Payment Date</span></dt>
        <dd>
          <span>{{ payment.paymentDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Invoiced Amount</span></dt>
        <dd>
          <span>{{ payment.invoicedAmount }}</span>
        </dd>
        <dt><span>Disbursement Cost</span></dt>
        <dd>
          <span>{{ payment.disbursementCost }}</span>
        </dd>
        <dt><span>Vatable Amount</span></dt>
        <dd>
          <span>{{ payment.vatableAmount }}</span>
        </dd>
        <dt><span>Payment Amount</span></dt>
        <dd>
          <span>{{ payment.paymentAmount }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ payment.description }}</span>
        </dd>
        <dt><span>Settlement Currency</span></dt>
        <dd>
          <span>{{ payment.settlementCurrency }}</span>
        </dd>
        <dt><span>Dealer Id</span></dt>
        <dd>
          <span>{{ payment.dealerId }}</span>
        </dd>
        <dt><span>File Upload Token</span></dt>
        <dd>
          <span>{{ payment.fileUploadToken }}</span>
        </dd>
        <dt><span>Compilation Token</span></dt>
        <dd>
          <span>{{ payment.compilationToken }}</span>
        </dd>
        <dt><span>Payment Label</span></dt>
        <dd>
          <span *ngFor="let paymentLabel of payment.paymentLabels; let last = last">
            <a [routerLink]="['/payment-label', paymentLabel?.id, 'view']">{{ paymentLabel.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Payment Category</span></dt>
        <dd>
          <div *ngIf="payment.paymentCategory">
            <a [routerLink]="['/payment-category', payment.paymentCategory?.id, 'view']">{{ payment.paymentCategory?.categoryName }}</a>
          </div>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of payment.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Payment Group</span></dt>
        <dd>
          <div *ngIf="payment.paymentGroup">
            <a [routerLink]="['/payment', payment.paymentGroup?.id, 'view']">{{ payment.paymentGroup?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/payment', payment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
