<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-net-book-value-entry-heading" data-cy="NetBookValueEntryCreateUpdateHeading">Create or edit a Net Book Value Entry</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_assetNumber">Asset Number</label>
          <input
            type="text"
            class="form-control"
            name="assetNumber"
            id="field_assetNumber"
            data-cy="assetNumber"
            formControlName="assetNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_assetTag">Asset Tag</label>
          <input type="text" class="form-control" name="assetTag" id="field_assetTag" data-cy="assetTag" formControlName="assetTag" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_assetDescription">Asset Description</label>
          <input
            type="text"
            class="form-control"
            name="assetDescription"
            id="field_assetDescription"
            data-cy="assetDescription"
            formControlName="assetDescription"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nbvIdentifier">Nbv Identifier</label>
          <input
            type="text"
            class="form-control"
            name="nbvIdentifier"
            id="field_nbvIdentifier"
            data-cy="nbvIdentifier"
            formControlName="nbvIdentifier"
          />
          <div
            *ngIf="
              editForm.get('nbvIdentifier')!.invalid && (editForm.get('nbvIdentifier')!.dirty || editForm.get('nbvIdentifier')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('nbvIdentifier')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_compilationJobIdentifier">Compilation Job Identifier</label>
          <input
            type="text"
            class="form-control"
            name="compilationJobIdentifier"
            id="field_compilationJobIdentifier"
            data-cy="compilationJobIdentifier"
            formControlName="compilationJobIdentifier"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_compilationBatchIdentifier">Compilation Batch Identifier</label>
          <input
            type="text"
            class="form-control"
            name="compilationBatchIdentifier"
            id="field_compilationBatchIdentifier"
            data-cy="compilationBatchIdentifier"
            formControlName="compilationBatchIdentifier"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_elapsedMonths">Elapsed Months</label>
          <input
            type="number"
            class="form-control"
            name="elapsedMonths"
            id="field_elapsedMonths"
            data-cy="elapsedMonths"
            formControlName="elapsedMonths"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_priorMonths">Prior Months</label>
          <input
            type="number"
            class="form-control"
            name="priorMonths"
            id="field_priorMonths"
            data-cy="priorMonths"
            formControlName="priorMonths"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_usefulLifeYears">Useful Life Years</label>
          <input
            type="number"
            class="form-control"
            name="usefulLifeYears"
            id="field_usefulLifeYears"
            data-cy="usefulLifeYears"
            formControlName="usefulLifeYears"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_netBookValueAmount">Net Book Value Amount</label>
          <input
            type="number"
            class="form-control"
            name="netBookValueAmount"
            id="field_netBookValueAmount"
            data-cy="netBookValueAmount"
            formControlName="netBookValueAmount"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_previousNetBookValueAmount">Previous Net Book Value Amount</label>
          <input
            type="number"
            class="form-control"
            name="previousNetBookValueAmount"
            id="field_previousNetBookValueAmount"
            data-cy="previousNetBookValueAmount"
            formControlName="previousNetBookValueAmount"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_historicalCost">Historical Cost</label>
          <input
            type="number"
            class="form-control"
            name="historicalCost"
            id="field_historicalCost"
            data-cy="historicalCost"
            formControlName="historicalCost"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_serviceOutlet">Service Outlet</label>
          <select
            class="form-control"
            id="field_serviceOutlet"
            data-cy="serviceOutlet"
            name="serviceOutlet"
            formControlName="serviceOutlet"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                serviceOutletOption.id === editForm.get('serviceOutlet')!.value?.id
                  ? editForm.get('serviceOutlet')!.value
                  : serviceOutletOption
              "
              *ngFor="let serviceOutletOption of serviceOutletsSharedCollection; trackBy: trackServiceOutletById"
            >
              {{ serviceOutletOption.outletCode }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_depreciationPeriod">Depreciation Period</label>
          <select
            class="form-control"
            id="field_depreciationPeriod"
            data-cy="depreciationPeriod"
            name="depreciationPeriod"
            formControlName="depreciationPeriod"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                depreciationPeriodOption.id === editForm.get('depreciationPeriod')!.value?.id
                  ? editForm.get('depreciationPeriod')!.value
                  : depreciationPeriodOption
              "
              *ngFor="let depreciationPeriodOption of depreciationPeriodsSharedCollection; trackBy: trackDepreciationPeriodById"
            >
              {{ depreciationPeriodOption.endDate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fiscalMonth">Fiscal Month</label>
          <select class="form-control" id="field_fiscalMonth" data-cy="fiscalMonth" name="fiscalMonth" formControlName="fiscalMonth">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                fiscalMonthOption.id === editForm.get('fiscalMonth')!.value?.id ? editForm.get('fiscalMonth')!.value : fiscalMonthOption
              "
              *ngFor="let fiscalMonthOption of fiscalMonthsSharedCollection; trackBy: trackFiscalMonthById"
            >
              {{ fiscalMonthOption.fiscalMonthCode }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_depreciationMethod">Depreciation Method</label>
          <select
            class="form-control"
            id="field_depreciationMethod"
            data-cy="depreciationMethod"
            name="depreciationMethod"
            formControlName="depreciationMethod"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                depreciationMethodOption.id === editForm.get('depreciationMethod')!.value?.id
                  ? editForm.get('depreciationMethod')!.value
                  : depreciationMethodOption
              "
              *ngFor="let depreciationMethodOption of depreciationMethodsSharedCollection; trackBy: trackDepreciationMethodById"
            >
              {{ depreciationMethodOption.depreciationMethodName }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_assetRegistration">Asset Registration</label>
          <select
            class="form-control"
            id="field_assetRegistration"
            data-cy="assetRegistration"
            name="assetRegistration"
            formControlName="assetRegistration"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                assetRegistrationOption.id === editForm.get('assetRegistration')!.value?.id
                  ? editForm.get('assetRegistration')!.value
                  : assetRegistrationOption
              "
              *ngFor="let assetRegistrationOption of assetRegistrationsSharedCollection; trackBy: trackAssetRegistrationById"
            >
              {{ assetRegistrationOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_assetCategory">Asset Category</label>
          <select
            class="form-control"
            id="field_assetCategory"
            data-cy="assetCategory"
            name="assetCategory"
            formControlName="assetCategory"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                assetCategoryOption.id === editForm.get('assetCategory')!.value?.id
                  ? editForm.get('assetCategory')!.value
                  : assetCategoryOption
              "
              *ngFor="let assetCategoryOption of assetCategoriesSharedCollection; trackBy: trackAssetCategoryById"
            >
              {{ assetCategoryOption.assetCategoryName }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="field_placeholders">Placeholder</label>
          <select
            class="form-control"
            id="field_placeholders"
            data-cy="placeholder"
            multiple
            name="placeholders"
            formControlName="placeholders"
          >
            <option
              [ngValue]="getSelectedPlaceholder(placeholderOption, editForm.get('placeholders')!.value)"
              *ngFor="let placeholderOption of placeholdersSharedCollection; trackBy: trackPlaceholderById"
            >
              {{ placeholderOption.description }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
