<!--

    Erp System - Mark X No 10 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div>
  <h2 id="page-heading" data-cy="CardAcquiringTransactionHeading">
    <span>Card Acquiring Transactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-card-acquiring-transaction"
        [routerLink]="['/card-acquiring-transaction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Card Acquiring Transaction </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="cardAcquiringTransactions?.length === 0">
    <span>No cardAcquiringTransactions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cardAcquiringTransactions && cardAcquiringTransactions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="reportingDate"><span>Reporting Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="terminalId"><span>Terminal Id</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numberOfTransactions"><span>Number Of Transactions</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="valueOfTransactionsInLCY">
            <span>Value Of Transactions In LCY</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bankCode.institutionName"><span>Bank Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="channelType.channelTypes"><span>Channel Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cardBrandType.cardBrandType"><span>Card Brand Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="currencyOfTransaction.alphabeticCode">
            <span>Currency Of Transaction</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cardIssuerCategory.cardCategoryDescription">
            <span>Card Issuer Category</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cardAcquiringTransaction of cardAcquiringTransactions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/card-acquiring-transaction', cardAcquiringTransaction.id, 'view']">{{ cardAcquiringTransaction.id }}</a>
          </td>
          <td>{{ cardAcquiringTransaction.reportingDate | formatMediumDate }}</td>
          <td>{{ cardAcquiringTransaction.terminalId }}</td>
          <td>{{ cardAcquiringTransaction.numberOfTransactions }}</td>
          <td>{{ cardAcquiringTransaction.valueOfTransactionsInLCY }}</td>
          <td>
            <div *ngIf="cardAcquiringTransaction.bankCode">
              <a [routerLink]="['/institution-code', cardAcquiringTransaction.bankCode?.id, 'view']">{{
                cardAcquiringTransaction.bankCode?.institutionName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cardAcquiringTransaction.channelType">
              <a [routerLink]="['/channel-type', cardAcquiringTransaction.channelType?.id, 'view']">{{
                cardAcquiringTransaction.channelType?.channelTypes
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cardAcquiringTransaction.cardBrandType">
              <a [routerLink]="['/card-brand-type', cardAcquiringTransaction.cardBrandType?.id, 'view']">{{
                cardAcquiringTransaction.cardBrandType?.cardBrandType
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cardAcquiringTransaction.currencyOfTransaction">
              <a [routerLink]="['/iso-currency-code', cardAcquiringTransaction.currencyOfTransaction?.id, 'view']">{{
                cardAcquiringTransaction.currencyOfTransaction?.alphabeticCode
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cardAcquiringTransaction.cardIssuerCategory">
              <a [routerLink]="['/card-category-type', cardAcquiringTransaction.cardIssuerCategory?.id, 'view']">{{
                cardAcquiringTransaction.cardIssuerCategory?.cardCategoryDescription
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/card-acquiring-transaction', cardAcquiringTransaction.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/card-acquiring-transaction', cardAcquiringTransaction.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(cardAcquiringTransaction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="cardAcquiringTransactions && cardAcquiringTransactions.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
