<div>
  <h2 id="page-heading" data-cy="DealerHeading">
    <span>Dealers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dealer"
        [routerLink]="['/dealer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Dealer </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="dealers?.length === 0">
    <span>No dealers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dealers && dealers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dealerName"><span>Dealer Name</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="taxNumber"><span>Tax Number</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="postalAddress"><span>Postal Address</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="physicalAddress">
            <span>Physical Address</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="accountName"><span>Account Name</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="accountNumber"><span>Account Number</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="bankersName"><span>Bankers Name</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="bankersBranch"><span>Bankers Branch</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="bankersSwiftCode">
            <span>Bankers Swift Code</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fileUploadToken">
            <span>File Upload Token</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="compilationToken">
            <span>Compilation Token</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dealerGroup.dealerName"><span>Dealer Group</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dealer of dealers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/dealer', dealer.id, 'view']">{{ dealer.id }}</a>
          </td>
          <td>{{ dealer.dealerName }}</td>
          <td>{{ dealer.taxNumber }}</td>
          <td>{{ dealer.postalAddress }}</td>
          <td>{{ dealer.physicalAddress }}</td>
          <td>{{ dealer.accountName }}</td>
          <td>{{ dealer.accountNumber }}</td>
          <td>{{ dealer.bankersName }}</td>
          <td>{{ dealer.bankersBranch }}</td>
          <td>{{ dealer.bankersSwiftCode }}</td>
          <td>{{ dealer.fileUploadToken }}</td>
          <td>{{ dealer.compilationToken }}</td>
          <td>
            <div *ngIf="dealer.dealerGroup">
              <a [routerLink]="['/dealer', dealer.dealerGroup?.id, 'view']">{{ dealer.dealerGroup?.dealerName }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/dealer', dealer.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/dealer', dealer.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(dealer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="dealers && dealers.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
