<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-asset-revaluation-heading" data-cy="AssetRevaluationCreateUpdateHeading">Create or edit a Asset Revaluation</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_devaluationAmount">Devaluation Amount</label>
          <input
            type="number"
            class="form-control"
            name="devaluationAmount"
            id="field_devaluationAmount"
            data-cy="devaluationAmount"
            formControlName="devaluationAmount"
          />
          <div
            *ngIf="
              editForm.get('devaluationAmount')!.invalid &&
              (editForm.get('devaluationAmount')!.dirty || editForm.get('devaluationAmount')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('devaluationAmount')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('devaluationAmount')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_revaluationDate">Revaluation Date</label>
          <div class="input-group">
            <input
              id="field_revaluationDate"
              data-cy="revaluationDate"
              type="text"
              class="form-control"
              name="revaluationDate"
              ngbDatepicker
              #revaluationDateDp="ngbDatepicker"
              formControlName="revaluationDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="revaluationDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('revaluationDate')!.invalid &&
              (editForm.get('revaluationDate')!.dirty || editForm.get('revaluationDate')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('revaluationDate')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_revaluationReferenceId">Revaluation Reference Id</label>
          <input
            type="text"
            class="form-control"
            name="revaluationReferenceId"
            id="field_revaluationReferenceId"
            data-cy="revaluationReferenceId"
            formControlName="revaluationReferenceId"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_timeOfCreation">Time Of Creation</label>
          <div class="d-flex">
            <input
              id="field_timeOfCreation"
              data-cy="timeOfCreation"
              type="datetime-local"
              class="form-control"
              name="timeOfCreation"
              formControlName="timeOfCreation"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_revaluer">Revaluer</label>
          <select class="form-control" id="field_revaluer" data-cy="revaluer" name="revaluer" formControlName="revaluer">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="dealerOption.id === editForm.get('revaluer')!.value?.id ? editForm.get('revaluer')!.value : dealerOption"
              *ngFor="let dealerOption of dealersSharedCollection; trackBy: trackDealerById"
            >
              {{ dealerOption.dealerName }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdBy">Created By</label>
          <select class="form-control" id="field_createdBy" data-cy="createdBy" name="createdBy" formControlName="createdBy">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                applicationUserOption.id === editForm.get('createdBy')!.value?.id ? editForm.get('createdBy')!.value : applicationUserOption
              "
              *ngFor="let applicationUserOption of applicationUsersSharedCollection; trackBy: trackApplicationUserById"
            >
              {{ applicationUserOption.applicationIdentity }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_lastModifiedBy">Last Modified By</label>
          <select
            class="form-control"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            name="lastModifiedBy"
            formControlName="lastModifiedBy"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                applicationUserOption.id === editForm.get('lastModifiedBy')!.value?.id
                  ? editForm.get('lastModifiedBy')!.value
                  : applicationUserOption
              "
              *ngFor="let applicationUserOption of applicationUsersSharedCollection; trackBy: trackApplicationUserById"
            >
              {{ applicationUserOption.applicationIdentity }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_lastAccessedBy">Last Accessed By</label>
          <select
            class="form-control"
            id="field_lastAccessedBy"
            data-cy="lastAccessedBy"
            name="lastAccessedBy"
            formControlName="lastAccessedBy"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                applicationUserOption.id === editForm.get('lastAccessedBy')!.value?.id
                  ? editForm.get('lastAccessedBy')!.value
                  : applicationUserOption
              "
              *ngFor="let applicationUserOption of applicationUsersSharedCollection; trackBy: trackApplicationUserById"
            >
              {{ applicationUserOption.applicationIdentity }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_effectivePeriod">Effective Period</label>
          <select
            class="form-control"
            id="field_effectivePeriod"
            data-cy="effectivePeriod"
            name="effectivePeriod"
            formControlName="effectivePeriod"
          >
            <option *ngIf="!editForm.get('effectivePeriod')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                depreciationPeriodOption.id === editForm.get('effectivePeriod')!.value?.id
                  ? editForm.get('effectivePeriod')!.value
                  : depreciationPeriodOption
              "
              *ngFor="let depreciationPeriodOption of depreciationPeriodsSharedCollection; trackBy: trackDepreciationPeriodById"
            >
              {{ depreciationPeriodOption.periodCode }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['effectivePeriod'])!.invalid &&
            (editForm.get(['effectivePeriod'])!.dirty || editForm.get(['effectivePeriod'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['effectivePeriod'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_revaluedAsset">Revalued Asset</label>
          <select
            class="form-control"
            id="field_revaluedAsset"
            data-cy="revaluedAsset"
            name="revaluedAsset"
            formControlName="revaluedAsset"
          >
            <option *ngIf="!editForm.get('revaluedAsset')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                assetRegistrationOption.id === editForm.get('revaluedAsset')!.value?.id
                  ? editForm.get('revaluedAsset')!.value
                  : assetRegistrationOption
              "
              *ngFor="let assetRegistrationOption of assetRegistrationsSharedCollection; trackBy: trackAssetRegistrationById"
            >
              {{ assetRegistrationOption.assetNumber }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['revaluedAsset'])!.invalid && (editForm.get(['revaluedAsset'])!.dirty || editForm.get(['revaluedAsset'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['revaluedAsset'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label for="field_placeholders">Placeholder</label>
          <select
            class="form-control"
            id="field_placeholders"
            data-cy="placeholder"
            multiple
            name="placeholders"
            formControlName="placeholders"
          >
            <option
              [ngValue]="getSelectedPlaceholder(placeholderOption, editForm.get('placeholders')!.value)"
              *ngFor="let placeholderOption of placeholdersSharedCollection; trackBy: trackPlaceholderById"
            >
              {{ placeholderOption.description }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
