<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="crbAgentServiceType">
      <h2 data-cy="crbAgentServiceTypeDetailsHeading"><span>Crb Agent Service Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ crbAgentServiceType.id }}</span>
        </dd>
        <dt><span>Agent Service Type Code</span></dt>
        <dd>
          <span>{{ crbAgentServiceType.agentServiceTypeCode }}</span>
        </dd>
        <dt><span>Agent Service Type Details</span></dt>
        <dd>
          <span>{{ crbAgentServiceType.agentServiceTypeDetails }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/crb-agent-service-type', crbAgentServiceType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
