<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="agriculturalEnterpriseActivityType">
      <h2 data-cy="agriculturalEnterpriseActivityTypeDetailsHeading"><span>Agricultural Enterprise Activity Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ agriculturalEnterpriseActivityType.id }}</span>
        </dd>
        <dt><span>Agricultural Enterprise Activity Type Code</span></dt>
        <dd>
          <span>{{ agriculturalEnterpriseActivityType.agriculturalEnterpriseActivityTypeCode }}</span>
        </dd>
        <dt><span>Agricultural Enterprise Activity Type</span></dt>
        <dd>
          <span>{{ agriculturalEnterpriseActivityType.agriculturalEnterpriseActivityType }}</span>
        </dd>
        <dt><span>Agricultural Enterprise Activity Type Description</span></dt>
        <dd>
          <span>{{ agriculturalEnterpriseActivityType.agriculturalEnterpriseActivityTypeDescription }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/agricultural-enterprise-activity-type', agriculturalEnterpriseActivityType.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
