<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="signedPayment">
      <h2 data-cy="signedPaymentDetailsHeading"><span>Signed Payment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ signedPayment.id }}</span>
        </dd>
        <dt><span>Transaction Number</span></dt>
        <dd>
          <span>{{ signedPayment.transactionNumber }}</span>
        </dd>
        <dt><span>Transaction Date</span></dt>
        <dd>
          <span>{{ signedPayment.transactionDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Transaction Currency</span></dt>
        <dd>
          <span>{{ signedPayment.transactionCurrency }}</span>
        </dd>
        <dt><span>Transaction Amount</span></dt>
        <dd>
          <span>{{ signedPayment.transactionAmount }}</span>
        </dd>
        <dt><span>Payment Label</span></dt>
        <dd>
          <span *ngFor="let paymentLabel of signedPayment.paymentLabels; let last = last">
            <a [routerLink]="['/payment-label', paymentLabel?.id, 'view']">{{ paymentLabel.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Dealer</span></dt>
        <dd>
          <div *ngIf="signedPayment.dealer">
            <a [routerLink]="['/dealer', signedPayment.dealer?.id, 'view']">{{ signedPayment.dealer?.dealerName }}</a>
          </div>
        </dd>
        <dt><span>Payment Category</span></dt>
        <dd>
          <div *ngIf="signedPayment.paymentCategory">
            <a [routerLink]="['/payment-category', signedPayment.paymentCategory?.id, 'view']">{{
              signedPayment.paymentCategory?.categoryName
            }}</a>
          </div>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of signedPayment.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Signed Payment Group</span></dt>
        <dd>
          <div *ngIf="signedPayment.signedPaymentGroup">
            <a [routerLink]="['/signed-payment', signedPayment.signedPaymentGroup?.id, 'view']">{{
              signedPayment.signedPaymentGroup?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/signed-payment', signedPayment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
