<!--

    Erp System - Mark X No 10 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="depreciationJob">
      <h2 data-cy="depreciationJobDetailsHeading"><span>Depreciation Job</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ depreciationJob.id }}</span>
        </dd>
        <dt><span>Time Of Commencement</span></dt>
        <dd>
          <span>{{ depreciationJob.timeOfCommencement | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Depreciation Job Status</span></dt>
        <dd>
          <span>{{ depreciationJob.depreciationJobStatus }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ depreciationJob.description }}</span>
        </dd>
        <dt><span>Number Of Batches</span></dt>
        <dd>
          <span>{{ depreciationJob.numberOfBatches }}</span>
        </dd>
        <dt><span>Processed Batches</span></dt>
        <dd>
          <span>{{ depreciationJob.processedBatches }}</span>
        </dd>
        <dt><span>Last Batch Size</span></dt>
        <dd>
          <span>{{ depreciationJob.lastBatchSize }}</span>
        </dd>
        <dt><span>Processed Items</span></dt>
        <dd>
          <span>{{ depreciationJob.processedItems }}</span>
        </dd>
        <dt><span>Processing Time</span></dt>
        <dd>
          <span>{{ depreciationJob.processingTime | duration }} ({{ depreciationJob.processingTime }})</span>
        </dd>
        <dt><span>Total Items</span></dt>
        <dd>
          <span>{{ depreciationJob.totalItems }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <div *ngIf="depreciationJob.createdBy">
            <a [routerLink]="['/application-user', depreciationJob.createdBy?.id, 'view']">{{ depreciationJob.createdBy?.designation }}</a>
          </div>
        </dd>
        <dt><span>Depreciation Period</span></dt>
        <dd>
          <div *ngIf="depreciationJob.depreciationPeriod">
            <a [routerLink]="['/depreciation-period', depreciationJob.depreciationPeriod?.id, 'view']">{{
              depreciationJob.depreciationPeriod?.endDate
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/depreciation-job', depreciationJob.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
