<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-placeholder-heading" data-cy="PlaceholderCreateUpdateHeading">Create or edit a Placeholder</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('description')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_token">Token</label>
          <input type="text" class="form-control" name="token" id="field_token" data-cy="token" formControlName="token" />
          <div *ngIf="editForm.get('token')!.invalid && (editForm.get('token')!.dirty || editForm.get('token')!.touched)"></div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fileUploadToken">File Upload Token</label>
          <input
            type="text"
            class="form-control"
            name="fileUploadToken"
            id="field_fileUploadToken"
            data-cy="fileUploadToken"
            formControlName="fileUploadToken"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_compilationToken">Compilation Token</label>
          <input
            type="text"
            class="form-control"
            name="compilationToken"
            id="field_compilationToken"
            data-cy="compilationToken"
            formControlName="compilationToken"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_containingPlaceholder">Containing Placeholder</label>
          <select
            class="form-control"
            id="field_containingPlaceholder"
            data-cy="containingPlaceholder"
            name="containingPlaceholder"
            formControlName="containingPlaceholder"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                placeholderOption.id === editForm.get('containingPlaceholder')!.value?.id
                  ? editForm.get('containingPlaceholder')!.value
                  : placeholderOption
              "
              *ngFor="let placeholderOption of placeholdersSharedCollection; trackBy: trackPlaceholderById"
            >
              {{ placeholderOption.description }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
