<div  [ngSwitch]="isAuthenticated()">
  <ul  class="navbar-nav ml-auto">
    <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic"
        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
          <span>
              <fa-icon icon="cash-register"></fa-icon>
              <span>
                  Payments
              </span>
          </span>
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
        <li>
          <a
            class="dropdown-item"
            routerLink="payment"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
          <span>
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Payments</span>
          </span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="list/payment/dealer"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
          <span>
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Dealers</span>
          </span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="erp/invoice"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
          <span>
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Invoice</span>
          </span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="signed-payment"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Signed-payment</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="payment-label"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Payment Label</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="payment-calculation"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Payment Calculation</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="payment-requisition"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Payment Requisition</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="tax-reference"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Tax Reference</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="tax-rule"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Tax Rule</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="payment-category"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Payment Category</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
