<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="gha-payment-calculation-heading" data-cy="PaymentCalculationCreateUpdateHeading">Create or edit a Payment Calculation</h2>

      <div>
        <gha-alert-error></gha-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_paymentExpense">Payment Expense</label>
          <input
            type="number"
            class="form-control"
            name="paymentExpense"
            id="field_paymentExpense"
            data-cy="paymentExpense"
            formControlName="paymentExpense"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_withholdingVAT">Withholding VAT</label>
          <input
            type="number"
            class="form-control"
            name="withholdingVAT"
            id="field_withholdingVAT"
            data-cy="withholdingVAT"
            formControlName="withholdingVAT"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_withholdingTax">Withholding Tax</label>
          <input
            type="number"
            class="form-control"
            name="withholdingTax"
            id="field_withholdingTax"
            data-cy="withholdingTax"
            formControlName="withholdingTax"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_paymentAmount">Payment Amount</label>
          <input
            type="number"
            class="form-control"
            name="paymentAmount"
            id="field_paymentAmount"
            data-cy="paymentAmount"
            formControlName="paymentAmount"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_paymentCategory">Payment Category</label>
          <select
            class="form-control"
            id="field_paymentCategory"
            data-cy="paymentCategory"
            name="paymentCategory"
            formControlName="paymentCategory"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                paymentCategoryOption.id === editForm.get('paymentCategory')!.value?.id
                  ? editForm.get('paymentCategory')!.value
                  : paymentCategoryOption
              "
              *ngFor="let paymentCategoryOption of paymentCategoriesSharedCollection; trackBy: trackPaymentCategoryById"
            >
              {{ paymentCategoryOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
