<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-source-remittance-purpose-type-heading" data-cy="SourceRemittancePurposeTypeCreateUpdateHeading">
        Create or edit a Source Remittance Purpose Type
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_sourceOrPurposeTypeCode">Source Or Purpose Type Code</label>
          <input
            type="text"
            class="form-control"
            name="sourceOrPurposeTypeCode"
            id="field_sourceOrPurposeTypeCode"
            data-cy="sourceOrPurposeTypeCode"
            formControlName="sourceOrPurposeTypeCode"
          />
          <div
            *ngIf="
              editForm.get('sourceOrPurposeTypeCode')!.invalid &&
              (editForm.get('sourceOrPurposeTypeCode')!.dirty || editForm.get('sourceOrPurposeTypeCode')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('sourceOrPurposeTypeCode')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_sourceOrPurposeOfRemittanceFlag">Source Or Purpose Of Remittance Flag</label>
          <select
            class="form-control"
            name="sourceOrPurposeOfRemittanceFlag"
            formControlName="sourceOrPurposeOfRemittanceFlag"
            id="field_sourceOrPurposeOfRemittanceFlag"
            data-cy="sourceOrPurposeOfRemittanceFlag"
          >
            <option [ngValue]="null"></option>
            <option
              *ngFor="let sourceOrPurposeOfRemittancFlag of sourceOrPurposeOfRemittancFlagValues"
              [value]="sourceOrPurposeOfRemittancFlag"
            >
              sourceOrPurposeOfRemittancFlag
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('sourceOrPurposeOfRemittanceFlag')!.invalid &&
              (editForm.get('sourceOrPurposeOfRemittanceFlag')!.dirty || editForm.get('sourceOrPurposeOfRemittanceFlag')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('sourceOrPurposeOfRemittanceFlag')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_sourceOrPurposeOfRemittanceType">Source Or Purpose Of Remittance Type</label>
          <input
            type="text"
            class="form-control"
            name="sourceOrPurposeOfRemittanceType"
            id="field_sourceOrPurposeOfRemittanceType"
            data-cy="sourceOrPurposeOfRemittanceType"
            formControlName="sourceOrPurposeOfRemittanceType"
          />
          <div
            *ngIf="
              editForm.get('sourceOrPurposeOfRemittanceType')!.invalid &&
              (editForm.get('sourceOrPurposeOfRemittanceType')!.dirty || editForm.get('sourceOrPurposeOfRemittanceType')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('sourceOrPurposeOfRemittanceType')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_remittancePurposeTypeDetails">Remittance Purpose Type Details</label>
          <textarea
            class="form-control"
            name="remittancePurposeTypeDetails"
            id="field_remittancePurposeTypeDetails"
            data-cy="remittancePurposeTypeDetails"
            formControlName="remittancePurposeTypeDetails"
          ></textarea>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
