<!--

    Erp System - Mark X No 10 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div>
  <h2 id="page-heading" data-cy="DepreciationJobNoticeHeading">
    <span>Depreciation Job Notices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-depreciation-job-notice"
        [routerLink]="['/depreciation-job-notice/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Depreciation Job Notice </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="depreciationJobNotices?.length === 0">
    <span>No depreciationJobNotices found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="depreciationJobNotices && depreciationJobNotices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="eventNarrative">
            <span>Event Narrative</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="eventTimeStamp"><span>Event Time Stamp</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="depreciationNoticeStatus">
            <span>Depreciation Notice Status</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sourceModule"><span>Source Module</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sourceEntity"><span>Source Entity</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="errorCode"><span>Error Code</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="errorMessage"><span>Error Message</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="userAction"><span>User Action</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="technicalDetails">
            <span>Technical Details</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="depreciationJob.id"><span>Depreciation Job</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="depreciationBatchSequence.id">
            <span>Depreciation Batch Sequence</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="depreciationPeriod.id"><span>Depreciation Period</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="superintended.applicationIdentity"><span>Superintended</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let depreciationJobNotice of depreciationJobNotices; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/depreciation-job-notice', depreciationJobNotice.id, 'view']">{{ depreciationJobNotice.id }}</a>
          </td>
          <td>{{ depreciationJobNotice.eventNarrative }}</td>
          <td>{{ depreciationJobNotice.eventTimeStamp | formatMediumDatetime }}</td>
          <td>{{ depreciationJobNotice.depreciationNoticeStatus }}</td>
          <td>{{ depreciationJobNotice.sourceModule }}</td>
          <td>{{ depreciationJobNotice.sourceEntity }}</td>
          <td>{{ depreciationJobNotice.errorCode }}</td>
          <td>{{ depreciationJobNotice.errorMessage }}</td>
          <td>{{ depreciationJobNotice.userAction }}</td>
          <td>{{ depreciationJobNotice.technicalDetails }}</td>
          <td>
            <div *ngIf="depreciationJobNotice.depreciationJob">
              <a [routerLink]="['/depreciation-job', depreciationJobNotice.depreciationJob?.id, 'view']">{{
                depreciationJobNotice.depreciationJob?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="depreciationJobNotice.depreciationBatchSequence">
              <a [routerLink]="['/depreciation-batch-sequence', depreciationJobNotice.depreciationBatchSequence?.id, 'view']">{{
                depreciationJobNotice.depreciationBatchSequence?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="depreciationJobNotice.depreciationPeriod">
              <a [routerLink]="['/depreciation-period', depreciationJobNotice.depreciationPeriod?.id, 'view']">{{
                depreciationJobNotice.depreciationPeriod?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="depreciationJobNotice.superintended">
              <a [routerLink]="['/application-user', depreciationJobNotice.superintended?.id, 'view']">{{
                depreciationJobNotice.superintended?.applicationIdentity
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/depreciation-job-notice', depreciationJobNotice.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/depreciation-job-notice', depreciationJobNotice.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(depreciationJobNotice)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="depreciationJobNotices && depreciationJobNotices.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
