<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cardCharges">
      <h2 data-cy="cardChargesDetailsHeading"><span>Card Charges</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ cardCharges.id }}</span>
        </dd>
        <dt><span>Card Charge Type</span></dt>
        <dd>
          <span>{{ cardCharges.cardChargeType }}</span>
        </dd>
        <dt><span>Card Charge Type Name</span></dt>
        <dd>
          <span>{{ cardCharges.cardChargeTypeName }}</span>
        </dd>
        <dt><span>Card Charge Details</span></dt>
        <dd>
          <span>{{ cardCharges.cardChargeDetails }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/card-charges', cardCharges.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
