<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="wIPTransferListItem">
      <h2 data-cy="wIPTransferListItemDetailsHeading"><span>WIP Transfer List Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.id }}</span>
        </dd>
        <dt><span>Wip Sequence</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.wipSequence }}</span>
        </dd>
        <dt><span>Wip Particulars</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.wipParticulars }}</span>
        </dd>
        <dt><span>Transfer Type</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.transferType }}</span>
        </dd>
        <dt><span>Transfer Settlement</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.transferSettlement }}</span>
        </dd>
        <dt><span>Transfer Settlement Date</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.transferSettlementDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Transfer Amount</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.transferAmount }}</span>
        </dd>
        <dt><span>Wip Transfer Date</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.wipTransferDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Original Settlement</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.originalSettlement }}</span>
        </dd>
        <dt><span>Original Settlement Date</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.originalSettlementDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Asset Category</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.assetCategory }}</span>
        </dd>
        <dt><span>Service Outlet</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.serviceOutlet }}</span>
        </dd>
        <dt><span>Work Project</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.workProject }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>
    </div>
  </div>
</div>
