<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-amortization-recurrence-heading" data-cy="AmortizationRecurrenceCreateUpdateHeading">
        Create or edit a Amortization Recurrence
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <!--<div class="form-group">
          <label class="form-control-label" for="field_prepaymentAccount">Prepayment Account</label>
          <select
            class="form-control"
            id="field_prepaymentAccount"
            data-cy="prepaymentAccount"
            name="prepaymentAccount"
            formControlName="prepaymentAccount"
          >
            <option *ngIf="!editForm.get('prepaymentAccount')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                prepaymentAccountOption.id === editForm.get('prepaymentAccount')!.value?.id
                  ? editForm.get('prepaymentAccount')!.value
                  : prepaymentAccountOption
              "
              *ngFor="let prepaymentAccountOption of prepaymentAccountsSharedCollection; trackBy: trackPrepaymentAccountById"
            >
              {{ prepaymentAccountOption.catalogueNumber }}
            </option>
          </select>
        </div>-->
        <!--<div
          *ngIf="
            editForm.get(['prepaymentAccount'])!.invalid &&
            (editForm.get(['prepaymentAccount'])!.dirty || editForm.get(['prepaymentAccount'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['prepaymentAccount'])?.errors?.required">
            This field is required.
          </small>
        </div>-->

        <jhi-m21-prepayment-account-form-control
          ngDefaultControl
          formControlName='prepaymentAccount'
          [inputValue]="editForm.get('prepaymentAccount')!.value"
          (valueSelected)='updatePrepaymentAccount($event)'
          inputControlLabel="Prepayment Account"
        >
          <option [ngValue]="editForm.get('prepaymentAccount')!.value"></option>
        </jhi-m21-prepayment-account-form-control>

        <div class='input-group' >
          <span>
            <div class="form-group">
              <span class='input-group-prepend'>
                <input  type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
              </span>
              <span>
                <label class="form-control-label" for="field_isActive">Is Active</label>
              </span>
            </div>
          </span>

          <span>
            <div class="form-group">
              <span>
                <input type="checkbox" class="form-check" name="isOverWritten" id="field_isOverWritten" data-cy="isOverWritten" formControlName="isOverWritten" />
              </span>
              <span>
                <label class="form-control-label" for="field_isOverWritten">Is Over Written</label>
              </span>
            </div>
          </span>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_recurrenceGuid">Recurrence Guid</label>
          <input
            type="text"
            class="form-control"
            name="recurrenceGuid"
            id="field_recurrenceGuid"
            data-cy="recurrenceGuid"
            formControlName="recurrenceGuid"
          />
          <div
            *ngIf="
              editForm.get('recurrenceGuid')!.invalid && (editForm.get('recurrenceGuid')!.dirty || editForm.get('recurrenceGuid')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('recurrenceGuid')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_prepaymentAccountGuid">Prepayment Account Guid</label>
          <input
            type="text"
            class="form-control"
            name="prepaymentAccountGuid"
            id="field_prepaymentAccountGuid"
            data-cy="prepaymentAccountGuid"
            formControlName="prepaymentAccountGuid"
          />
          <div
            *ngIf="
              editForm.get('prepaymentAccountGuid')!.invalid &&
              (editForm.get('prepaymentAccountGuid')!.dirty || editForm.get('prepaymentAccountGuid')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('prepaymentAccountGuid')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_firstAmortizationDate">First Amortization Date</label>
          <div class="input-group">
            <input
              id="field_firstAmortizationDate"
              data-cy="firstAmortizationDate"
              type="text"
              class="form-control"
              name="firstAmortizationDate"
              ngbDatepicker
              #firstAmortizationDateDp="ngbDatepicker"
              formControlName="firstAmortizationDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="firstAmortizationDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('firstAmortizationDate')!.invalid &&
              (editForm.get('firstAmortizationDate')!.dirty || editForm.get('firstAmortizationDate')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('firstAmortizationDate')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_amortizationFrequency">Amortization Frequency</label>
          <select
            class="form-control"
            name="amortizationFrequency"
            formControlName="amortizationFrequency"
            id="field_amortizationFrequency"
            data-cy="amortizationFrequency"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let recurrenceFrequency of recurrenceFrequencyValues" [value]="recurrenceFrequency">
                {{ recurrenceFrequency }}
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('amortizationFrequency')!.invalid &&
              (editForm.get('amortizationFrequency')!.dirty || editForm.get('amortizationFrequency')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('amortizationFrequency')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_numberOfRecurrences">Number Of Recurrences</label>
          <input
            type="number"
            class="form-control"
            name="numberOfRecurrences"
            id="field_numberOfRecurrences"
            data-cy="numberOfRecurrences"
            formControlName="numberOfRecurrences"
          />
          <div
            *ngIf="
              editForm.get('numberOfRecurrences')!.invalid &&
              (editForm.get('numberOfRecurrences')!.dirty || editForm.get('numberOfRecurrences')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('numberOfRecurrences')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('numberOfRecurrences')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_notes">Notes</label>
          <div>
            <div *ngIf="editForm.get('notes')!.value" class="form-text text-danger clearfix">
              <a class="pull-left" (click)="openFile(editForm.get('notes')!.value, editForm.get('notesContentType')!.value)">open</a><br />
              <span class="pull-left">{{ editForm.get('notesContentType')!.value }}, {{ byteSize(editForm.get('notes')!.value) }}</span>
              <button
                type="button"
                (click)="editForm.patchValue({ notes: null }); editForm.patchValue({ notesContentType: null })"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_notes" data-cy="notes" (change)="setFileData($event, 'notes', false)" />
          </div>
          <input type="hidden" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
          <input
            type="hidden"
            class="form-control"
            name="notesContentType"
            id="field_notesContentType"
            formControlName="notesContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_particulars">Particulars</label>
          <input
            type="text"
            class="form-control"
            name="particulars"
            id="field_particulars"
            data-cy="particulars"
            formControlName="particulars"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_timeOfInstallation">Time Of Installation</label>
          <div class="d-flex">
            <input
              id="field_timeOfInstallation"
              data-cy="timeOfInstallation"
              type="datetime-local"
              class="form-control"
              name="timeOfInstallation"
              formControlName="timeOfInstallation"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div
            *ngIf="
              editForm.get('timeOfInstallation')!.invalid &&
              (editForm.get('timeOfInstallation')!.dirty || editForm.get('timeOfInstallation')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('timeOfInstallation')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('timeOfInstallation')?.errors?.ZonedDateTimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <!--<div class="form-group">
          <label for="field_parameters">Parameters</label>
          <select class="form-control" id="field_parameters" data-cy="parameters" multiple name="parameters" formControlName="parameters">
            <option
              [ngValue]="getSelectedPrepaymentMapping(prepaymentMappingOption, editForm.get('parameters')!.value)"
              *ngFor="let prepaymentMappingOption of prepaymentMappingsSharedCollection; trackBy: trackPrepaymentMappingById"
            >
              {{ prepaymentMappingOption.parameter }}
            </option>
          </select>
        </div>-->

        <!--jhi-m2m-prepayment-mapping-form-control-->
        <jhi-m2m-prepayment-mapping-form-control
          ngDefaultControl
          formControlName='parameters'
          [inputValues]="editForm.get(['parameters'])!.value"
          (selectedValues)='updatePrepaymentParameters($event)'
          inputControlLabel='Prepayment Parameters'
        >
        </jhi-m2m-prepayment-mapping-form-control>


        <!--jhi-m2m-universally-unique-mapping-form-control-->
        <jhi-m2m-universally-unique-mapping-form-control
          ngDefaultControl
          formControlName='applicationParameters'
          [inputValues]="editForm.get(['applicationParameters'])!.value"
          (selectedValues)='updateApplicationParameters($event)'
          inputControlLabel='Application Parameters'
        >
        </jhi-m2m-universally-unique-mapping-form-control>

        <div class="form-group">
          <label class="form-control-label" for="field_depreciationMethod">Depreciation Method</label>
          <select
            class="form-control"
            id="field_depreciationMethod"
            data-cy="depreciationMethod"
            name="depreciationMethod"
            formControlName="depreciationMethod"
          >
            <option *ngIf="!editForm.get('depreciationMethod')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                depreciationMethodOption.id === editForm.get('depreciationMethod')!.value?.id
                  ? editForm.get('depreciationMethod')!.value
                  : depreciationMethodOption
              "
              *ngFor="let depreciationMethodOption of depreciationMethodsSharedCollection; trackBy: trackDepreciationMethodById"
            >
              {{ depreciationMethodOption.depreciationMethodName }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['depreciationMethod'])!.invalid &&
            (editForm.get(['depreciationMethod'])!.dirty || editForm.get(['depreciationMethod'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['depreciationMethod'])?.errors?.required">
            This field is required.
          </small>
        </div>

        <!--jhi-m2m-placeholder-form-control-->
        <jhi-m2m-placeholder-form-control
          ngDefaultControl
          formControlName='placeholders'
          [inputValues]="editForm.get(['placeholders'])!.value"
          (selectedValues)='updatePlaceholders($event)'
          inputControlLabel='Placeholder Items'
        >
        </jhi-m2m-placeholder-form-control>

      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
