<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="insiderCategoryTypes">
      <h2 data-cy="insiderCategoryTypesDetailsHeading"><span>Insider Category Types</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ insiderCategoryTypes.id }}</span>
        </dd>
        <dt><span>Insider Category Type Code</span></dt>
        <dd>
          <span>{{ insiderCategoryTypes.insiderCategoryTypeCode }}</span>
        </dd>
        <dt><span>Insider Category Type Detail</span></dt>
        <dd>
          <span>{{ insiderCategoryTypes.insiderCategoryTypeDetail }}</span>
        </dd>
        <dt><span>Insider Category Description</span></dt>
        <dd>
          <span>{{ insiderCategoryTypes.insiderCategoryDescription }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/insider-category-types', insiderCategoryTypes.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
