<!--

    Erp System - Mark X No 10 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-card-issuer-charges-heading" data-cy="CardIssuerChargesCreateUpdateHeading">Create or edit a Card Issuer Charges</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_reportingDate">Reporting Date</label>
          <div class="input-group">
            <input
              id="field_reportingDate"
              data-cy="reportingDate"
              type="text"
              class="form-control"
              name="reportingDate"
              ngbDatepicker
              #reportingDateDp="ngbDatepicker"
              formControlName="reportingDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="reportingDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('reportingDate')!.invalid && (editForm.get('reportingDate')!.dirty || editForm.get('reportingDate')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('reportingDate')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cardFeeChargeInLCY">Card Fee Charge In LCY</label>
          <input
            type="number"
            class="form-control"
            name="cardFeeChargeInLCY"
            id="field_cardFeeChargeInLCY"
            data-cy="cardFeeChargeInLCY"
            formControlName="cardFeeChargeInLCY"
          />
          <div
            *ngIf="
              editForm.get('cardFeeChargeInLCY')!.invalid &&
              (editForm.get('cardFeeChargeInLCY')!.dirty || editForm.get('cardFeeChargeInLCY')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('cardFeeChargeInLCY')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('cardFeeChargeInLCY')?.errors?.min">
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('cardFeeChargeInLCY')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_bankCode">Bank Code</label>
          <select class="form-control" id="field_bankCode" data-cy="bankCode" name="bankCode" formControlName="bankCode">
            <option *ngIf="!editForm.get('bankCode')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                institutionCodeOption.id === editForm.get('bankCode')!.value?.id ? editForm.get('bankCode')!.value : institutionCodeOption
              "
              *ngFor="let institutionCodeOption of institutionCodesSharedCollection; trackBy: trackInstitutionCodeById"
            >
              {{ institutionCodeOption.institutionName }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['bankCode'])!.invalid && (editForm.get(['bankCode'])!.dirty || editForm.get(['bankCode'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['bankCode'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cardCategory">Card Category</label>
          <select class="form-control" id="field_cardCategory" data-cy="cardCategory" name="cardCategory" formControlName="cardCategory">
            <option *ngIf="!editForm.get('cardCategory')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                cardCategoryTypeOption.id === editForm.get('cardCategory')!.value?.id
                  ? editForm.get('cardCategory')!.value
                  : cardCategoryTypeOption
              "
              *ngFor="let cardCategoryTypeOption of cardCategoryTypesSharedCollection; trackBy: trackCardCategoryTypeById"
            >
              {{ cardCategoryTypeOption.cardCategoryDescription }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['cardCategory'])!.invalid && (editForm.get(['cardCategory'])!.dirty || editForm.get(['cardCategory'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['cardCategory'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cardType">Card Type</label>
          <select class="form-control" id="field_cardType" data-cy="cardType" name="cardType" formControlName="cardType">
            <option *ngIf="!editForm.get('cardType')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="cardTypesOption.id === editForm.get('cardType')!.value?.id ? editForm.get('cardType')!.value : cardTypesOption"
              *ngFor="let cardTypesOption of cardTypesSharedCollection; trackBy: trackCardTypesById"
            >
              {{ cardTypesOption.cardType }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['cardType'])!.invalid && (editForm.get(['cardType'])!.dirty || editForm.get(['cardType'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['cardType'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cardBrand">Card Brand</label>
          <select class="form-control" id="field_cardBrand" data-cy="cardBrand" name="cardBrand" formControlName="cardBrand">
            <option *ngIf="!editForm.get('cardBrand')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                cardBrandTypeOption.id === editForm.get('cardBrand')!.value?.id ? editForm.get('cardBrand')!.value : cardBrandTypeOption
              "
              *ngFor="let cardBrandTypeOption of cardBrandTypesSharedCollection; trackBy: trackCardBrandTypeById"
            >
              {{ cardBrandTypeOption.cardBrandType }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['cardBrand'])!.invalid && (editForm.get(['cardBrand'])!.dirty || editForm.get(['cardBrand'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['cardBrand'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cardClass">Card Class</label>
          <select class="form-control" id="field_cardClass" data-cy="cardClass" name="cardClass" formControlName="cardClass">
            <option *ngIf="!editForm.get('cardClass')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                cardClassTypeOption.id === editForm.get('cardClass')!.value?.id ? editForm.get('cardClass')!.value : cardClassTypeOption
              "
              *ngFor="let cardClassTypeOption of cardClassTypesSharedCollection; trackBy: trackCardClassTypeById"
            >
              {{ cardClassTypeOption.cardClassType }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['cardClass'])!.invalid && (editForm.get(['cardClass'])!.dirty || editForm.get(['cardClass'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['cardClass'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cardChargeType">Card Charge Type</label>
          <select
            class="form-control"
            id="field_cardChargeType"
            data-cy="cardChargeType"
            name="cardChargeType"
            formControlName="cardChargeType"
          >
            <option *ngIf="!editForm.get('cardChargeType')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                cardChargesOption.id === editForm.get('cardChargeType')!.value?.id
                  ? editForm.get('cardChargeType')!.value
                  : cardChargesOption
              "
              *ngFor="let cardChargesOption of cardChargesSharedCollection; trackBy: trackCardChargesById"
            >
              {{ cardChargesOption.cardChargeTypeName }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['cardChargeType'])!.invalid &&
            (editForm.get(['cardChargeType'])!.dirty || editForm.get(['cardChargeType'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['cardChargeType'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
