<!--

    Erp System - Mark X No 10 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-lease-liability-schedule-item-heading" data-cy="LeaseLiabilityScheduleItemCreateUpdateHeading">
        Create or edit a Lease Liability Schedule Item
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_sequenceNumber">Sequence Number</label>
          <input
            type="number"
            class="form-control"
            name="sequenceNumber"
            id="field_sequenceNumber"
            data-cy="sequenceNumber"
            formControlName="sequenceNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_openingBalance">Opening Balance</label>
          <input
            type="number"
            class="form-control"
            name="openingBalance"
            id="field_openingBalance"
            data-cy="openingBalance"
            formControlName="openingBalance"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cashPayment">Cash Payment</label>
          <input
            type="number"
            class="form-control"
            name="cashPayment"
            id="field_cashPayment"
            data-cy="cashPayment"
            formControlName="cashPayment"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_principalPayment">Principal Payment</label>
          <input
            type="number"
            class="form-control"
            name="principalPayment"
            id="field_principalPayment"
            data-cy="principalPayment"
            formControlName="principalPayment"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_interestPayment">Interest Payment</label>
          <input
            type="number"
            class="form-control"
            name="interestPayment"
            id="field_interestPayment"
            data-cy="interestPayment"
            formControlName="interestPayment"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_outstandingBalance">Outstanding Balance</label>
          <input
            type="number"
            class="form-control"
            name="outstandingBalance"
            id="field_outstandingBalance"
            data-cy="outstandingBalance"
            formControlName="outstandingBalance"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_interestPayableOpening">Interest Payable Opening</label>
          <input
            type="number"
            class="form-control"
            name="interestPayableOpening"
            id="field_interestPayableOpening"
            data-cy="interestPayableOpening"
            formControlName="interestPayableOpening"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_interestAccrued">Interest Accrued</label>
          <input
            type="number"
            class="form-control"
            name="interestAccrued"
            id="field_interestAccrued"
            data-cy="interestAccrued"
            formControlName="interestAccrued"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_interestPayableClosing">Interest Payable Closing</label>
          <input
            type="number"
            class="form-control"
            name="interestPayableClosing"
            id="field_interestPayableClosing"
            data-cy="interestPayableClosing"
            formControlName="interestPayableClosing"
          />
        </div>

        <div class="form-group">
          <label for="field_placeholders">Placeholder</label>
          <select
            class="form-control"
            id="field_placeholders"
            data-cy="placeholder"
            multiple
            name="placeholders"
            formControlName="placeholders"
          >
            <option
              [ngValue]="getSelectedPlaceholder(placeholderOption, editForm.get('placeholders')!.value)"
              *ngFor="let placeholderOption of placeholdersSharedCollection; trackBy: trackPlaceholderById"
            >
              {{ placeholderOption.description }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="field_universallyUniqueMappings">Universally Unique Mapping</label>
          <select
            class="form-control"
            id="field_universallyUniqueMappings"
            data-cy="universallyUniqueMapping"
            multiple
            name="universallyUniqueMappings"
            formControlName="universallyUniqueMappings"
          >
            <option
              [ngValue]="
                getSelectedUniversallyUniqueMapping(universallyUniqueMappingOption, editForm.get('universallyUniqueMappings')!.value)
              "
              *ngFor="
                let universallyUniqueMappingOption of universallyUniqueMappingsSharedCollection;
                trackBy: trackUniversallyUniqueMappingById
              "
            >
              {{ universallyUniqueMappingOption.universalKey }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_leaseAmortizationSchedule">Lease Amortization Schedule</label>
          <select
            class="form-control"
            id="field_leaseAmortizationSchedule"
            data-cy="leaseAmortizationSchedule"
            name="leaseAmortizationSchedule"
            formControlName="leaseAmortizationSchedule"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                leaseAmortizationScheduleOption.id === editForm.get('leaseAmortizationSchedule')!.value?.id
                  ? editForm.get('leaseAmortizationSchedule')!.value
                  : leaseAmortizationScheduleOption
              "
              *ngFor="
                let leaseAmortizationScheduleOption of leaseAmortizationSchedulesSharedCollection;
                trackBy: trackLeaseAmortizationScheduleById
              "
            >
              {{ leaseAmortizationScheduleOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_leaseContract">Lease Contract</label>
          <select
            class="form-control"
            id="field_leaseContract"
            data-cy="leaseContract"
            name="leaseContract"
            formControlName="leaseContract"
          >
            <option *ngIf="!editForm.get('leaseContract')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                iFRS16LeaseContractOption.id === editForm.get('leaseContract')!.value?.id
                  ? editForm.get('leaseContract')!.value
                  : iFRS16LeaseContractOption
              "
              *ngFor="let iFRS16LeaseContractOption of iFRS16LeaseContractsSharedCollection; trackBy: trackIFRS16LeaseContractById"
            >
              {{ iFRS16LeaseContractOption.bookingId }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['leaseContract'])!.invalid && (editForm.get(['leaseContract'])!.dirty || editForm.get(['leaseContract'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['leaseContract'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_leaseLiability">Lease Liability</label>
          <select
            class="form-control"
            id="field_leaseLiability"
            data-cy="leaseLiability"
            name="leaseLiability"
            formControlName="leaseLiability"
          >
            <option *ngIf="!editForm.get('leaseLiability')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                leaseLiabilityOption.id === editForm.get('leaseLiability')!.value?.id
                  ? editForm.get('leaseLiability')!.value
                  : leaseLiabilityOption
              "
              *ngFor="let leaseLiabilityOption of leaseLiabilitiesSharedCollection; trackBy: trackLeaseLiabilityById"
            >
              {{ leaseLiabilityOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['leaseLiability'])!.invalid &&
            (editForm.get(['leaseLiability'])!.dirty || editForm.get(['leaseLiability'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['leaseLiability'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_leasePeriod">Lease Period</label>
          <select class="form-control" id="field_leasePeriod" data-cy="leasePeriod" name="leasePeriod" formControlName="leasePeriod">
            <option *ngIf="!editForm.get('leasePeriod')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                leaseRepaymentPeriodOption.id === editForm.get('leasePeriod')!.value?.id
                  ? editForm.get('leasePeriod')!.value
                  : leaseRepaymentPeriodOption
              "
              *ngFor="let leaseRepaymentPeriodOption of leaseRepaymentPeriodsSharedCollection; trackBy: trackLeaseRepaymentPeriodById"
            >
              {{ leaseRepaymentPeriodOption.periodCode }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['leasePeriod'])!.invalid && (editForm.get(['leasePeriod'])!.dirty || editForm.get(['leasePeriod'])!.touched)"
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['leasePeriod'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="field_active" data-cy="active" formControlName="active" />
          <label class="form-check-label" for="field_active">Active</label>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_compilation">Compilation Request</label>
          <select class="form-control" id="field_compilation" data-cy="compilation" name="compilation" formControlName="compilation">
            <option [ngValue]="null">No compilation linked</option>
            <option
              [ngValue]="
                leaseLiabilityCompilationOption.id === editForm.get('compilation')!.value?.id
                  ? editForm.get('compilation')!.value
                  : leaseLiabilityCompilationOption
              "
              *ngFor="
                let leaseLiabilityCompilationOption of leaseLiabilityCompilationsSharedCollection;
                trackBy: trackLeaseLiabilityCompilationById
              "
            >
              {{ leaseLiabilityCompilationOption.requestId }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
