<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="fiscalQuarter">
      <h2 data-cy="fiscalQuarterDetailsHeading"><span>Fiscal Quarter</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ fiscalQuarter.id }}</span>
        </dd>
        <dt><span>Quarter Number</span></dt>
        <dd>
          <span>{{ fiscalQuarter.quarterNumber }}</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
          <span>{{ fiscalQuarter.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
          <span>{{ fiscalQuarter.endDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Fiscal Quarter Code</span></dt>
        <dd>
          <span>{{ fiscalQuarter.fiscalQuarterCode }}</span>
        </dd>
        <dt><span>Fiscal Year</span></dt>
        <dd>
          <div *ngIf="fiscalQuarter.fiscalYear">
            <a [routerLink]="['/fiscal-year', fiscalQuarter.fiscalYear?.id, 'view']">{{ fiscalQuarter.fiscalYear?.fiscalYearCode }}</a>
          </div>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of fiscalQuarter.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Universally Unique Mapping</span></dt>
        <dd>
          <span *ngFor="let universallyUniqueMapping of fiscalQuarter.universallyUniqueMappings; let last = last">
            <a [routerLink]="['/universally-unique-mapping', universallyUniqueMapping?.id, 'view']">{{
              universallyUniqueMapping.universalKey
            }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/fiscal-quarter', fiscalQuarter.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
