<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="loanRestructureItem">
      <h2 data-cy="loanRestructureItemDetailsHeading"><span>Loan Restructure Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ loanRestructureItem.id }}</span>
        </dd>
        <dt><span>Loan Restructure Item Code</span></dt>
        <dd>
          <span>{{ loanRestructureItem.loanRestructureItemCode }}</span>
        </dd>
        <dt><span>Loan Restructure Item Type</span></dt>
        <dd>
          <span>{{ loanRestructureItem.loanRestructureItemType }}</span>
        </dd>
        <dt><span>Loan Restructure Item Details</span></dt>
        <dd>
          <span>{{ loanRestructureItem.loanRestructureItemDetails }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/loan-restructure-item', loanRestructureItem.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
