<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-outlet-type-heading" data-cy="OutletTypeCreateUpdateHeading">Create or edit a Outlet Type</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_outletTypeCode">Outlet Type Code</label>
          <input
            type="text"
            class="form-control"
            name="outletTypeCode"
            id="field_outletTypeCode"
            data-cy="outletTypeCode"
            formControlName="outletTypeCode"
          />
          <div
            *ngIf="
              editForm.get('outletTypeCode')!.invalid && (editForm.get('outletTypeCode')!.dirty || editForm.get('outletTypeCode')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('outletTypeCode')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_outletType">Outlet Type</label>
          <input
            type="text"
            class="form-control"
            name="outletType"
            id="field_outletType"
            data-cy="outletType"
            formControlName="outletType"
          />
          <div *ngIf="editForm.get('outletType')!.invalid && (editForm.get('outletType')!.dirty || editForm.get('outletType')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('outletType')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_outletTypeDetails">Outlet Type Details</label>
          <input
            type="text"
            class="form-control"
            name="outletTypeDetails"
            id="field_outletTypeDetails"
            data-cy="outletTypeDetails"
            formControlName="outletTypeDetails"
          />
        </div>

        <div class="form-group">
          <label for="field_placeholders">Placeholder</label>
          <select
            class="form-control"
            id="field_placeholders"
            data-cy="placeholder"
            multiple
            name="placeholders"
            formControlName="placeholders"
          >
            <option
              [ngValue]="getSelectedPlaceholder(placeholderOption, editForm.get('placeholders')!.value)"
              *ngFor="let placeholderOption of placeholdersSharedCollection; trackBy: trackPlaceholderById"
            >
              {{ placeholderOption.description }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
