<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="leaseLiabilityCompilation">
      <h2 data-cy="leaseLiabilityCompilationDetailsHeading"><span>Lease Liability Compilation</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ leaseLiabilityCompilation.id }}</span>
        </dd>
        <dt><span>Request Id</span></dt>
        <dd>
          <span>{{ leaseLiabilityCompilation.requestId }}</span>
        </dd>
        <dt><span>Time Of Request</span></dt>
        <dd>
          <span>{{ leaseLiabilityCompilation.timeOfRequest | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Requested By</span></dt>
        <dd>
          <div *ngIf="leaseLiabilityCompilation.requestedBy">
            <a [routerLink]="['/application-user', leaseLiabilityCompilation.requestedBy?.id, 'view']">{{
              leaseLiabilityCompilation.requestedBy?.applicationIdentity
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/lease-liability-compilation', leaseLiabilityCompilation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
