<!--

    Erp System - Mark X No 10 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="depreciationPeriod">
      <h2 data-cy="depreciationPeriodDetailsHeading"><span>Depreciation Period</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ depreciationPeriod.id }}</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
          <span>{{ depreciationPeriod.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
          <span>{{ depreciationPeriod.endDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Depreciation Period Status</span></dt>
        <dd>
          <span>{{ depreciationPeriod.depreciationPeriodStatus }}</span>
        </dd>
        <dt><span>Period Code</span></dt>
        <dd>
          <span>{{ depreciationPeriod.periodCode }}</span>
        </dd>
        <dt><span>Process Locked</span></dt>
        <dd>
          <span>{{ depreciationPeriod.processLocked }}</span>
        </dd>
        <dt><span>Previous Period</span></dt>
        <dd>
          <div *ngIf="depreciationPeriod.previousPeriod">
            <a [routerLink]="['/depreciation-period', depreciationPeriod.previousPeriod?.id, 'view']">{{
              depreciationPeriod.previousPeriod?.endDate
            }}</a>
          </div>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <div *ngIf="depreciationPeriod.createdBy">
            <a [routerLink]="['/application-user', depreciationPeriod.createdBy?.id, 'view']">{{
              depreciationPeriod.createdBy?.applicationIdentity
            }}</a>
          </div>
        </dd>
        <dt><span>Fiscal Year</span></dt>
        <dd>
          <div *ngIf="depreciationPeriod.fiscalYear">
            <a [routerLink]="['/fiscal-year', depreciationPeriod.fiscalYear?.id, 'view']">{{
              depreciationPeriod.fiscalYear?.fiscalYearCode
            }}</a>
          </div>
        </dd>
        <dt><span>Fiscal Month</span></dt>
        <dd>
          <div *ngIf="depreciationPeriod.fiscalMonth">
            <a [routerLink]="['/fiscal-month', depreciationPeriod.fiscalMonth?.id, 'view']">{{ depreciationPeriod.fiscalMonth?.id }}</a>
          </div>
        </dd>
        <dt><span>Fiscal Quarter</span></dt>
        <dd>
          <div *ngIf="depreciationPeriod.fiscalQuarter">
            <a [routerLink]="['/fiscal-quarter', depreciationPeriod.fiscalQuarter?.id, 'view']">{{
              depreciationPeriod.fiscalQuarter?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/depreciation-period', depreciationPeriod.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
