<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="fiscalMonth">
      <h2 data-cy="fiscalMonthDetailsHeading"><span>Fiscal Month</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ fiscalMonth.id }}</span>
        </dd>
        <dt><span>Month Number</span></dt>
        <dd>
          <span>{{ fiscalMonth.monthNumber }}</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
          <span>{{ fiscalMonth.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
          <span>{{ fiscalMonth.endDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Fiscal Month Code</span></dt>
        <dd>
          <span>{{ fiscalMonth.fiscalMonthCode }}</span>
        </dd>
        <dt><span>Fiscal Year</span></dt>
        <dd>
          <div *ngIf="fiscalMonth.fiscalYear">
            <a [routerLink]="['/fiscal-year', fiscalMonth.fiscalYear?.id, 'view']">{{ fiscalMonth.fiscalYear?.fiscalYearCode }}</a>
          </div>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of fiscalMonth.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Universally Unique Mapping</span></dt>
        <dd>
          <span *ngFor="let universallyUniqueMapping of fiscalMonth.universallyUniqueMappings; let last = last">
            <a [routerLink]="['/universally-unique-mapping', universallyUniqueMapping?.id, 'view']">{{
              universallyUniqueMapping.universalKey
            }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Fiscal Quarter</span></dt>
        <dd>
          <div *ngIf="fiscalMonth.fiscalQuarter">
            <a [routerLink]="['/fiscal-quarter', fiscalMonth.fiscalQuarter?.id, 'view']">{{
              fiscalMonth.fiscalQuarter?.fiscalQuarterCode
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/fiscal-month', fiscalMonth.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
