<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="crbRecordFileType">
      <h2 data-cy="crbRecordFileTypeDetailsHeading"><span>Crb Record File Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ crbRecordFileType.id }}</span>
        </dd>
        <dt><span>Record File Type Code</span></dt>
        <dd>
          <span>{{ crbRecordFileType.recordFileTypeCode }}</span>
        </dd>
        <dt><span>Record File Type</span></dt>
        <dd>
          <span>{{ crbRecordFileType.recordFileType }}</span>
        </dd>
        <dt><span>Record File Type Details</span></dt>
        <dd>
          <span>{{ crbRecordFileType.recordFileTypeDetails }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/crb-record-file-type', crbRecordFileType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
