.git
/target
/.jhipster
/.github
/node_modules
stats.html
/src/main/webapp/app/entities/
/src/main/webapp/app/entities/gdi/
/src/main/webapp/app/entities/gdi-data/
/src/test/javascript/e2e/entities/
/src/main/webapp/app/entities/gdi/
/src/main/webapp/app/entities/gdi-data/
/src/test/javascript/e2e/entities/
/src/main/webapp/app/entities/accounting/
/src/main/webapp/app/entities/assets/
/src/main/webapp/app/entities/contract/
/src/main/webapp/app/entities/documentation/
/src/main/webapp/app/entities/enumerations/
/src/main/webapp/app/entities/files/
/src/main/webapp/app/entities/leases/
/src/main/webapp/app/entities/people/
/src/main/webapp/app/entities/prepayments/
/src/main/webapp/app/entities/reports/
/src/main/webapp/app/entities/settlement/
/src/main/webapp/app/entities/system/
/src/main/webapp/app/entities/tax/
