<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="messageToken">
            <h2><span>Message Token</span> {{ messageToken.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ messageToken.description }}</span>
                </dd>
                <dt><span>Time Sent</span></dt>
                <dd>
                    <span>{{ messageToken.timeSent }}</span>
                </dd>
                <dt><span>Token Value</span></dt>
                <dd>
                    <span>{{ messageToken.tokenValue }}</span>
                </dd>
                <dt><span>Received</span></dt>
                <dd>
                    <span>{{ messageToken.received }}</span>
                </dd>
                <dt><span>Actioned</span></dt>
                <dd>
                    <span>{{ messageToken.actioned }}</span>
                </dd>
                <dt><span>Content Fully Enqueued</span></dt>
                <dd>
                    <span>{{ messageToken.contentFullyEnqueued }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/message-token', messageToken.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
