<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="leasePayment">
      <h2 data-cy="leasePaymentDetailsHeading"><span>Lease Payment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ leasePayment.id }}</span>
        </dd>
        <dt><span>Payment Date</span></dt>
        <dd>
          <span>{{ leasePayment.paymentDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Payment Amount</span></dt>
        <dd>
          <span>{{ leasePayment.paymentAmount }}</span>
        </dd>
        <dt><span>Lease Contract</span></dt>
        <dd>
          <div *ngIf="leasePayment.leaseContract">
            <a [routerLink]="['/ifrs-16-lease-contract', leasePayment.leaseContract?.id, 'view']">{{
              leasePayment.leaseContract?.bookingId
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/lease-payment', leasePayment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
