<!--

    Erp System - Mark X No 10 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-crb-gl-code-heading" data-cy="CrbGlCodeCreateUpdateHeading">Create or edit a Crb Gl Code</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_glCode">Gl Code</label>
          <input type="text" class="form-control" name="glCode" id="field_glCode" data-cy="glCode" formControlName="glCode" />
          <div *ngIf="editForm.get('glCode')!.invalid && (editForm.get('glCode')!.dirty || editForm.get('glCode')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('glCode')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_glDescription">Gl Description</label>
          <input
            type="text"
            class="form-control"
            name="glDescription"
            id="field_glDescription"
            data-cy="glDescription"
            formControlName="glDescription"
          />
          <div
            *ngIf="
              editForm.get('glDescription')!.invalid && (editForm.get('glDescription')!.dirty || editForm.get('glDescription')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('glDescription')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_glType">Gl Type</label>
          <input type="text" class="form-control" name="glType" id="field_glType" data-cy="glType" formControlName="glType" />
          <div *ngIf="editForm.get('glType')!.invalid && (editForm.get('glType')!.dirty || editForm.get('glType')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('glType')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_institutionCategory">Institution Category</label>
          <input
            type="text"
            class="form-control"
            name="institutionCategory"
            id="field_institutionCategory"
            data-cy="institutionCategory"
            formControlName="institutionCategory"
          />
          <div
            *ngIf="
              editForm.get('institutionCategory')!.invalid &&
              (editForm.get('institutionCategory')!.dirty || editForm.get('institutionCategory')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('institutionCategory')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
