<div>
    <h2 id="page-heading">
        <span>File Uploads</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-file-upload" [routerLink]="['/file-upload/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new File Upload
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fileUploads?.length === 0">
        <span>No fileUploads found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fileUploads && fileUploads.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fileName"><span>File Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="periodFrom"><span>Period From</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="periodTo"><span>Period To</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fileTypeId"><span>File Type Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataFile"><span>Data File</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="uploadSuccessful"><span>Upload Successful</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="uploadProcessed"><span>Upload Processed</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="uploadToken"><span>Upload Token</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fileUpload of fileUploads ;trackBy: trackId">
                    <td><a [routerLink]="['/file-upload', fileUpload.id, 'view']">{{ fileUpload.id }}</a></td>
                    <td>{{ fileUpload.description }}</td>
                    <td>{{ fileUpload.fileName }}</td>
                    <td>{{ fileUpload.periodFrom | date:'mediumDate' }}</td>
                    <td>{{ fileUpload.periodTo | date:'mediumDate' }}</td>
                    <td>{{ fileUpload.fileTypeId }}</td>
                    <td>
                        <a *ngIf="fileUpload.dataFile" (click)="openFile(fileUpload.dataFileContentType, fileUpload.dataFile)">open</a>
                        <span *ngIf="fileUpload.dataFile">{{ fileUpload.dataFileContentType }}, {{ byteSize(fileUpload.dataFile) }}</span>
                    </td>
                    <td>{{ fileUpload.uploadSuccessful }}</td>
                    <td>{{ fileUpload.uploadProcessed }}</td>
                    <td>{{ fileUpload.uploadToken }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/file-upload', fileUpload.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/file-upload', fileUpload.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fileUpload)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="fileUploads && fileUploads.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
