<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fileUpload">
            <h2><span>File Upload</span> {{ fileUpload.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ fileUpload.description }}</span>
                </dd>
                <dt><span>File Name</span></dt>
                <dd>
                    <span>{{ fileUpload.fileName }}</span>
                </dd>
                <dt><span>Period From</span></dt>
                <dd>
                    <span>{{ fileUpload.periodFrom }}</span>
                </dd>
                <dt><span>Period To</span></dt>
                <dd>
                    <span>{{ fileUpload.periodTo }}</span>
                </dd>
                <dt><span>File Type Id</span></dt>
                <dd>
                    <span>{{ fileUpload.fileTypeId }}</span>
                </dd>
                <dt><span>Data File</span></dt>
                <dd>
                    <div *ngIf="fileUpload.dataFile">
                        <a (click)="openFile(fileUpload.dataFileContentType, fileUpload.dataFile)">open</a>
                        {{ fileUpload.dataFileContentType }}, {{ byteSize(fileUpload.dataFile) }}
                    </div>
                </dd>
                <dt><span>Upload Successful</span></dt>
                <dd>
                    <span>{{ fileUpload.uploadSuccessful }}</span>
                </dd>
                <dt><span>Upload Processed</span></dt>
                <dd>
                    <span>{{ fileUpload.uploadProcessed }}</span>
                </dd>
                <dt><span>Upload Token</span></dt>
                <dd>
                    <span>{{ fileUpload.uploadToken }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/file-upload', fileUpload.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
