<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="businessSegmentTypes">
      <h2 data-cy="businessSegmentTypesDetailsHeading"><span>Business Segment Types</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ businessSegmentTypes.id }}</span>
        </dd>
        <dt><span>Business Economic Segment Code</span></dt>
        <dd>
          <span>{{ businessSegmentTypes.businessEconomicSegmentCode }}</span>
        </dd>
        <dt><span>Business Economic Segment</span></dt>
        <dd>
          <span>{{ businessSegmentTypes.businessEconomicSegment }}</span>
        </dd>
        <dt><span>Details</span></dt>
        <dd>
          <span>{{ businessSegmentTypes.details }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/business-segment-types', businessSegmentTypes.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
