<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="interestCalcMethod">
      <h2 data-cy="interestCalcMethodDetailsHeading"><span>Interest Calc Method</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ interestCalcMethod.id }}</span>
        </dd>
        <dt><span>Interest Calculation Method Code</span></dt>
        <dd>
          <span>{{ interestCalcMethod.interestCalculationMethodCode }}</span>
        </dd>
        <dt><span>Interest Calculation Mthod Type</span></dt>
        <dd>
          <span>{{ interestCalcMethod.interestCalculationMthodType }}</span>
        </dd>
        <dt><span>Interest Calculation Method Details</span></dt>
        <dd>
          <span>{{ interestCalcMethod.interestCalculationMethodDetails }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/interest-calc-method', interestCalcMethod.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
