<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="contractStatus">
      <h2 data-cy="contractStatusDetailsHeading"><span>Contract Status</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ contractStatus.id }}</span>
        </dd>
        <dt><span>Contract Status Code</span></dt>
        <dd>
          <span>{{ contractStatus.contractStatusCode }}</span>
        </dd>
        <dt><span>Contract Status Type</span></dt>
        <dd>
          <span>{{ contractStatus.contractStatusType }}</span>
        </dd>
        <dt><span>Contract Status Type Description</span></dt>
        <dd>
          <span>{{ contractStatus.contractStatusTypeDescription }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/contract-status', contractStatus.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
