<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="prepaymentCompilationRequest">
      <h2 data-cy="prepaymentCompilationRequestDetailsHeading"><span>Prepayment Compilation Request</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ prepaymentCompilationRequest.id }}</span>
        </dd>
        <dt><span>Time Of Request</span></dt>
        <dd>
          <span>{{ prepaymentCompilationRequest.timeOfRequest | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Compilation Status</span></dt>
        <dd>
          <span>{{ prepaymentCompilationRequest.compilationStatus }}</span>
        </dd>
        <dt><span>Items Processed</span></dt>
        <dd>
          <span>{{ prepaymentCompilationRequest.itemsProcessed }}</span>
        </dd>
        <dt><span>Compilation Token</span></dt>
        <dd>
          <span>{{ prepaymentCompilationRequest.compilationToken }}</span>
        </dd>
        <dt><span>Narration</span></dt>
        <dd>
          <span>{{ prepaymentCompilationRequest.narration }}</span>
        </dd>
        <dt><span>Posted By</span></dt>
        <dd>
          <span>{{ prepaymentCompilationRequest.postedBy }}</span>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of prepaymentCompilationRequest.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/prepayment-compilation-request', prepaymentCompilationRequest.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
