<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cardFraudIncidentCategory">
      <h2 data-cy="cardFraudIncidentCategoryDetailsHeading"><span>Card Fraud Incident Category</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ cardFraudIncidentCategory.id }}</span>
        </dd>
        <dt><span>Card Fraud Category Type Code</span></dt>
        <dd>
          <span>{{ cardFraudIncidentCategory.cardFraudCategoryTypeCode }}</span>
        </dd>
        <dt><span>Card Fraud Category Type</span></dt>
        <dd>
          <span>{{ cardFraudIncidentCategory.cardFraudCategoryType }}</span>
        </dd>
        <dt><span>Card Fraud Category Type Description</span></dt>
        <dd>
          <span>{{ cardFraudIncidentCategory.cardFraudCategoryTypeDescription }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/card-fraud-incident-category', cardFraudIncidentCategory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
