<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="fxRateType">
      <h2 data-cy="fxRateTypeDetailsHeading"><span>Fx Rate Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ fxRateType.id }}</span>
        </dd>
        <dt><span>Fx Rate Code</span></dt>
        <dd>
          <span>{{ fxRateType.fxRateCode }}</span>
        </dd>
        <dt><span>Fx Rate Type</span></dt>
        <dd>
          <span>{{ fxRateType.fxRateType }}</span>
        </dd>
        <dt><span>Fx Rate Details</span></dt>
        <dd>
          <span>{{ fxRateType.fxRateDetails }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/fx-rate-type', fxRateType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
