<!--

    Erp System - Mark X No 10 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div>
  <h2 id="page-heading" data-cy="TransactionAccountHeading">
    <span>Transaction Accounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transaction-account"
        [routerLink]="['/transaction-account/new']"
        (click)='createButtonEvent()'
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Transaction Account </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="transactionAccounts?.length === 0">
    <span>No transactionAccounts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="transactionAccounts && transactionAccounts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="accountNumber"><span>Account Number</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="accountName"><span>Account Name</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="notes"><span>Notes</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="accountType"><span>Account Type</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="accountSubType">
            <span>Account Sub Type</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dummyAccount"><span>Dummy Account</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="accountLedger.ledgerName"><span>Account Ledger</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="accountCategory.name"><span>Account Category</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="serviceOutlet.outletCode"><span>Service Outlet</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="settlementCurrency.iso4217CurrencyCode">
            <span>Settlement Currency</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="institution.entityName"><span>Institution</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transactionAccount of transactionAccounts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/transaction-account', transactionAccount.id, 'view']">{{ transactionAccount.id }}</a>
          </td>
          <td>{{ transactionAccount.accountNumber }}</td>
          <td>{{ transactionAccount.accountName }}</td>
          <td>
            <a *ngIf="transactionAccount.notes" (click)="openFile(transactionAccount.notes, transactionAccount.notesContentType)">open</a>
            <span *ngIf="transactionAccount.notes"
              >{{ transactionAccount.notesContentType }}, {{ byteSize(transactionAccount.notes) }}</span
            >
          </td>
          <td>{{ transactionAccount.accountType }}</td>
          <td>{{ transactionAccount.accountSubType }}</td>
          <td>{{ transactionAccount.dummyAccount }}</td>
          <td>
            <div *ngIf="transactionAccount.accountLedger">
              <a [routerLink]="['/transaction-account-ledger', transactionAccount.accountLedger?.id, 'view']">{{
                transactionAccount.accountLedger?.ledgerName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="transactionAccount.accountCategory">
              <a [routerLink]="['/transaction-account-category', transactionAccount.accountCategory?.id, 'view']">{{
                transactionAccount.accountCategory?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="transactionAccount.serviceOutlet">
              <a [routerLink]="['/service-outlet', transactionAccount.serviceOutlet?.id, 'view']">{{
                transactionAccount.serviceOutlet?.outletCode
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="transactionAccount.settlementCurrency">
              <a [routerLink]="['/settlement-currency', transactionAccount.settlementCurrency?.id, 'view']">{{
                transactionAccount.settlementCurrency?.iso4217CurrencyCode
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="transactionAccount.institution">
              <a [routerLink]="['/reporting-entity', transactionAccount.institution?.id, 'view']">{{
                transactionAccount.institution?.entityName
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/transaction-account', transactionAccount.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                (click)='editButtonEvent(transactionAccount)'
                [routerLink]="['/transaction-account', transactionAccount.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                [routerLink]="['/transaction-account', transactionAccount.id, 'copy']"
                (click)='copyButtonEvent(transactionAccount)'
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="copy"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button type="submit" (click)="delete(transactionAccount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="transactionAccounts && transactionAccounts.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
