<div [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
  <ul>
    <li
      *ngSwitchCase="true"
      ngbDropdown
      class="nav-item dropdown pointer"
      display="dynamic"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu"
         data-cy="entity">
          <span>
            <fa-icon icon="th-list"></fa-icon>
            <span>Fixed Assets</span>
          </span>
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
        <li>
          <a
            class="dropdown-item"
            routerLink="fixed-asset-acquisition"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Fixed Asset Acquisition</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="fixed-asset-net-book-value"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Fixed Asset Net Book Value</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="fixed-asset-depreciation"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Fixed Asset Depreciation</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
