<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="departmentType">
      <h2 data-cy="departmentTypeDetailsHeading"><span>Department Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ departmentType.id }}</span>
        </dd>
        <dt><span>Department Type Code</span></dt>
        <dd>
          <span>{{ departmentType.departmentTypeCode }}</span>
        </dd>
        <dt><span>Department Type</span></dt>
        <dd>
          <span>{{ departmentType.departmentType }}</span>
        </dd>
        <dt><span>Department Type Details</span></dt>
        <dd>
          <span>{{ departmentType.departmentTypeDetails }}</span>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of departmentType.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/department-type', departmentType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
