<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="gha-payment-requisition-heading" data-cy="PaymentRequisitionCreateUpdateHeading">Create or edit a Payment Requisition</h2>

      <div>
        <gha-alert-error></gha-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_invoicedAmount">Invoiced Amount</label>
          <input
            type="number"
            class="form-control"
            name="invoicedAmount"
            id="field_invoicedAmount"
            data-cy="invoicedAmount"
            formControlName="invoicedAmount"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_disbursementCost">Disbursement Cost</label>
          <input
            type="number"
            class="form-control"
            name="disbursementCost"
            id="field_disbursementCost"
            data-cy="disbursementCost"
            formControlName="disbursementCost"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_vatableAmount">Vatable Amount</label>
          <input
            type="number"
            class="form-control"
            name="vatableAmount"
            id="field_vatableAmount"
            data-cy="vatableAmount"
            formControlName="vatableAmount"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dealer">Dealer</label>
          <select class="form-control" id="field_dealer" data-cy="dealer" name="dealer" formControlName="dealer">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="dealerOption.id === editForm.get('dealer')!.value?.id ? editForm.get('dealer')!.value : dealerOption"
              *ngFor="let dealerOption of dealersSharedCollection; trackBy: trackDealerById"
            >
              {{ dealerOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
