<!--

    Erp System - Mark X No 10 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="paymentInvoice">
      <h2 data-cy="paymentInvoiceDetailsHeading"><span>Payment Invoice</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ paymentInvoice.id }}</span>
        </dd>
        <dt><span>Invoice Number</span></dt>
        <dd>
          <span>{{ paymentInvoice.invoiceNumber }}</span>
        </dd>
        <dt><span>Invoice Date</span></dt>
        <dd>
          <span>{{ paymentInvoice.invoiceDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Invoice Amount</span></dt>
        <dd>
          <span>{{ paymentInvoice.invoiceAmount }}</span>
        </dd>
        <dt><span>File Upload Token</span></dt>
        <dd>
          <span>{{ paymentInvoice.fileUploadToken }}</span>
        </dd>
        <dt><span>Compilation Token</span></dt>
        <dd>
          <span>{{ paymentInvoice.compilationToken }}</span>
        </dd>
        <dt><span>Remarks</span></dt>
        <dd>
          <span>{{ paymentInvoice.remarks }}</span>
        </dd>
        <dt><span>Purchase Order</span></dt>
        <dd>
          <span *ngFor="let purchaseOrder of paymentInvoice.purchaseOrders; let last = last">
            <a [routerLink]="['/purchase-order', purchaseOrder?.id, 'view']">{{ purchaseOrder.purchaseOrderNumber }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of paymentInvoice.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Payment Label</span></dt>
        <dd>
          <span *ngFor="let paymentLabel of paymentInvoice.paymentLabels; let last = last">
            <a [routerLink]="['/payment-label', paymentLabel?.id, 'view']">{{ paymentLabel.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Settlement Currency</span></dt>
        <dd>
          <div *ngIf="paymentInvoice.settlementCurrency">
            <a [routerLink]="['/settlement-currency', paymentInvoice.settlementCurrency?.id, 'view']">{{
              paymentInvoice.settlementCurrency?.iso4217CurrencyCode
            }}</a>
          </div>
        </dd>
        <dt><span>Biller</span></dt>
        <dd>
          <div *ngIf="paymentInvoice.biller">
            <a [routerLink]="['/erp/dealer', paymentInvoice.biller?.id, 'view']">{{ paymentInvoice.biller?.dealerName }}</a>
          </div>
        </dd>
        <dt><span>Delivery Note</span></dt>
        <dd>
          <span *ngFor="let deliveryNote of paymentInvoice.deliveryNotes; let last = last">
            <a [routerLink]="['/delivery-note', deliveryNote?.id, 'view']">{{ deliveryNote.deliveryNoteNumber }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Business Documents</span></dt>
        <dd>
          <span *ngFor="let businessDocument of paymentInvoice.businessDocuments; let last = last">
            <a [routerLink]="['/business-document', businessDocument?.id, 'view']">{{ businessDocument.documentTitle }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Job Sheet</span></dt>
        <dd>
          <span *ngFor="let jobSheet of paymentInvoice.jobSheets; let last = last">
            <a [routerLink]="['/job-sheet', jobSheet?.id, 'view']">{{ jobSheet.serialNumber }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Business Documents</span></dt>
        <dd>
          <span *ngFor="let businessDocument of paymentInvoice.businessDocuments; let last = last">
            <a [routerLink]="['/business-document', businessDocument?.id, 'view']">{{ businessDocument.documentTitle }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" (click)='editButtonEvent(paymentInvoice)' [routerLink]="['/payment-invoice', paymentInvoice.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>

      <button type="button" (click)='copyButtonEvent(paymentInvoice)' [routerLink]="['/payment-invoice', paymentInvoice.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="copy"></fa-icon>&nbsp;<span>Copy</span>
      </button>
    </div>
  </div>
</div>
