<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-job-sheet-heading" data-cy="JobSheetCreateUpdateHeading">Create or edit a Job Sheet</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label">Biller</label>
          <ng-select
            [items]="billerLookups$ | async"
            bindLabel="dealerName"
            [trackByFn]="trackBillerByFn"
            [minTermLength]="minAccountLengthTerm"
            [loading]="billersLoading"
            typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
            [typeahead]="billersInput$"
            formControlName="biller"
          >
            <option [ngValue]="editForm.get('biller')!.value"></option>
          </ng-select>
          <div *jhiHasAnyAuthority="'ROLE_DEV'">{{editForm.get(['biller'])!.value|formatDealerId}}</div>
        </div>
        <div *ngIf="editForm.get(['biller'])!.invalid && (editForm.get(['biller'])!.dirty || editForm.get(['biller'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['biller'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_serialNumber">Serial Number</label>
          <input
            type="text"
            class="form-control"
            name="serialNumber"
            id="field_serialNumber"
            data-cy="serialNumber"
            formControlName="serialNumber"
          />
          <div
            *ngIf="editForm.get('serialNumber')!.invalid && (editForm.get('serialNumber')!.dirty || editForm.get('serialNumber')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('serialNumber')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_jobSheetDate">Job Sheet Date</label>
          <div class="input-group">
            <input
              id="field_jobSheetDate"
              data-cy="jobSheetDate"
              type="text"
              class="form-control"
              name="jobSheetDate"
              ngbDatepicker
              #jobSheetDateDp="ngbDatepicker"
              formControlName="jobSheetDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="jobSheetDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_details">Details</label>
          <input type="text" class="form-control" name="details" id="field_details" data-cy="details" formControlName="details" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_remarks">Remarks</label>
          <textarea class="form-control" name="remarks" id="field_remarks" data-cy="remarks" formControlName="remarks"></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label">Signatories</label>
          <ng-select
            [items]="signatoryLookups$ | async"
            bindLabel="dealerName"
            [trackByFn]="trackBillerByFn"
            [minTermLength]="minAccountLengthTerm"
            [loading]="signatoriesLoading"
            typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
            [typeahead]="signatoryControlInput$"
            formControlName="signatories"
            [multiple]='true'
          >
            <ng-option *ngFor="let option of signatoryLookups$ | async" [value]="option">
              {{ option.dealerName }}
            </ng-option>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <!-- // TODO Check if we need to track selection on the many to many entities with selected: boolean-->
              <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" /> {{item.dealerName}}
            </ng-template>
          </ng-select>
          <div *jhiHasAnyAuthority="'ROLE_DEV'">{{editForm.get(['signatories'])!.value|json}}</div>
        </div>

        <div class="form-group">
          <!--// TODO Observer if contactPerson needs variables unique from Biller-->
          <label class="form-control-label">Contact Person</label>
          <ng-select
            [items]="contactPersonLookups$ | async"
            bindLabel="dealerName"
            [trackByFn]="trackBillerByFn"
            [minTermLength]="minAccountLengthTerm"
            [loading]="contactPersonsLoading"
            typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
            [typeahead]="contactPersonInput$"
            formControlName="contactPerson"
          >
            <option [ngValue]="editForm.get('contactPerson')!.value"></option>
          </ng-select>
          <div *jhiHasAnyAuthority="'ROLE_DEV'">{{editForm.get(['contactPerson'])!.value|formatDealerId}}</div>
        </div>

        <div class="form-group">
          <label class="form-control-label">Business Stamps</label>
          <ng-select
            [items]="businessStampLookups$ | async"
            bindLabel="details"
            [trackByFn]="trackBusinessStampByFn"
            [minTermLength]="minAccountLengthTerm"
            [loading]="businessStampsLoading"
            typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
            [typeahead]="businessStampsControlInput$"
            formControlName="businessStamps"
            [multiple]='true'
          >
            <ng-option *ngFor="let option of businessStampLookups$ | async" [value]="option">
              {{ option.details }}
            </ng-option>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <!-- // TODO Check if we need to track selection on the many to many entities with selected: boolean-->
              <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" />
              <jhi-business-stamp-option-view [item]='item'></jhi-business-stamp-option-view>
            </ng-template>
          </ng-select>
          <div *jhiHasAnyAuthority="'ROLE_DEV'">{{editForm.get(['businessStamps'])!.value|json}}</div>
        </div>

        <div class="form-group">
          <label class="form-control-label">Payment Labels</label>
          <ng-select
            [items]="labelLookups$ | async"
            bindLabel="description"
            [trackByFn]="trackLabelByFn"
            [minTermLength]="minAccountLengthTerm"
            [loading]="labelsLoading"
            typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
            [typeahead]="labelControlInput$"
            formControlName="paymentLabels"
            [multiple]='true'
          >
            <ng-option *ngFor="let option of labelLookups$ | async" [value]="option">
              {{ option.description }}
            </ng-option>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <!-- // TODO Check if we need to track selection on the many to many entities with selected: boolean-->
              <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" /> {{item.description}}
            </ng-template>
          </ng-select>
          <div *jhiHasAnyAuthority="'ROLE_DEV'" >{{editForm.get(['paymentLabels'])!.value|json}}</div>
        </div>

        <div class="form-group">
          <label class="form-control-label">Placeholders</label>
          <ng-select
            [items]="placeholderLookups$ | async"
            bindLabel="description"
            [trackByFn]="trackPlaceholdersByFn"
            [minTermLength]="minAccountLengthTerm"
            [loading]="placeholdersLoading"
            typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
            [typeahead]="placeholderControlInput$"
            formControlName="placeholders"
            [multiple]='true'
          >
            <ng-option *ngFor="let option of placeholderLookups$ | async" [value]="option">
              {{ option.description }}
            </ng-option>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <!-- // TODO Check if we need to track selection on the many to many entities with selected: boolean-->
              <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" /> {{item.description}}
            </ng-template>
          </ng-select>
          <div *jhiHasAnyAuthority="'ROLE_DEV'">{{editForm.get(['placeholders'])!.value|json}}</div>
        </div>

      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
