<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="paymentLabel">
      <h2 data-cy="paymentLabelDetailsHeading"><span>Payment Label</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ paymentLabel.id }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ paymentLabel.description }}</span>
        </dd>
        <dt><span>Comments</span></dt>
        <dd>
          <span>{{ paymentLabel.comments }}</span>
        </dd>
        <dt><span>File Upload Token</span></dt>
        <dd>
          <span>{{ paymentLabel.fileUploadToken }}</span>
        </dd>
        <dt><span>Compilation Token</span></dt>
        <dd>
          <span>{{ paymentLabel.compilationToken }}</span>
        </dd>
        <dt><span>Containing Payment Label</span></dt>
        <dd>
          <div *ngIf="paymentLabel.containingPaymentLabel">
            <a [routerLink]="['/payment-label', paymentLabel.containingPaymentLabel?.id, 'view']">{{
              paymentLabel.containingPaymentLabel?.description
            }}</a>
          </div>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of paymentLabel.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/payment-label', paymentLabel.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
