<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="fiscalYear">
      <h2 data-cy="fiscalYearDetailsHeading"><span>Fiscal Year</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ fiscalYear.id }}</span>
        </dd>
        <dt><span>Fiscal Year Code</span></dt>
        <dd>
          <span>{{ fiscalYear.fiscalYearCode }}</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
          <span>{{ fiscalYear.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
          <span>{{ fiscalYear.endDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Fiscal Year Status</span></dt>
        <dd>
          <span>{{ fiscalYear.fiscalYearStatus }}</span>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of fiscalYear.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Universally Unique Mapping</span></dt>
        <dd>
          <span *ngFor="let universallyUniqueMapping of fiscalYear.universallyUniqueMappings; let last = last">
            <a [routerLink]="['/universally-unique-mapping', universallyUniqueMapping?.id, 'view']">{{
              universallyUniqueMapping.universalKey
            }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <div *ngIf="fiscalYear.createdBy">
            <a [routerLink]="['/application-user', fiscalYear.createdBy?.id, 'view']">{{ fiscalYear.createdBy?.applicationIdentity }}</a>
          </div>
        </dd>
        <dt><span>Last Updated By</span></dt>
        <dd>
          <div *ngIf="fiscalYear.lastUpdatedBy">
            <a [routerLink]="['/application-user', fiscalYear.lastUpdatedBy?.id, 'view']">{{
              fiscalYear.lastUpdatedBy?.applicationIdentity
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/fiscal-year', fiscalYear.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
