<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-loan-restructure-flag-heading" data-cy="LoanRestructureFlagCreateUpdateHeading">
        Create or edit a Loan Restructure Flag
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_loanRestructureFlagCode">Loan Restructure Flag Code</label>
          <select
            class="form-control"
            name="loanRestructureFlagCode"
            formControlName="loanRestructureFlagCode"
            id="field_loanRestructureFlagCode"
            data-cy="loanRestructureFlagCode"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let flagCodes of flagCodesValues" [value]="flagCodes">flagCodes</option>
          </select>
          <div
            *ngIf="
              editForm.get('loanRestructureFlagCode')!.invalid &&
              (editForm.get('loanRestructureFlagCode')!.dirty || editForm.get('loanRestructureFlagCode')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('loanRestructureFlagCode')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_loanRestructureFlagType">Loan Restructure Flag Type</label>
          <input
            type="text"
            class="form-control"
            name="loanRestructureFlagType"
            id="field_loanRestructureFlagType"
            data-cy="loanRestructureFlagType"
            formControlName="loanRestructureFlagType"
          />
          <div
            *ngIf="
              editForm.get('loanRestructureFlagType')!.invalid &&
              (editForm.get('loanRestructureFlagType')!.dirty || editForm.get('loanRestructureFlagType')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('loanRestructureFlagType')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_loanRestructureFlagDetails">Loan Restructure Flag Details</label>
          <textarea
            class="form-control"
            name="loanRestructureFlagDetails"
            id="field_loanRestructureFlagDetails"
            data-cy="loanRestructureFlagDetails"
            formControlName="loanRestructureFlagDetails"
          ></textarea>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
