<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-purchase-order-heading" data-cy="PurchaseOrderCreateUpdateHeading">Create or edit a Purchase Order</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_purchaseOrderNumber">Purchase Order Number</label>
          <input
            type="text"
            class="form-control"
            name="purchaseOrderNumber"
            id="field_purchaseOrderNumber"
            data-cy="purchaseOrderNumber"
            formControlName="purchaseOrderNumber"
          />
          <div
            *ngIf="
              editForm.get('purchaseOrderNumber')!.invalid &&
              (editForm.get('purchaseOrderNumber')!.dirty || editForm.get('purchaseOrderNumber')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('purchaseOrderNumber')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_purchaseOrderDate">Purchase Order Date</label>
          <div class="input-group">
            <input
              id="field_purchaseOrderDate"
              data-cy="purchaseOrderDate"
              type="text"
              class="form-control"
              name="purchaseOrderDate"
              ngbDatepicker
              #purchaseOrderDateDp="ngbDatepicker"
              formControlName="purchaseOrderDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="purchaseOrderDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_purchaseOrderAmount">Purchase Order Amount</label>
          <input
            type="number"
            class="form-control"
            name="purchaseOrderAmount"
            id="field_purchaseOrderAmount"
            data-cy="purchaseOrderAmount"
            formControlName="purchaseOrderAmount"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fileUploadToken">File Upload Token</label>
          <input
            type="text"
            class="form-control"
            name="fileUploadToken"
            id="field_fileUploadToken"
            data-cy="fileUploadToken"
            formControlName="fileUploadToken"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_compilationToken">Compilation Token</label>
          <input
            type="text"
            class="form-control"
            name="compilationToken"
            id="field_compilationToken"
            data-cy="compilationToken"
            formControlName="compilationToken"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_remarks">Remarks</label>
          <textarea class="form-control" name="remarks" id="field_remarks" data-cy="remarks" formControlName="remarks"></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_settlementCurrency">Settlement Currency</label>
          <select
            class="form-control"
            id="field_settlementCurrency"
            data-cy="settlementCurrency"
            name="settlementCurrency"
            formControlName="settlementCurrency"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                settlementCurrencyOption.id === editForm.get('settlementCurrency')!.value?.id
                  ? editForm.get('settlementCurrency')!.value
                  : settlementCurrencyOption
              "
              *ngFor="let settlementCurrencyOption of settlementCurrenciesSharedCollection; trackBy: trackSettlementCurrencyById"
            >
              {{ settlementCurrencyOption.iso4217CurrencyCode }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="field_placeholders">Placeholder</label>
          <select
            class="form-control"
            id="field_placeholders"
            data-cy="placeholder"
            multiple
            name="placeholders"
            formControlName="placeholders"
          >
            <option
              [ngValue]="getSelectedPlaceholder(placeholderOption, editForm.get('placeholders')!.value)"
              *ngFor="let placeholderOption of placeholdersSharedCollection; trackBy: trackPlaceholderById"
            >
              {{ placeholderOption.description }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="field_signatories">Signatories</label>
          <select
            class="form-control"
            id="field_signatories"
            data-cy="signatories"
            multiple
            name="signatories"
            formControlName="signatories"
          >
            <option
              [ngValue]="getSelectedDealer(dealerOption, editForm.get('signatories')!.value)"
              *ngFor="let dealerOption of dealersSharedCollection; trackBy: trackDealerById"
            >
              {{ dealerOption.dealerName }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_vendor">Vendor</label>
          <select class="form-control" id="field_vendor" data-cy="vendor" name="vendor" formControlName="vendor">
            <option *ngIf="!editForm.get('vendor')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="dealerOption.id === editForm.get('vendor')!.value?.id ? editForm.get('vendor')!.value : dealerOption"
              *ngFor="let dealerOption of dealersSharedCollection; trackBy: trackDealerById"
            >
              {{ dealerOption.dealerName }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['vendor'])!.invalid && (editForm.get(['vendor'])!.dirty || editForm.get(['vendor'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['vendor'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label for="field_businessDocuments">Business Document</label>
          <select
            class="form-control"
            id="field_businessDocuments"
            data-cy="businessDocument"
            multiple
            name="businessDocuments"
            formControlName="businessDocuments"
          >
            <option
              [ngValue]="getSelectedBusinessDocument(businessDocumentOption, editForm.get('businessDocuments')!.value)"
              *ngFor="let businessDocumentOption of businessDocumentsSharedCollection; trackBy: trackBusinessDocumentById"
            >
              {{ businessDocumentOption.documentTitle }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
