<!--

    Erp System - Mark X No 10 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-related-party-relationship-heading" data-cy="RelatedPartyRelationshipCreateUpdateHeading">
        Create or edit a Related Party Relationship
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_reportingDate">Reporting Date</label>
          <div class="input-group">
            <input
              id="field_reportingDate"
              data-cy="reportingDate"
              type="text"
              class="form-control"
              name="reportingDate"
              ngbDatepicker
              #reportingDateDp="ngbDatepicker"
              formControlName="reportingDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="reportingDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('reportingDate')!.invalid && (editForm.get('reportingDate')!.dirty || editForm.get('reportingDate')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('reportingDate')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_customerId">Customer Id</label>
          <input
            type="text"
            class="form-control"
            name="customerId"
            id="field_customerId"
            data-cy="customerId"
            formControlName="customerId"
          />
          <div *ngIf="editForm.get('customerId')!.invalid && (editForm.get('customerId')!.dirty || editForm.get('customerId')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('customerId')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_relatedPartyId">Related Party Id</label>
          <input
            type="text"
            class="form-control"
            name="relatedPartyId"
            id="field_relatedPartyId"
            data-cy="relatedPartyId"
            formControlName="relatedPartyId"
          />
          <div
            *ngIf="
              editForm.get('relatedPartyId')!.invalid && (editForm.get('relatedPartyId')!.dirty || editForm.get('relatedPartyId')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('relatedPartyId')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_bankCode">Bank Code</label>
          <select class="form-control" id="field_bankCode" data-cy="bankCode" name="bankCode" formControlName="bankCode">
            <option *ngIf="!editForm.get('bankCode')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                institutionCodeOption.id === editForm.get('bankCode')!.value?.id ? editForm.get('bankCode')!.value : institutionCodeOption
              "
              *ngFor="let institutionCodeOption of institutionCodesSharedCollection; trackBy: trackInstitutionCodeById"
            >
              {{ institutionCodeOption.institutionName }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['bankCode'])!.invalid && (editForm.get(['bankCode'])!.dirty || editForm.get(['bankCode'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['bankCode'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_branchId">Branch Id</label>
          <select class="form-control" id="field_branchId" data-cy="branchId" name="branchId" formControlName="branchId">
            <option *ngIf="!editForm.get('branchId')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                bankBranchCodeOption.id === editForm.get('branchId')!.value?.id ? editForm.get('branchId')!.value : bankBranchCodeOption
              "
              *ngFor="let bankBranchCodeOption of bankBranchCodesSharedCollection; trackBy: trackBankBranchCodeById"
            >
              {{ bankBranchCodeOption.branchCode }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['branchId'])!.invalid && (editForm.get(['branchId'])!.dirty || editForm.get(['branchId'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['branchId'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_relationshipType">Relationship Type</label>
          <select
            class="form-control"
            id="field_relationshipType"
            data-cy="relationshipType"
            name="relationshipType"
            formControlName="relationshipType"
          >
            <option *ngIf="!editForm.get('relationshipType')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                partyRelationTypeOption.id === editForm.get('relationshipType')!.value?.id
                  ? editForm.get('relationshipType')!.value
                  : partyRelationTypeOption
              "
              *ngFor="let partyRelationTypeOption of partyRelationTypesSharedCollection; trackBy: trackPartyRelationTypeById"
            >
              {{ partyRelationTypeOption.partyRelationType }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['relationshipType'])!.invalid &&
            (editForm.get(['relationshipType'])!.dirty || editForm.get(['relationshipType'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['relationshipType'])?.errors?.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
