<!--

    Erp System - Mark X No 10 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="institutionCode">
      <h2 data-cy="institutionCodeDetailsHeading"><span>Institution Code</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ institutionCode.id }}</span>
        </dd>
        <dt><span>Institution Code</span></dt>
        <dd>
          <span>{{ institutionCode.institutionCode }}</span>
        </dd>
        <dt><span>Institution Name</span></dt>
        <dd>
          <span>{{ institutionCode.institutionName }}</span>
        </dd>
        <dt><span>Short Name</span></dt>
        <dd>
          <span>{{ institutionCode.shortName }}</span>
        </dd>
        <dt><span>Category</span></dt>
        <dd>
          <span>{{ institutionCode.category }}</span>
        </dd>
        <dt><span>Institution Category</span></dt>
        <dd>
          <span>{{ institutionCode.institutionCategory }}</span>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of institutionCode.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/institution-code', institutionCode.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
