<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="fraudCategoryFlag">
      <h2 data-cy="fraudCategoryFlagDetailsHeading"><span>Fraud Category Flag</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ fraudCategoryFlag.id }}</span>
        </dd>
        <dt><span>Fraud Category Flag</span></dt>
        <dd>
          <span>{{ fraudCategoryFlag.fraudCategoryFlag }}</span>
        </dd>
        <dt><span>Fraud Category Type Details</span></dt>
        <dd>
          <span>{{ fraudCategoryFlag.fraudCategoryTypeDetails }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/fraud-category-flag', fraudCategoryFlag.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
