<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div>
  <h2 id="page-heading" data-cy="PrepaymentAccountHeading">
    <span>Prepayment Accounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-prepayment-account"
        [routerLink]="['/prepayment-account/new']"
        (click)='createButtonEvent()'
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Prepayment Account </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="prepaymentAccounts?.length === 0">
    <span>No prepaymentAccounts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="prepaymentAccounts && prepaymentAccounts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="catalogueNumber">
            <span>Catalogue Number</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="recognitionDate"><span>Recognition Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="particulars"><span>Particulars</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <!--<th scope="col" jhiSortBy="notes"><span>Notes</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>-->
          <th scope="col" jhiSortBy="prepaymentAmount"><span>Prepayment Amount</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="settlementCurrency.iso4217CurrencyCode">
            <span>Settlement Currency</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prepaymentTransaction.paymentDate">
            <span>Prepayment Transaction</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="serviceOutlet.outletCode"><span>Service Outlet</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dealer.dealerName"><span>Dealer</span> <fa-icon icon="sort"></fa-icon></th>
          <!--<th scope="col" jhiSortBy="placeholder.description"><span>Placeholder</span> <fa-icon icon="sort"></fa-icon></th>-->
          <th scope="col" jhiSortBy="debitAccount.accountNumber"><span>Debit Account</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="transferAccount.accountNumber"><span>Transfer Account</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prepaymentAccount of prepaymentAccounts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/prepayment-account', prepaymentAccount.id, 'view']">{{ prepaymentAccount.id }}</a>
          </td>
          <td>{{ prepaymentAccount.catalogueNumber }}</td>
          <td>{{ prepaymentAccount.recognitionDate | formatMediumDate }}</td>
          <td>{{ prepaymentAccount.particulars }}</td>
          <!-- // TODO remove this from list view as it makes the view to busy-->
          <!--<td>{{ prepaymentAccount.notes }}</td>-->
          <td>{{ prepaymentAccount.prepaymentAmount | currency }}</td>
          <td>
            <div *ngIf="prepaymentAccount.settlementCurrency">
              <a [routerLink]="['/settlement-currency', prepaymentAccount.settlementCurrency?.id, 'view']">{{
                prepaymentAccount.settlementCurrency?.iso4217CurrencyCode
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="prepaymentAccount.prepaymentTransaction">
              <a [routerLink]="['/settlement', prepaymentAccount.prepaymentTransaction?.id, 'view']">{{
                prepaymentAccount.prepaymentTransaction?.paymentNumber
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="prepaymentAccount.serviceOutlet">
              <a [routerLink]="['/service-outlet', prepaymentAccount.serviceOutlet?.id, 'view']">{{
                prepaymentAccount.serviceOutlet?.outletCode
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="prepaymentAccount.dealer">
              <a [routerLink]="['/dealer', prepaymentAccount.dealer?.id, 'view']">{{ prepaymentAccount.dealer?.dealerName }}</a>
            </div>
          </td>
          <!--<td>
            <div *ngIf="prepaymentAccount.placeholders">
              <a [routerLink]="['/placeholder', prepaymentAccount.placeholders?., 'view']">{{
                prepaymentAccount.placeholder?.description
              }}</a>
            </div>
          </td>-->
          <td>
            <div *ngIf="prepaymentAccount.debitAccount">
              <a [routerLink]="['/transaction-account', prepaymentAccount.debitAccount?.id, 'view']">{{
                prepaymentAccount.debitAccount?.accountName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="prepaymentAccount.transferAccount">
              <a [routerLink]="['/transaction-account', prepaymentAccount.transferAccount?.id, 'view']">{{
                prepaymentAccount.transferAccount?.accountName
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/prepayment-account', prepaymentAccount.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button
                type="submit"
                [routerLink]="['/prepayment-account', prepaymentAccount.id, 'edit']"
                (click)='editButtonEvent(prepaymentAccount)'
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button
                type="submit"
                [routerLink]="['/prepayment-account', prepaymentAccount.id, 'copy']"
                (click)='copyButtonEvent(prepaymentAccount)'
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="copy"></fa-icon>
              </button>

              <button type="submit" (click)="delete(prepaymentAccount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="prepaymentAccounts && prepaymentAccounts.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
