<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="assetCategory">
      <h2 data-cy="assetCategoryDetailsHeading"><span>Asset Category</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ assetCategory.id }}</span>
        </dd>
        <dt><span>Asset Category Name</span></dt>
        <dd>
          <span>{{ assetCategory.assetCategoryName }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ assetCategory.description }}</span>
        </dd>
        <dt><span>Notes</span></dt>
        <dd>
          <span>{{ assetCategory.notes }}</span>
        </dd>
        <dt><span>Remarks</span></dt>
        <dd>
          <span>{{ assetCategory.remarks }}</span>
        </dd>
        <dt><span>Depreciation Rate Yearly</span></dt>
        <dd>
          <span>{{ assetCategory.depreciationRateYearly }}</span>
        </dd>
        <dt><span>Depreciation Method</span></dt>
        <dd>
          <div *ngIf="assetCategory.depreciationMethod">
            <a [routerLink]="['/depreciation-method', assetCategory.depreciationMethod?.id, 'view']">{{
              assetCategory.depreciationMethod?.depreciationMethodName
            }}</a>
          </div>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of assetCategory.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/asset-category', assetCategory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
