<!--
    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div>
  <h2 id="page-heading" data-cy="LeaseTemplateHeading">
    <span>Lease Templates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-lease-template"
        [routerLink]="['/lease-template/new']"
        (click)="createButtonEvent()"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Lease Template </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="leaseTemplates?.length === 0">
    <span>No leaseTemplates found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="leaseTemplates && leaseTemplates.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="templateTitle"><span>Template Title</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="assetAccount.accountName"><span>Asset Account</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="depreciationAccount.accountName"><span>Depreciation Account</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="accruedDepreciationAccount.accountName"><span>Accrued Depreciation Account</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="assetCategory.assetCategoryName"><span>Asset Category</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="serviceOutlet.outletName"><span>Service Outlet</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="mainDealer.dealerName"><span>Main Dealer</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leaseTemplate of leaseTemplates; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/lease-template', leaseTemplate.id, 'view']">{{ leaseTemplate.id }}</a>
          </td>
          <td>{{ leaseTemplate.templateTitle }}</td>
          <td>
            <div *ngIf="leaseTemplate.assetAccount">
              <a [routerLink]="['/transaction-account', leaseTemplate.assetAccount?.id, 'view']">{{ leaseTemplate.assetAccount?.accountName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="leaseTemplate.depreciationAccount">
              <a [routerLink]="['/transaction-account', leaseTemplate.depreciationAccount?.id, 'view']">{{
                leaseTemplate.depreciationAccount?.accountName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="leaseTemplate.accruedDepreciationAccount">
              <a [routerLink]="['/transaction-account', leaseTemplate.accruedDepreciationAccount?.id, 'view']">{{
                leaseTemplate.accruedDepreciationAccount?.accountName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="leaseTemplate.assetCategory">
              <a [routerLink]="['/asset-category', leaseTemplate.assetCategory?.id, 'view']">{{
                leaseTemplate.assetCategory?.assetCategoryName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="leaseTemplate.serviceOutlet">
              <a [routerLink]="['/service-outlet', leaseTemplate.serviceOutlet?.id, 'view']">{{ leaseTemplate.serviceOutlet?.outletCode }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="leaseTemplate.mainDealer">
              <a [routerLink]="['/dealer', leaseTemplate.mainDealer?.id, 'view']">{{ leaseTemplate.mainDealer?.dealerName }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/lease-template', leaseTemplate.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/lease-template', leaseTemplate.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
                (click)="editButtonEvent(leaseTemplate)"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/lease-template', leaseTemplate.id, 'copy']"
                class="btn btn-primary btn-sm"
                data-cy="entityCopyButton"
                (click)="copyButtonEvent(leaseTemplate)"
              >
                <fa-icon icon="copy"></fa-icon>
                <span class="d-none d-md-inline">Copy</span>
              </button>

              <button type="submit" (click)="delete(leaseTemplate)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="leaseTemplates && leaseTemplates.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
