<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="productType">
      <h2 data-cy="productTypeDetailsHeading"><span>Product Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ productType.id }}</span>
        </dd>
        <dt><span>Product Code</span></dt>
        <dd>
          <span>{{ productType.productCode }}</span>
        </dd>
        <dt><span>Product Type</span></dt>
        <dd>
          <span>{{ productType.productType }}</span>
        </dd>
        <dt><span>Product Type Description</span></dt>
        <dd>
          <span>{{ productType.productTypeDescription }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/product-type', productType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
