<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <!--<h2 id="jhi-payment-heading" data-cy="PaymentCreateUpdateHeading">Create or edit a Payment</h2>-->

      <h2 id="jhi-payment-heading" [hidden]="!weAreCreatingAPayment">New Payment</h2>

      <h2 id="jhi-payment-heading-editing" [hidden]="!weAreEditingAPayment">Editing Payment: {{ selectedPayment.paymentNumber }}; {{ selectedPayment.paymentDate | formatMediumDate  }}</h2>

      <h2 id="jhi-payment-heading-copying" [hidden]="!weAreCopyingAPayment">Copying Payment: {{ selectedPayment.paymentNumber }}; {{ selectedPayment.paymentDate | formatMediumDate  }}</h2>

      <h2 id="jhi-dealer-payment-heading" [hidden]="!weArePayingADealer">Paying: {{ selectedDealer.dealerName }}</h2>

      <h2 id="jhi-invoice-dealer-payment-heading" [hidden]="!weArePayingAnInvoiceDealer">Paying: {{ invoiceDealer.dealerName }} Invoice #: {{ selectedInvoice.invoiceNumber }} </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_paymentNumber">Payment Number</label>
          <input
            type="text"
            class="form-control"
            name="paymentNumber"
            id="field_paymentNumber"
            data-cy="paymentNumber"
            formControlName="paymentNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_paymentDate">Payment Date</label>
          <div class="input-group">
            <input
              id="field_paymentDate"
              data-cy="paymentDate"
              type="text"
              class="form-control"
              name="paymentDate"
              ngbDatepicker
              #paymentDateDp="ngbDatepicker"
              formControlName="paymentDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="paymentDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_invoicedAmount">Invoiced Amount</label>
          <input
            type="number"
            class="form-control"
            name="invoicedAmount"
            id="field_invoicedAmount"
            data-cy="invoicedAmount"
            formControlName="invoicedAmount"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_disbursementCost">Disbursement Cost</label>
          <input
            type="number"
            class="form-control"
            name="disbursementCost"
            id="field_disbursementCost"
            data-cy="disbursementCost"
            formControlName="disbursementCost"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_vatableAmount">Vatable Amount</label>
          <input
            type="number"
            class="form-control"
            name="vatableAmount"
            id="field_vatableAmount"
            data-cy="vatableAmount"
            formControlName="vatableAmount"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_paymentAmount">Payment Amount</label>
          <input
            type="number"
            class="form-control"
            name="paymentAmount"
            id="field_paymentAmount"
            data-cy="paymentAmount"
            formControlName="paymentAmount"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_settlementCurrency">Settlement Currency</label>
          <select
            class="form-control"
            name="settlementCurrency"
            formControlName="settlementCurrency"
            id="field_settlementCurrency"
            data-cy="settlementCurrency"
          >
            <option [ngValue]="null"></option>
            <option value="KES">KES</option>
            <option value="USD">USD</option>
            <option value="GBP">GBP</option>
            <option value="EUR">EUR</option>
            <option value="INR">INR</option>
            <option value="ZAR">ZAR</option>
            <option value="AED">AED</option>
            <option value="CNY">CNY</option>
            <option value="CHF">CHF</option>
            <option value="UGX">UGX</option>
            <option value="TZS">TZS</option>
            <option value="JPY">JPY</option>
            <option value="CAD">CAD</option>
          </select>
          <div
            *ngIf="
              editForm.get('settlementCurrency')!.invalid &&
              (editForm.get('settlementCurrency')!.dirty || editForm.get('settlementCurrency')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('settlementCurrency')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <!--<div class="form-group">
          <label class="form-control-label" for="field_conversionRate">Conversion Rate</label>
          <input
            type="number"
            class="form-control"
            name="conversionRate"
            id="field_conversionRate"
            data-cy="conversionRate"
            formControlName="conversionRate"
          />
          <div
            *ngIf="
              editForm.get('conversionRate')!.invalid && (editForm.get('conversionRate')!.dirty || editForm.get('conversionRate')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('conversionRate')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('conversionRate')?.errors?.min">
              This field should be at least 1.00.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('conversionRate')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>-->

        <div class="form-group">
          <label for="field_paymentLabels">Payment Label</label>
          <select
            class="form-control"
            id="field_paymentLabels"
            data-cy="paymentLabel"
            multiple
            name="paymentLabels"
            formControlName="paymentLabels"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="getSelectedPaymentLabel(paymentLabelOption, editForm.get('paymentLabels')!.value)"
              *ngFor="let paymentLabelOption of paymentLabelsSharedCollection; trackBy: trackPaymentLabelById"
            >
              {{ paymentLabelOption.description }}
            </option>
          </select>
        </div>

        <!--<div class="form-group">
          <label class="form-control-label" for="field_dealer">Dealer</label>
          <select class="form-control" id="field_dealer" data-cy="dealer" name="dealer" formControlName="dealer">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="dealerOption.id === editForm.get('dealer')!.value?.id ? editForm.get('dealer')!.value : dealerOption"
              *ngFor="let dealerOption of dealersSharedCollection; trackBy: trackDealerById"
            >
              {{ dealerOption.dealerName }}
            </option>
          </select>
        </div>-->
        <div class="form-group">
          <label class="form-control-label" for="field_dealerId">Dealer Id</label>
          <input type="number" class="form-control" name="dealerId" id="field_dealerId" data-cy="dealerId" formControlName="dealerId" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_paymentCategory">Payment Category</label>
          <select
            class="form-control"
            id="field_paymentCategory"
            data-cy="paymentCategory"
            name="paymentCategory"
            formControlName="paymentCategory"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                paymentCategoryOption.id === editForm.get('paymentCategory')!.value?.id
                  ? editForm.get('paymentCategory')!.value
                  : paymentCategoryOption
              "
              *ngFor="let paymentCategoryOption of paymentCategoriesSharedCollection; trackBy: trackPaymentCategoryById"
            >
              {{ paymentCategoryOption.categoryName }}
            </option>
          </select>
        </div>

        <!--<div class="form-group">
          <label class="form-control-label" for="field_taxRule">Tax Rule</label>
          <select class="form-control" id="field_taxRule" data-cy="taxRule" name="taxRule" formControlName="taxRule">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="taxRuleOption.id === editForm.get('taxRule')!.value?.id ? editForm.get('taxRule')!.value : taxRuleOption"
              *ngFor="let taxRuleOption of taxRulesSharedCollection; trackBy: trackTaxRuleById"
            >
              {{ taxRuleOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_paymentCalculation">Payment Calculation</label>
          <select
            class="form-control"
            id="field_paymentCalculation"
            data-cy="paymentCalculation"
            name="paymentCalculation"
            formControlName="paymentCalculation"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                paymentCalculationOption.id === editForm.get('paymentCalculation')!.value?.id
                  ? editForm.get('paymentCalculation')!.value
                  : paymentCalculationOption
              "
              *ngFor="let paymentCalculationOption of paymentCalculationsCollection; trackBy: trackPaymentCalculationById"
            >
              {{ paymentCalculationOption.id }}
            </option>
          </select>
        </div>-->

        <div class="form-group">
          <label for="field_placeholders">Placeholder</label>
          <select
            class="form-control"
            id="field_placeholders"
            data-cy="placeholder"
            multiple
            name="placeholders"
            formControlName="placeholders"
          >
            <option
              [ngValue]="getSelectedPlaceholder(placeholderOption, editForm.get('placeholders')!.value)"
              *ngFor="let placeholderOption of placeholdersSharedCollection; trackBy: trackPlaceholderById"
            >
              {{ placeholderOption.description }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_paymentGroup">Payment Group</label>
          <select class="form-control" id="field_paymentGroup" data-cy="paymentGroup" name="paymentGroup" formControlName="paymentGroup">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="paymentOption.id === editForm.get('paymentGroup')!.value?.id ? editForm.get('paymentGroup')!.value : paymentOption"
              *ngFor="let paymentOption of paymentsSharedCollection; trackBy: trackPaymentById"
            >
              {{ paymentOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="field_fileUploadToken">File Upload Token</label>
        <input
          type="text"
          class="form-control"
          name="fileUploadToken"
          id="field_fileUploadToken"
          data-cy="fileUploadToken"
          formControlName="fileUploadToken"
        />
      </div>

      <div class="form-group">
        <label class="form-control-label" for="field_compilationToken">Compilation Token</label>
        <input
          type="text"
          class="form-control"
          name="compilationToken"
          id="field_compilationToken"
          data-cy="compilationToken"
          formControlName="compilationToken"
        />
      </div>

      <div>
        <!--<button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>-->

        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
          </button>

          <button type="submit" id="copy-entity" [hidden]="!weAreCopyingAPayment" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (click)="copy()">
            <fa-icon icon="copy"></fa-icon>&nbsp;<span>Copy</span>
          </button>

          <button type="submit" id="update-entity" [hidden]="!weAreEditingAPayment" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (click)="edit()">
            <fa-icon icon="hdd"></fa-icon>&nbsp;<span>Update</span>
          </button>

          <button type="submit" id="save-entity" [hidden]="!weAreCreatingAPayment" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
          </button>

          <button type="submit" id="pay-invoice-dealer" [hidden]="!weArePayingAnInvoiceDealer" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (click)="addInvoiceDealer()">
            <fa-icon icon="save"></fa-icon>&nbsp;<span>+Invoice</span>
          </button>

          <button type="submit" id="pay-dealer" [hidden]="!weArePayingADealer" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
          </button>
        </div>

      </div>
    </form>
  </div>
</div>
