<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-security-tenure-heading" data-cy="SecurityTenureCreateUpdateHeading">Create or edit a Security Tenure</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_securityTenureCode">Security Tenure Code</label>
          <input
            type="text"
            class="form-control"
            name="securityTenureCode"
            id="field_securityTenureCode"
            data-cy="securityTenureCode"
            formControlName="securityTenureCode"
          />
          <div
            *ngIf="
              editForm.get('securityTenureCode')!.invalid &&
              (editForm.get('securityTenureCode')!.dirty || editForm.get('securityTenureCode')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('securityTenureCode')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_securityTenureType">Security Tenure Type</label>
          <input
            type="text"
            class="form-control"
            name="securityTenureType"
            id="field_securityTenureType"
            data-cy="securityTenureType"
            formControlName="securityTenureType"
          />
          <div
            *ngIf="
              editForm.get('securityTenureType')!.invalid &&
              (editForm.get('securityTenureType')!.dirty || editForm.get('securityTenureType')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('securityTenureType')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_securityTenureDetails">Security Tenure Details</label>
          <textarea
            class="form-control"
            name="securityTenureDetails"
            id="field_securityTenureDetails"
            data-cy="securityTenureDetails"
            formControlName="securityTenureDetails"
          ></textarea>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
