<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-file-type-heading" data-cy="FileTypeCreateUpdateHeading">Create or edit a File Type</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fileTypeName">File Type Name</label>
          <input
            type="text"
            class="form-control"
            name="fileTypeName"
            id="field_fileTypeName"
            data-cy="fileTypeName"
            formControlName="fileTypeName"
          />
          <div
            *ngIf="editForm.get('fileTypeName')!.invalid && (editForm.get('fileTypeName')!.dirty || editForm.get('fileTypeName')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('fileTypeName')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fileMediumType">File Medium Type</label>
          <select
            class="form-control"
            name="fileMediumType"
            formControlName="fileMediumType"
            id="field_fileMediumType"
            data-cy="fileMediumType"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let fileMediumTypes of fileMediumTypesValues" [value]="fileMediumTypes">fileMediumTypes</option>
          </select>
          <div
            *ngIf="
              editForm.get('fileMediumType')!.invalid && (editForm.get('fileMediumType')!.dirty || editForm.get('fileMediumType')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('fileMediumType')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fileTemplate">File Template</label>
          <div>
            <div *ngIf="editForm.get('fileTemplate')!.value" class="form-text text-danger clearfix">
              <a class="pull-left" (click)="openFile(editForm.get('fileTemplate')!.value, editForm.get('fileTemplateContentType')!.value)"
                >open</a
              ><br />
              <span class="pull-left"
                >{{ editForm.get('fileTemplateContentType')!.value }}, {{ byteSize(editForm.get('fileTemplate')!.value) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ fileTemplate: null }); editForm.patchValue({ fileTemplateContentType: null })"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_fileTemplate" data-cy="fileTemplate" (change)="setFileData($event, 'fileTemplate', false)" />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="fileTemplate"
            id="field_fileTemplate"
            data-cy="fileTemplate"
            formControlName="fileTemplate"
          />
          <input
            type="hidden"
            class="form-control"
            name="fileTemplateContentType"
            id="field_fileTemplateContentType"
            formControlName="fileTemplateContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fileType">File Type</label>
          <select class="form-control" name="fileType" formControlName="fileType" id="field_fileType" data-cy="fileType">
            <option [ngValue]="null"></option>
            <option *ngFor="let fileModelType of fileModelTypeValues" [value]="fileModelType">fileModelType</option>
          </select>
          <div *ngIf="editForm.get('fileType')!.invalid && (editForm.get('fileType')!.dirty || editForm.get('fileType')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('fileType')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label for="field_placeholders">Placeholder</label>
          <select
            class="form-control"
            id="field_placeholders"
            data-cy="placeholder"
            multiple
            name="placeholders"
            formControlName="placeholders"
          >
            <option
              [ngValue]="getSelectedPlaceholder(placeholderOption, editForm.get('placeholders')!.value)"
              *ngFor="let placeholderOption of placeholdersSharedCollection; trackBy: trackPlaceholderById"
            >
              {{ placeholderOption.description }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
