<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tax-rule-heading">Create or edit a Tax Rule</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paymentNumber">Payment Number</label>
                    <input type="text" class="form-control" name="paymentNumber" id="field_paymentNumber"
                           formControlName="paymentNumber"/>
                    <div *ngIf="editForm.get('paymentNumber')!.invalid && (editForm.get('paymentNumber')!.dirty || editForm.get('paymentNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('paymentNumber')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paymentDate">Payment Date</label>
                    <div class="input-group">
                        <input id="field_paymentDate" type="text" class="form-control" name="paymentDate" ngbDatepicker #paymentDateDp="ngbDatepicker" formControlName="paymentDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="paymentDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('paymentDate')!.invalid && (editForm.get('paymentDate')!.dirty || editForm.get('paymentDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('paymentDate')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_telcoExciseDuty">Telco Excise Duty</label>
                    <input type="number" class="form-control" name="telcoExciseDuty" id="field_telcoExciseDuty"
                           formControlName="telcoExciseDuty"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_valueAddedTax">Value Added Tax</label>
                    <input type="number" class="form-control" name="valueAddedTax" id="field_valueAddedTax"
                           formControlName="valueAddedTax"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_withholdingVAT">Withholding VAT</label>
                    <input type="number" class="form-control" name="withholdingVAT" id="field_withholdingVAT"
                           formControlName="withholdingVAT"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_withholdingTaxConsultancy">Withholding Tax Consultancy</label>
                    <input type="number" class="form-control" name="withholdingTaxConsultancy" id="field_withholdingTaxConsultancy"
                           formControlName="withholdingTaxConsultancy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_withholdingTaxRent">Withholding Tax Rent</label>
                    <input type="number" class="form-control" name="withholdingTaxRent" id="field_withholdingTaxRent"
                           formControlName="withholdingTaxRent"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_cateringLevy">Catering Levy</label>
                    <input type="number" class="form-control" name="cateringLevy" id="field_cateringLevy"
                           formControlName="cateringLevy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_serviceCharge">Service Charge</label>
                    <input type="number" class="form-control" name="serviceCharge" id="field_serviceCharge"
                           formControlName="serviceCharge"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_withholdingTaxImportedService">Withholding Tax Imported Service</label>
                    <input type="number" class="form-control" name="withholdingTaxImportedService" id="field_withholdingTaxImportedService"
                           formControlName="withholdingTaxImportedService"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
