<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="nbvCompilationJob">
      <h2 data-cy="nbvCompilationJobDetailsHeading"><span>Nbv Compilation Job</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ nbvCompilationJob.id }}</span>
        </dd>
        <dt><span>Compilation Job Identifier</span></dt>
        <dd>
          <span>{{ nbvCompilationJob.compilationJobIdentifier }}</span>
        </dd>
        <dt><span>Compilation Job Time Of Request</span></dt>
        <dd>
          <span>{{ nbvCompilationJob.compilationJobTimeOfRequest | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Entities Affected</span></dt>
        <dd>
          <span>{{ nbvCompilationJob.entitiesAffected }}</span>
        </dd>
        <dt><span>Compilation Status</span></dt>
        <dd>
          <span>{{ nbvCompilationJob.compilationStatus }}</span>
        </dd>
        <dt><span>Job Title</span></dt>
        <dd>
          <span>{{ nbvCompilationJob.jobTitle }}</span>
        </dd>
        <dt><span>Number Of Batches</span></dt>
        <dd>
          <span>{{ nbvCompilationJob.numberOfBatches }}</span>
        </dd>
        <dt><span>Number Of Processed Batches</span></dt>
        <dd>
          <span>{{ nbvCompilationJob.numberOfProcessedBatches }}</span>
        </dd>
        <dt><span>Processing Time</span></dt>
        <dd>
          <span>{{ nbvCompilationJob.processingTime | duration }} ({{ nbvCompilationJob.processingTime }})</span>
        </dd>
        <dt><span>Active Period</span></dt>
        <dd>
          <div *ngIf="nbvCompilationJob.activePeriod">
            <a [routerLink]="['/depreciation-period', nbvCompilationJob.activePeriod?.id, 'view']">{{
              nbvCompilationJob.activePeriod?.endDate
            }}</a>
          </div>
        </dd>
        <dt><span>Initiated By</span></dt>
        <dd>
          <div *ngIf="nbvCompilationJob.initiatedBy">
            <a [routerLink]="['/application-user', nbvCompilationJob.initiatedBy?.id, 'view']">{{
              nbvCompilationJob.initiatedBy?.applicationIdentity
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/nbv-compilation-job', nbvCompilationJob.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
