<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-county-code-heading" data-cy="CountyCodeCreateUpdateHeading">Create or edit a County Code</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_countyCode">County Code</label>
          <input
            type="number"
            class="form-control"
            name="countyCode"
            id="field_countyCode"
            data-cy="countyCode"
            formControlName="countyCode"
          />
          <div *ngIf="editForm.get('countyCode')!.invalid && (editForm.get('countyCode')!.dirty || editForm.get('countyCode')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('countyCode')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('countyCode')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_countyName">County Name</label>
          <input
            type="text"
            class="form-control"
            name="countyName"
            id="field_countyName"
            data-cy="countyName"
            formControlName="countyName"
          />
          <div *ngIf="editForm.get('countyName')!.invalid && (editForm.get('countyName')!.dirty || editForm.get('countyName')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('countyName')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_subCountyCode">Sub County Code</label>
          <input
            type="number"
            class="form-control"
            name="subCountyCode"
            id="field_subCountyCode"
            data-cy="subCountyCode"
            formControlName="subCountyCode"
          />
          <div
            *ngIf="
              editForm.get('subCountyCode')!.invalid && (editForm.get('subCountyCode')!.dirty || editForm.get('subCountyCode')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('subCountyCode')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('subCountyCode')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_subCountyName">Sub County Name</label>
          <input
            type="text"
            class="form-control"
            name="subCountyName"
            id="field_subCountyName"
            data-cy="subCountyName"
            formControlName="subCountyName"
          />
          <div
            *ngIf="
              editForm.get('subCountyName')!.invalid && (editForm.get('subCountyName')!.dirty || editForm.get('subCountyName')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('subCountyName')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label for="field_placeholders">Placeholder</label>
          <select
            class="form-control"
            id="field_placeholders"
            data-cy="placeholder"
            multiple
            name="placeholders"
            formControlName="placeholders"
          >
            <option
              [ngValue]="getSelectedPlaceholder(placeholderOption, editForm.get('placeholders')!.value)"
              *ngFor="let placeholderOption of placeholdersSharedCollection; trackBy: trackPlaceholderById"
            >
              {{ placeholderOption.description }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
