<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-business-document-heading" data-cy="BusinessDocumentCreateUpdateHeading">Upload a Business Document</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_documentTitle">Document Title</label>
          <input
            type="text"
            class="form-control"
            name="documentTitle"
            id="field_documentTitle"
            data-cy="documentTitle"
            formControlName="documentTitle"
          />
          <div
            *ngIf="
              editForm.get('documentTitle')!.invalid && (editForm.get('documentTitle')!.dirty || editForm.get('documentTitle')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('documentTitle')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_documentSerial">Document Serial</label>
          <input
            type="text"
            class="form-control"
            name="documentSerial"
            id="field_documentSerial"
            data-cy="documentSerial"
            formControlName="documentSerial"
            [readonly]="editForm.get('id')!.value == null"
          />
          <div
            *ngIf="
              editForm.get('documentSerial')!.invalid && (editForm.get('documentSerial')!.dirty || editForm.get('documentSerial')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('documentSerial')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_documentFile">Document File</label>
          <div>
            <div *ngIf="editForm.get('documentFile')!.value" class="form-text text-danger clearfix">
              <a class="pull-left" (click)="openFile(editForm.get('documentFile')!.value, editForm.get('documentFileContentType')!.value)"
                >open</a
              ><br />
              <span class="pull-left"
                >{{ editForm.get('documentFileContentType')!.value }}, {{ byteSize(editForm.get('documentFile')!.value) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ documentFile: null }); editForm.patchValue({ documentFileContentType: null })"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_documentFile" data-cy="documentFile" (change)="setFileData($event, 'documentFile', false)" />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="documentFile"
            id="field_documentFile"
            data-cy="documentFile"
            formControlName="documentFile"
          />
          <input
            type="hidden"
            class="form-control"
            name="documentFileContentType"
            id="field_documentFileContentType"
            formControlName="documentFileContentType"
          />
          <div
            *ngIf="editForm.get('documentFile')!.invalid && (editForm.get('documentFile')!.dirty || editForm.get('documentFile')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('documentFile')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <jhi-algorithm-form-control
          ngDefaultControl
          formControlName='fileChecksumAlgorithm'
          [inputValue]="editForm.get(['fileChecksumAlgorithm'])!.value"
          (valueSelected)='updateFileChecksumAlgorithm($event)'
          inputControlLabel='File Checksum Algorithm'
        >
          <option [ngValue]="editForm.get('fileChecksumAlgorithm')!.value"></option>
        </jhi-algorithm-form-control>

        <div class="form-group">
          <label class="form-control-label" for="field_documentFileChecksum">Document File Checksum</label>
          <input
            type="text"
            class="form-control"
            name="documentFileChecksum"
            id="field_documentFileChecksum"
            data-cy="documentFileChecksum"
            formControlName="documentFileChecksum"
            [readonly]="true"
          />
          <div
            *ngIf="
              editForm.get('documentFileChecksum')!.invalid &&
              (editForm.get('documentFileChecksum')!.dirty || editForm.get('documentFileChecksum')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('documentFileChecksum')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <jhi-m2m-universally-unique-mapping-form-control
          ngDefaultControl
          formControlName='applicationMappings'
          [inputValues]="editForm.get(['applicationMappings'])!.value"
          (selectedValues)='updateMappings($event)'
          inputControlLabel='Application Mappings'
        >
        </jhi-m2m-universally-unique-mapping-form-control>


        <jhi-m2m-placeholder-form-control
          ngDefaultControl
          formControlName='placeholders'
          [inputValues]="editForm.get(['placeholders'])!.value"
          (selectedValues)='updatePlaceholders($event)'
          inputControlLabel='Placeholder Items'
        >
        </jhi-m2m-placeholder-form-control>

      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Upload</span>
        </button>
      </div>
    </form>
  </div>
</div>
