<!--

    Erp System - Mark X No 10 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-asset-write-off-heading" data-cy="AssetWriteOffCreateUpdateHeading">Create or edit a Asset Write Off</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_writeOffAmount">Write Off Amount</label>
          <input
            type="number"
            class="form-control"
            name="writeOffAmount"
            id="field_writeOffAmount"
            data-cy="writeOffAmount"
            formControlName="writeOffAmount"
          />
          <div
            *ngIf="
              editForm.get('writeOffAmount')!.invalid && (editForm.get('writeOffAmount')!.dirty || editForm.get('writeOffAmount')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('writeOffAmount')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('writeOffAmount')?.errors?.min">
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('writeOffAmount')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_writeOffDate">Write Off Date</label>
          <div class="input-group">
            <input
              id="field_writeOffDate"
              data-cy="writeOffDate"
              type="text"
              class="form-control"
              name="writeOffDate"
              ngbDatepicker
              #writeOffDateDp="ngbDatepicker"
              formControlName="writeOffDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="writeOffDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="editForm.get('writeOffDate')!.invalid && (editForm.get('writeOffDate')!.dirty || editForm.get('writeOffDate')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('writeOffDate')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_writeOffReferenceId">Write Off Reference Id</label>
          <input
            type="text"
            class="form-control"
            name="writeOffReferenceId"
            id="field_writeOffReferenceId"
            data-cy="writeOffReferenceId"
            formControlName="writeOffReferenceId"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdBy">Created By</label>
          <select class="form-control" id="field_createdBy" data-cy="createdBy" name="createdBy" formControlName="createdBy">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                applicationUserOption.id === editForm.get('createdBy')!.value?.id ? editForm.get('createdBy')!.value : applicationUserOption
              "
              *ngFor="let applicationUserOption of applicationUsersSharedCollection; trackBy: trackApplicationUserById"
            >
              {{ applicationUserOption.applicationIdentity }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_modifiedBy">Modified By</label>
          <select class="form-control" id="field_modifiedBy" data-cy="modifiedBy" name="modifiedBy" formControlName="modifiedBy">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                applicationUserOption.id === editForm.get('modifiedBy')!.value?.id
                  ? editForm.get('modifiedBy')!.value
                  : applicationUserOption
              "
              *ngFor="let applicationUserOption of applicationUsersSharedCollection; trackBy: trackApplicationUserById"
            >
              {{ applicationUserOption.applicationIdentity }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_lastAccessedBy">Last Accessed By</label>
          <select
            class="form-control"
            id="field_lastAccessedBy"
            data-cy="lastAccessedBy"
            name="lastAccessedBy"
            formControlName="lastAccessedBy"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                applicationUserOption.id === editForm.get('lastAccessedBy')!.value?.id
                  ? editForm.get('lastAccessedBy')!.value
                  : applicationUserOption
              "
              *ngFor="let applicationUserOption of applicationUsersSharedCollection; trackBy: trackApplicationUserById"
            >
              {{ applicationUserOption.applicationIdentity }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_effectivePeriod">Effective Period</label>
          <select
            class="form-control"
            id="field_effectivePeriod"
            data-cy="effectivePeriod"
            name="effectivePeriod"
            formControlName="effectivePeriod"
          >
            <option *ngIf="!editForm.get('effectivePeriod')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                depreciationPeriodOption.id === editForm.get('effectivePeriod')!.value?.id
                  ? editForm.get('effectivePeriod')!.value
                  : depreciationPeriodOption
              "
              *ngFor="let depreciationPeriodOption of depreciationPeriodsSharedCollection; trackBy: trackDepreciationPeriodById"
            >
              {{ depreciationPeriodOption.startDate }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['effectivePeriod'])!.invalid &&
            (editForm.get(['effectivePeriod'])!.dirty || editForm.get(['effectivePeriod'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['effectivePeriod'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label for="field_placeholders">Placeholder</label>
          <select
            class="form-control"
            id="field_placeholders"
            data-cy="placeholder"
            multiple
            name="placeholders"
            formControlName="placeholders"
          >
            <option
              [ngValue]="getSelectedPlaceholder(placeholderOption, editForm.get('placeholders')!.value)"
              *ngFor="let placeholderOption of placeholdersSharedCollection; trackBy: trackPlaceholderById"
            >
              {{ placeholderOption.description }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_assetWrittenOff">Asset Written Off</label>
          <select
            class="form-control"
            id="field_assetWrittenOff"
            data-cy="assetWrittenOff"
            name="assetWrittenOff"
            formControlName="assetWrittenOff"
          >
            <option *ngIf="editForm.get(['assetWrittenOff'])!.value == null" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                assetRegistrationOption.id === editForm.get('assetWrittenOff')!.value?.id
                  ? editForm.get('assetWrittenOff')!.value
                  : assetRegistrationOption
              "
              *ngFor="let assetRegistrationOption of assetWrittenOffsCollection; trackBy: trackAssetRegistrationById"
            >
              {{ assetRegistrationOption.assetNumber }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['assetWrittenOff'])!.invalid &&
            (editForm.get(['assetWrittenOff'])!.dirty || editForm.get(['assetWrittenOff'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['assetWrittenOff'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
