<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="depreciationBatchSequence">
      <h2 data-cy="depreciationBatchSequenceDetailsHeading"><span>Depreciation Batch Sequence</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ depreciationBatchSequence.id }}</span>
        </dd>
        <dt><span>Start Index</span></dt>
        <dd>
          <span>{{ depreciationBatchSequence.startIndex }}</span>
        </dd>
        <dt><span>End Index</span></dt>
        <dd>
          <span>{{ depreciationBatchSequence.endIndex }}</span>
        </dd>
        <dt><span>Created At</span></dt>
        <dd>
          <span>{{ depreciationBatchSequence.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Depreciation Batch Status</span></dt>
        <dd>
          <span>{{ depreciationBatchSequence.depreciationBatchStatus }}</span>
        </dd>
        <dt><span>Batch Size</span></dt>
        <dd>
          <span>{{ depreciationBatchSequence.batchSize }}</span>
        </dd>
        <dt><span>Processed Items</span></dt>
        <dd>
          <span>{{ depreciationBatchSequence.processedItems }}</span>
        </dd>
        <dt><span>Sequence Number</span></dt>
        <dd>
          <span>{{ depreciationBatchSequence.sequenceNumber }}</span>
        </dd>
        <dt><span>Is Last Batch</span></dt>
        <dd>
          <span>{{ depreciationBatchSequence.isLastBatch }}</span>
        </dd>
        <dt><span>Processing Time</span></dt>
        <dd>
          <span>{{ depreciationBatchSequence.processingTime | duration }} ({{ depreciationBatchSequence.processingTime }})</span>
        </dd>
        <dt><span>Total Items</span></dt>
        <dd>
          <span>{{ depreciationBatchSequence.totalItems }}</span>
        </dd>
        <dt><span>Depreciation Job</span></dt>
        <dd>
          <div *ngIf="depreciationBatchSequence.depreciationJob">
            <a [routerLink]="['/depreciation-job', depreciationBatchSequence.depreciationJob?.id, 'view']">{{
              depreciationBatchSequence.depreciationJob?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/depreciation-batch-sequence', depreciationBatchSequence.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
