<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="universallyUniqueMapping">
      <h2 data-cy="universallyUniqueMappingDetailsHeading"><span>Universally Unique Mapping</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ universallyUniqueMapping.id }}</span>
        </dd>
        <dt><span>Universal Key</span></dt>
        <dd>
          <span>{{ universallyUniqueMapping.universalKey }}</span>
        </dd>
        <dt><span>Mapped Value</span></dt>
        <dd>
          <span>{{ universallyUniqueMapping.mappedValue }}</span>
        </dd>
        <dt><span>Parent Mapping</span></dt>
        <dd>
          <div *ngIf="universallyUniqueMapping.parentMapping">
            <a [routerLink]="['/universally-unique-mapping', universallyUniqueMapping.parentMapping?.id, 'view']">{{
              universallyUniqueMapping.parentMapping?.universalKey
            }}</a>
          </div>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of universallyUniqueMapping.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/universally-unique-mapping', universallyUniqueMapping.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
