<div [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
  <a
    class="navbar-toggler d-lg-none"
    href="javascript:void(0);"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleNavbar()"
  >
    <fa-icon icon="bars"></fa-icon>
  </a>
  <ul>
    <li
      *ngSwitchCase="true"
      ngbDropdown
      class="nav-item dropdown pointer"
      display="dynamic"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu"
         data-cy="entity">
          <span>
            <fa-icon icon="home"></fa-icon>
            <span>Menu</span>
          </span>
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
        <li>
          <a
            class="dropdown-item"
            (click)="togglePayments()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Payments</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            (click)="toggleFixedAssets()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Fixed Assets</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
