<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="wIPTransferListItem">
      <h2 data-cy="wIPTransferListItemDetailsHeading"><span>WIP Transfer List Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.id }}</span>
        </dd>
        <dt><span>Wip Sequence</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.wipSequence }}</span>
        </dd>
        <dt><span>Wip Particulars</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.wipParticulars }}</span>
        </dd>
        <dt><span>Transfer Type</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.transferType }}</span>
        </dd>
        <dt><span>Transfer Settlement</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.transferSettlement }}</span>
        </dd>
        <dt><span>Transfer Settlement Date</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.transferSettlementDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Transfer Amount</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.transferAmount }}</span>
        </dd>
        <dt><span>Wip Transfer Date</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.wipTransferDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Original Settlement</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.originalSettlement }}</span>
        </dd>
        <dt><span>Original Settlement Date</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.originalSettlementDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Asset Category</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.assetCategory }}</span>
        </dd>
        <dt><span>Service Outlet</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.serviceOutlet }}</span>
        </dd>
        <dt><span>Work Project</span></dt>
        <dd>
          <span>{{ wIPTransferListItem.workProject }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>
    </div>
  </div>
</div>
