<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="crbReportViewBand">
      <h2 data-cy="crbReportViewBandDetailsHeading"><span>Crb Report View Band</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ crbReportViewBand.id }}</span>
        </dd>
        <dt><span>Report View Code</span></dt>
        <dd>
          <span>{{ crbReportViewBand.reportViewCode }}</span>
        </dd>
        <dt><span>Report View Category</span></dt>
        <dd>
          <span>{{ crbReportViewBand.reportViewCategory }}</span>
        </dd>
        <dt><span>Report View Category Description</span></dt>
        <dd>
          <span>{{ crbReportViewBand.reportViewCategoryDescription }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/crb-report-view-band', crbReportViewBand.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
