<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div>
  <h2 id="page-heading" data-cy="LeaseLiabilityScheduleReportItemHeading">
    <span>Lease Liability Schedule Report Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="leaseLiabilityScheduleReportItems?.length === 0">
    <span>No leaseLiabilityScheduleReportItems found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="leaseLiabilityScheduleReportItems && leaseLiabilityScheduleReportItems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sequenceNumber"><span>Sequence Number</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="openingBalance"><span>Opening Balance</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cashPayment"><span>Cash Payment</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="principalPayment"><span>Principal Payment</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="interestPayment"><span>Interest Payment</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="outstandingBalance"><span>Outstanding Balance</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="interestPayableOpening"><span>Interest Payable Opening</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="interestAccrued"><span>Interest Accrued</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="interestPayableClosing"><span>Interest Payable Closing</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="amortizationScheduleId"><span>Amortization Schedule Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let leaseLiabilityScheduleReportItem of leaseLiabilityScheduleReportItems; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/lease-liability-schedule-report-item', leaseLiabilityScheduleReportItem.id, 'view']">{{
              leaseLiabilityScheduleReportItem.id
            }}</a>
          </td>
          <td>{{ leaseLiabilityScheduleReportItem.sequenceNumber }}</td>
          <td>{{ leaseLiabilityScheduleReportItem.openingBalance }}</td>
          <td>{{ leaseLiabilityScheduleReportItem.cashPayment }}</td>
          <td>{{ leaseLiabilityScheduleReportItem.principalPayment }}</td>
          <td>{{ leaseLiabilityScheduleReportItem.interestPayment }}</td>
          <td>{{ leaseLiabilityScheduleReportItem.outstandingBalance }}</td>
          <td>{{ leaseLiabilityScheduleReportItem.interestPayableOpening }}</td>
          <td>{{ leaseLiabilityScheduleReportItem.interestAccrued }}</td>
          <td>{{ leaseLiabilityScheduleReportItem.interestPayableClosing }}</td>
          <td>{{ leaseLiabilityScheduleReportItem.amortizationScheduleId }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/lease-liability-schedule-report-item', leaseLiabilityScheduleReportItem.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
