<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="assetDisposal">
      <h2 data-cy="assetDisposalDetailsHeading"><span>Asset Disposal</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ assetDisposal.id }}</span>
        </dd>
        <dt><span>Asset Disposal Reference</span></dt>
        <dd>
          <span>{{ assetDisposal.assetDisposalReference }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ assetDisposal.description }}</span>
        </dd>
        <dt><span>Asset Cost</span></dt>
        <dd>
          <span>{{ assetDisposal.assetCost | currency  }}</span>
        </dd>
        <dt><span>Historical Cost</span></dt>
        <dd>
          <span>{{ assetDisposal.historicalCost | currency  }}</span>
        </dd>
        <dt><span>Accrued Depreciation</span></dt>
        <dd>
          <span>{{ assetDisposal.accruedDepreciation | currency  }}</span>
        </dd>
        <dt><span>Net Book Value</span></dt>
        <dd>
          <span>{{ assetDisposal.netBookValue | currency  }}</span>
        </dd>
        <dt><span>Decommissioning Date</span></dt>
        <dd>
          <span>{{ assetDisposal.decommissioningDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Disposal Date</span></dt>
        <dd>
          <span>{{ assetDisposal.disposalDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Dormant</span></dt>
        <dd>
          <span>{{ assetDisposal.dormant }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <div *ngIf="assetDisposal.createdBy">
            <a [routerLink]="['/application-user', assetDisposal.createdBy?.id, 'view']">{{
              assetDisposal.createdBy?.applicationIdentity
            }}</a>
          </div>
        </dd>
        <dt><span>Modified By</span></dt>
        <dd>
          <div *ngIf="assetDisposal.modifiedBy">
            <a [routerLink]="['/application-user', assetDisposal.modifiedBy?.id, 'view']">{{
              assetDisposal.modifiedBy?.applicationIdentity
            }}</a>
          </div>
        </dd>
        <dt><span>Last Accessed By</span></dt>
        <dd>
          <div *ngIf="assetDisposal.lastAccessedBy">
            <a [routerLink]="['/application-user', assetDisposal.lastAccessedBy?.id, 'view']">{{
              assetDisposal.lastAccessedBy?.applicationIdentity
            }}</a>
          </div>
        </dd>
        <dt><span>Effective Period</span></dt>
        <dd>
          <div *ngIf="assetDisposal.effectivePeriod">
            <a [routerLink]="['/depreciation-period', assetDisposal.effectivePeriod?.id, 'view']">{{
              assetDisposal.effectivePeriod?.startDate
            }}</a>
          </div>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of assetDisposal.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Asset Disposed</span></dt>
        <dd>
          <div *ngIf="assetDisposal.assetDisposed">
            <a [routerLink]="['/asset-registration', assetDisposal.assetDisposed?.id, 'view']">{{
              assetDisposal.assetDisposed?.assetNumber
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/asset-disposal', assetDisposal.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
