<div  [ngSwitch]="isAuthenticated()">
    <ul  class="navbar-nav ml-auto">
        <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic"
            routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
              <span>
                  <fa-icon icon="box-open"></fa-icon>
                  <span>
                      Files
                  </span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
              <li>
                <a
                  class="dropdown-item"
                  routerLink="file-type"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>File Type</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="file-upload"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>File Upload</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="message-token"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Message Token</span>
                </a>
              </li>
            </ul>
        </li>
    </ul>
</div>
