<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div>
  <h2>
    <span id="health-page-heading" data-cy="healthPageHeading">Health Checks</span>

    <button class="btn btn-primary float-right" (click)="refresh()"><fa-icon icon="sync"></fa-icon> <span>Refresh</span></button>
  </h2>

  <div class="table-responsive">
    <table id="healthCheck" class="table table-striped" aria-describedby="health-page-heading">
      <thead>
        <tr>
          <th scope="col">Service Name</th>
          <th scope="col" class="text-center">Status</th>
          <th scope="col" class="text-center">Details</th>
        </tr>
      </thead>
      <tbody *ngIf="health">
        <tr *ngFor="let componentHealth of health.components | keyvalue">
          <td>
            <span class="text-capitalize">{{ componentHealth.key }}</span>
          </td>
          <td class="text-center">
            <span class="badge" [ngClass]="getBadgeClass(componentHealth.value!.status)">
              {{ componentHealth.value!.status }}
            </span>
          </td>
          <td class="text-center">
            <a
              class="hand"
              (click)="showHealth({ key: componentHealth.key, value: componentHealth.value! })"
              *ngIf="componentHealth.value!.details"
            >
              <fa-icon icon="eye"></fa-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
