<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="rouDepreciationPostingReportItem">
      <h2 data-cy="rouDepreciationPostingReportItemDetailsHeading"><span>Rou Depreciation Posting Report Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ rouDepreciationPostingReportItem.id }}</span>
        </dd>
        <dt><span>Lease Contract Number</span></dt>
        <dd>
          <span>{{ rouDepreciationPostingReportItem.leaseContractNumber }}</span>
        </dd>
        <dt><span>Lease Description</span></dt>
        <dd>
          <span>{{ rouDepreciationPostingReportItem.leaseDescription }}</span>
        </dd>
        <dt><span>Fiscal Month Code</span></dt>
        <dd>
          <span>{{ rouDepreciationPostingReportItem.fiscalMonthCode }}</span>
        </dd>
        <dt><span>Account For Credit</span></dt>
        <dd>
          <span>{{ rouDepreciationPostingReportItem.accountForCredit }}</span>
        </dd>
        <dt><span>Account For Debit</span></dt>
        <dd>
          <span>{{ rouDepreciationPostingReportItem.accountForDebit }}</span>
        </dd>
        <dt><span>Depreciation Amount</span></dt>
        <dd>
          <span>{{ rouDepreciationPostingReportItem.depreciationAmount }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>
    </div>
  </div>
</div>
