<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="settlementCurrency">
      <h2 data-cy="settlementCurrencyDetailsHeading"><span>Settlement Currency</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ settlementCurrency.id }}</span>
        </dd>
        <dt><span>Iso 4217 Currency Code</span></dt>
        <dd>
          <span>{{ settlementCurrency.iso4217CurrencyCode }}</span>
        </dd>
        <dt><span>Currency Name</span></dt>
        <dd>
          <span>{{ settlementCurrency.currencyName }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <span>{{ settlementCurrency.country }}</span>
        </dd>
        <dt><span>Numeric Code</span></dt>
        <dd>
          <span>{{ settlementCurrency.numericCode }}</span>
        </dd>
        <dt><span>Minor Unit</span></dt>
        <dd>
          <span>{{ settlementCurrency.minorUnit }}</span>
        </dd>
        <dt><span>File Upload Token</span></dt>
        <dd>
          <span>{{ settlementCurrency.fileUploadToken }}</span>
        </dd>
        <dt><span>Compilation Token</span></dt>
        <dd>
          <span>{{ settlementCurrency.compilationToken }}</span>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of settlementCurrency.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/settlement-currency', settlementCurrency.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
