<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="kenyanCurrencyDenomination">
      <h2 data-cy="kenyanCurrencyDenominationDetailsHeading"><span>Kenyan Currency Denomination</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ kenyanCurrencyDenomination.id }}</span>
        </dd>
        <dt><span>Currency Denomination Code</span></dt>
        <dd>
          <span>{{ kenyanCurrencyDenomination.currencyDenominationCode }}</span>
        </dd>
        <dt><span>Currency Denomination Type</span></dt>
        <dd>
          <span>{{ kenyanCurrencyDenomination.currencyDenominationType }}</span>
        </dd>
        <dt><span>Currency Denomination Type Details</span></dt>
        <dd>
          <span>{{ kenyanCurrencyDenomination.currencyDenominationTypeDetails }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/kenyan-currency-denomination', kenyanCurrencyDenomination.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
