<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="prepayment-account-detail page">
  <div *ngIf="prepaymentAccount" class="detail-shell">
    <div class="heading-row">
      <div>
        <h2 data-cy="prepaymentAccountDetailsHeading">Prepayment Account</h2>
        <div class="summary-line">
          <span *ngIf="prepaymentAccount.catalogueNumber">Catalogue {{ prepaymentAccount.catalogueNumber }}</span>
          <span *ngIf="prepaymentAccount.particulars">{{ prepaymentAccount.particulars }}</span>
          <span *ngIf="prepaymentAccount.prepaymentGuid">GUID {{ prepaymentAccount.prepaymentGuid }}</span>
        </div>
      </div>
      <div class="button-row">
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>
        <button type="button" (click)="editButtonEvent(prepaymentAccount)" [routerLink]="['/prepayment-account', prepaymentAccount.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
        <button type="button" (click)="copyButtonEvent(prepaymentAccount)" [routerLink]="['/prepayment-account', prepaymentAccount.id, 'copy']" class="btn btn-primary">
          <fa-icon icon="copy"></fa-icon>&nbsp;<span>Copy</span>
        </button>
      </div>
    </div>

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <div class="detail-grid">
      <section class="detail-panel">
        <h3>Account Details</h3>
        <dl class="field-grid">
          <div><dt>ID</dt><dd>{{ prepaymentAccount.id }}</dd></div>
          <div><dt>Recognition Date</dt><dd>{{ prepaymentAccount.recognitionDate | formatMediumDate }}</dd></div>
          <div><dt>Posting Date</dt><dd>{{ prepaymentAccount.postingDate | formatMediumDate }}</dd></div>
          <div><dt>Prepayment Amount</dt><dd>{{ prepaymentAccount.prepaymentAmount | currency }}</dd></div>
          <div><dt>Settlement Currency</dt><dd><a *ngIf="prepaymentAccount.settlementCurrency" [routerLink]="['/settlement-currency', prepaymentAccount.settlementCurrency?.id, 'view']">{{ prepaymentAccount.settlementCurrency?.iso4217CurrencyCode }}</a></dd></div>
          <div><dt>Prepayment Transaction</dt><dd><a *ngIf="prepaymentAccount.prepaymentTransaction" [routerLink]="['/settlement', prepaymentAccount.prepaymentTransaction?.id, 'view']">{{ prepaymentAccount.prepaymentTransaction?.paymentNumber }}</a></dd></div>
          <div><dt>Service Outlet</dt><dd><a *ngIf="prepaymentAccount.serviceOutlet" [routerLink]="['/service-outlet', prepaymentAccount.serviceOutlet?.id, 'view']">{{ prepaymentAccount.serviceOutlet?.outletCode }}</a></dd></div>
          <div><dt>Dealer</dt><dd><a *ngIf="prepaymentAccount.dealer" [routerLink]="['/dealer', prepaymentAccount.dealer?.id, 'view']">{{ prepaymentAccount.dealer?.dealerName }}</a></dd></div>
          <div><dt>Debit Account</dt><dd><a *ngIf="prepaymentAccount.debitAccount" [routerLink]="['/transaction-account', prepaymentAccount.debitAccount?.id, 'view']">{{ prepaymentAccount.debitAccount?.accountName }}</a></dd></div>
          <div><dt>Transfer Account</dt><dd><a *ngIf="prepaymentAccount.transferAccount" [routerLink]="['/transaction-account', prepaymentAccount.transferAccount?.id, 'view']">{{ prepaymentAccount.transferAccount?.accountName }}</a></dd></div>
          <div class="wide"><dt>Notes</dt><dd>{{ prepaymentAccount.notes }}</dd></div>
        </dl>
      </section>

      <section class="detail-panel">
        <h3>Related Documents</h3>
        <div class="document-toolbar">
          <span *ngIf="loadingDocuments">Loading documents...</span>
          <span *ngIf="!loadingDocuments && !relatedBusinessDocuments.length">No related business documents were found.</span>
        </div>
        <div class="document-list" *ngIf="relatedBusinessDocuments.length">
          <button
            type="button"
            class="document-link"
            *ngFor="let businessDocument of relatedBusinessDocuments; trackBy: trackBusinessDocument"
            (click)="selectBusinessDocument(businessDocument)"
            [class.active]="selectedBusinessDocument?.id === businessDocument.id"
          >
            {{ businessDocument.documentTitle }}
          </button>
        </div>
        <div class="document-preview" *ngIf="documentPreviewUrl">
          <div class="preview-header">{{ documentPreviewTitle }}</div>
          <iframe [src]="documentPreviewUrl" title="Business document preview"></iframe>
        </div>
      </section>
    </div>

    <section class="detail-panel secondary-panel">
      <h3>Supporting Data</h3>
      <dl class="field-grid compact-grid">
        <div><dt>Created By</dt><dd>{{ prepaymentAccount.createdBy?.applicationIdentity }}</dd></div>
        <div><dt>Placeholder</dt><dd><span *ngFor="let placeholder of prepaymentAccount.placeholders; let last = last"><a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a>{{ last ? '' : ', ' }}</span></dd></div>
        <div><dt>General Parameters</dt><dd><span *ngFor="let generalParameters of prepaymentAccount.generalParameters; let last = last"><a [routerLink]="['/universally-unique-mapping', generalParameters?.id, 'view']">{{ generalParameters.universalKey }}: {{ generalParameters.mappedValue }}</a>{{ last ? '' : ', ' }}</span></dd></div>
        <div><dt>Prepayment Parameters</dt><dd><span *ngFor="let prepaymentParameters of prepaymentAccount.prepaymentParameters; let last = last"><a [routerLink]="['/prepayment-mapping', prepaymentParameters?.id, 'view']">{{ prepaymentParameters.parameterKey }}:{{ prepaymentParameters.parameter }}</a>{{ last ? '' : ', ' }}</span></dd></div>
      </dl>
    </section>
  </div>
</div>
