<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="remittanceFlag">
      <h2 data-cy="remittanceFlagDetailsHeading"><span>Remittance Flag</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ remittanceFlag.id }}</span>
        </dd>
        <dt><span>Remittance Type Flag</span></dt>
        <dd>
          <span>{{ remittanceFlag.remittanceTypeFlag }}</span>
        </dd>
        <dt><span>Remittance Type</span></dt>
        <dd>
          <span>{{ remittanceFlag.remittanceType }}</span>
        </dd>
        <dt><span>Remittance Type Details</span></dt>
        <dd>
          <span>{{ remittanceFlag.remittanceTypeDetails }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/remittance-flag', remittanceFlag.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
