<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div>
  <h2 id="page-heading" data-cy="TransactionDetailsHeading">
    <span>Transaction Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transaction-details"
        [routerLink]="['/transaction-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Transaction Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="transactionDetails?.length === 0">
    <span>No transactionDetails found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="transactionDetails && transactionDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="entryId"><span>Entry Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="transactionDate"><span>Transaction Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description"><span>Description</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="amount"><span>Amount</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdAt"><span>Created At</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="modifiedAt"><span>Modified At</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="transactionType">
            <span>Transaction Type</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="debitAccount.accountNumber"><span>Debit Account</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="creditAccount.accountNumber"><span>Credit Account</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="postedBy.applicationIdentity"><span>Posted By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transactionDetails of transactionDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/transaction-details', transactionDetails.id, 'view']">{{ transactionDetails.id }}</a>
          </td>
          <td>{{ transactionDetails.entryId }}</td>
          <td>{{ transactionDetails.transactionDate | formatMediumDate }}</td>
          <td>{{ transactionDetails.description }}</td>
          <td>{{ transactionDetails.amount | currency }}</td>
          <td>{{ transactionDetails.createdAt | formatMediumDatetime }}</td>
          <td>{{ transactionDetails.modifiedAt | formatMediumDatetime }}</td>
          <td>{{ transactionDetails.transactionType }}</td>
          <td>
            <div *ngIf="transactionDetails.debitAccount">
              <a [routerLink]="['/transaction-account', transactionDetails.debitAccount?.id, 'view']">{{
                transactionDetails.debitAccount?.accountNumber
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="transactionDetails.creditAccount">
              <a [routerLink]="['/transaction-account', transactionDetails.creditAccount?.id, 'view']">{{
                transactionDetails.creditAccount?.accountNumber
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="transactionDetails.postedBy">
              <a [routerLink]="['/application-user', transactionDetails.postedBy?.id, 'view']">{{
                transactionDetails.postedBy?.applicationIdentity
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/transaction-details', transactionDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/transaction-details', transactionDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(transactionDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="transactionDetails && transactionDetails.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
