<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.8
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="placeholder">
      <h2 data-cy="placeholderDetailsHeading"><span>Placeholder</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ placeholder.id }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ placeholder.description }}</span>
        </dd>
        <dt><span>Token</span></dt>
        <dd>
          <span>{{ placeholder.token }}</span>
        </dd>
        <dt><span>File Upload Token</span></dt>
        <dd>
          <span>{{ placeholder.fileUploadToken }}</span>
        </dd>
        <dt><span>Compilation Token</span></dt>
        <dd>
          <span>{{ placeholder.compilationToken }}</span>
        </dd>
        <dt><span>Containing Placeholder</span></dt>
        <dd>
          <div *ngIf="placeholder.containingPlaceholder">
            <a [routerLink]="['/placeholder', placeholder.containingPlaceholder?.id, 'view']">{{
              placeholder.containingPlaceholder?.description
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/placeholder', placeholder.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
