<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-settlement-heading" data-cy="SettlementCreateUpdateHeading" [hidden]='!weAreEditingAPayment'>Editing {{ selectedSettlement.paymentNumber }}; {{ selectedSettlement.paymentDate | formatMediumDate  }}</h2>
      <h2 id="jhi-settlement-heading-copy" data-cy="SettlementCreateUpdateHeading" [hidden]='!weAreCopyingAPayment'>Copying {{ selectedSettlement.paymentNumber }}; {{ selectedSettlement.paymentDate | formatMediumDate  }}</h2>
      <h2 id="jhi-settlement-heading-create" data-cy="SettlementCreateUpdateHeading" [hidden]='!weAreCreatingAPayment'>New Settlement</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <jhi-m21-payment-category-form-control
          ngDefaultControl
          formControlName='paymentCategory'
          [inputValue]="editForm.get('paymentCategory')!.value"
          (valueSelected)='updatePaymentCategory($event)'
          inputControlLabel='Payment Category (Required)'
        >
          <option [ngValue]="editForm.get('paymentCategory')!.value"></option>
        </jhi-m21-payment-category-form-control>

        <div class="form-group">
          <label class="form-control-label" for="field_paymentNumber">Payment Number</label>
          <input
            type="text"
            class="form-control"
            name="paymentNumber"
            id="field_paymentNumber"
            data-cy="paymentNumber"
            formControlName="paymentNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_paymentDate">Payment Date</label>
          <div class="input-group">
            <input
              id="field_paymentDate"
              data-cy="paymentDate"
              type="text"
              class="form-control"
              name="paymentDate"
              ngbDatepicker
              #paymentDateDp="ngbDatepicker"
              formControlName="paymentDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="paymentDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <jhi-m2m-payment-invoice-form-control
          ngDefaultControl
          formControlName='invoiceNumber'
          [inputValues]="editForm.get(['paymentInvoices'])!.value"
          (valueSelected)='updatePaymentInvoices($event)'
          inputControlLabel='Invoices'
        >
        </jhi-m2m-payment-invoice-form-control>

        <jhi-m21-settlement-currency-form-control
          ngDefaultControl
          formControlName='settlementCurrency'
          [inputValue]="editForm.get(['settlementCurrency'])!.value"
          (valueSelected)='updateCurrencies($event)'
          inputControlLabel='Currency Code (Required)'
        >
          <option [ngValue]="editForm.get(['settlementCurrency'])!.value"></option>
        </jhi-m21-settlement-currency-form-control>

        <div class="form-group">
          <label class="form-control-label" for="field_paymentAmount">Payment Amount</label>
          <input
            type="number"
            class="form-control"
            name="paymentAmount"
            id="field_paymentAmount"
            data-cy="paymentAmount"
            formControlName="paymentAmount"
          />
        </div>

        <jhi-m2m-payment-label-form-control
          ngDefaultControl
          formControlName='paymentLabels'
          [inputValues]="editForm.get(['paymentLabels'])!.value"
          (selectedValues)='updatePaymentLabels($event)'
          inputControlLabel='Payment Labels'
        >
        </jhi-m2m-payment-label-form-control>

        <div class="form-group">
          <label class="form-control-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <jhi-m21-dealer-form-control
          ngDefaultControl
          formControlName='biller'
          [inputValue]="editForm.get('biller')!.value"
          (valueSelected)='updateDealer($event)'
          inputControlLabel=Biller
        >
          <option [ngValue]="editForm.get('biller')!.value"></option>
        </jhi-m21-dealer-form-control>

        <jhi-m2m-dealer-form-control
          ngDefaultControl
          formControlName='signatories'
          [inputValues]="editForm.get(['signatories'])!.value"
          (valueSelected)='updateSignatories($event)'
          inputControlLabel='Signatories'
        >
        </jhi-m2m-dealer-form-control>

        <jhi-m2m-business-document-form-control
          ngDefaultControl
          formControlName='businessDocuments'
          [inputValues]="editForm.get(['businessDocuments'])!.value"
          (selectedValues)='updateBusinessDocument($event)'
          inputControlLabel='Business Document Attachments'
        >
        </jhi-m2m-business-document-form-control>

        <div class="form-group">
          <label class="form-control-label" for="field_notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_calculationFile">Calculation File</label>
          <div>
            <div *ngIf="editForm.get('calculationFile')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-left"
                (click)="openFile(editForm.get('calculationFile')!.value, editForm.get('calculationFileContentType')!.value)"
                >open</a
              ><br />
              <span class="pull-left"
                >{{ editForm.get('calculationFileContentType')!.value }}, {{ byteSize(editForm.get('calculationFile')!.value) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ calculationFile: null }); editForm.patchValue({ calculationFileContentType: null })"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_calculationFile"
              data-cy="calculationFile"
              (change)="setFileData($event, 'calculationFile', false)"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="calculationFile"
            id="field_calculationFile"
            data-cy="calculationFile"
            formControlName="calculationFile"
          />
          <input
            type="hidden"
            class="form-control"
            name="calculationFileContentType"
            id="field_calculationFileContentType"
            formControlName="calculationFileContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_remarks">Remarks</label>
          <textarea class="form-control" name="remarks" id="field_remarks" data-cy="remarks" formControlName="remarks"></textarea>
        </div>

        <jhi-m2m-placeholder-form-control
          ngDefaultControl
          formControlName='placeholders'
          [inputValues]="editForm.get(['placeholders'])!.value"
          (selectedValues)='updatePlaceholders($event)'
          inputControlLabel='Placeholder Items'
        >
        </jhi-m2m-placeholder-form-control>

        <jhi-m21-settlement-form-control
          ngDefaultControl
          formControlName='groupSettlement'
          [inputValue]="editForm.get('groupSettlement')!.value"
          (valueSelected)='updateSettlementGroup($event)'
          inputControlLabel='Settlement Group'
        >
        </jhi-m21-settlement-form-control>

        <div class="form-group">
          <label class="form-control-label" for="field_fileUploadToken">File Upload Token</label>
          <input
            type="text"
            class="form-control"
            name="fileUploadToken"
            id="field_fileUploadToken"
            data-cy="fileUploadToken"
            formControlName="fileUploadToken"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_compilationToken">Compilation Token</label>
          <input
            type="text"
            class="form-control"
            name="compilationToken"
            id="field_compilationToken"
            data-cy="compilationToken"
            formControlName="compilationToken"
          />
        </div>

      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="create-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
          [hidden]='!weAreCreatingAPayment'
          (click)='save()'
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>

        <button
          type="submit"
          id="edit-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
          [hidden]='!weAreEditingAPayment'
          (click)="edit()"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Edit: {{ selectedSettlement.paymentNumber }}; {{ selectedSettlement.paymentDate | formatMediumDate  }}</span>
        </button>

        <button
          type="button"
          id="copy-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
          [hidden]='!weAreCopyingAPayment'
          (click)="copy()"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Copy: {{ selectedSettlement.paymentNumber }}; {{ selectedSettlement.paymentDate | formatMediumDate  }}</span>
        </button>
      </div>
    </form>
  </div>
</div>
