<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div  [ngSwitch]="isAuthenticated()">
  <ul  class="navbar-nav ml-auto">
    <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic"
        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
          <span>
              <fa-icon icon="book-open"></fa-icon>
              <span>
                 Ledgers
              </span>
          </span>
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
        <li>
          <a
            class="dropdown-item"
            routerLink="report-date-param"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="navToAccountReportItems()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Account Report Items</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="transaction-account"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Transaction Accounts</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="transaction-account-ledger"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Account Ledger</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="transaction-details"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Transaction Details</span>
          </a>
        </li>

        <li>
          <a
            class="dropdown-item"
            routerLink="transaction-account-category"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Account Category</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="transaction-account-posting-process-type"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Account Posting Type</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="ta-amortization-rule"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Amortization Rules</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="ta-interest-paid-transfer-rule"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Interest Paid Transfer Rules</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="ta-lease-interest-accrual-rule"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Lease Interest Accrual Rules</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="ta-lease-recognition-rule"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Lease Recognition Rules</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="ta-lease-repayment-rule"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Lease Repayment Rules</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="ta-recognition-rou-rule"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>ROU Recognition Rules</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="ta-compilation-request"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Compilation Request</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
