node_modules/
logs/
delete.*
target/
.env
business-documents/
env.txt
reports-directory/
kafka-queue/
kafka-dev-queue/
search-index-directory/
search-index-dev-directory/
zookeeper-data/
zookeeper-dev-data/
zookeeper-dev-logs/
zookeeper-logs/
postgresql-data/
