<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="channelType">
      <h2 data-cy="channelTypeDetailsHeading"><span>Channel Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ channelType.id }}</span>
        </dd>
        <dt><span>Channels Type Code</span></dt>
        <dd>
          <span>{{ channelType.channelsTypeCode }}</span>
        </dd>
        <dt><span>Channel Types</span></dt>
        <dd>
          <span>{{ channelType.channelTypes }}</span>
        </dd>
        <dt><span>Channel Type Details</span></dt>
        <dd>
          <span>{{ channelType.channelTypeDetails }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/channel-type', channelType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
