<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="fxCustomerType">
      <h2 data-cy="fxCustomerTypeDetailsHeading"><span>Fx Customer Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ fxCustomerType.id }}</span>
        </dd>
        <dt><span>Foreign Exchange Customer Type Code</span></dt>
        <dd>
          <span>{{ fxCustomerType.foreignExchangeCustomerTypeCode }}</span>
        </dd>
        <dt><span>Foreign Customer Type</span></dt>
        <dd>
          <span>{{ fxCustomerType.foreignCustomerType }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/fx-customer-type', fxCustomerType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
