name: Application CI
on: [push, pull_request]
jobs:
    pipeline:
        name: ERP System pipeline
        runs-on: ubuntu-latest
        if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.pull_request.title, '[skip ci]') && !contains(github.event.pull_request.title, '[ci skip]')"
        timeout-minutes: 40
        env:
            NODE_VERSION: 14.17.6
            SPRING_OUTPUT_ANSI_ENABLED: DETECT
            SPRING_JPA_SHOW_SQL: false
            JHI_DISABLE_WEBPACK_LOGS: true
            NG_CLI_ANALYTICS: false
            ERP_SYSTEM_PROD_DB: "${{ secrets.ERP_SYSTEM_PROD_DB }}"
            SPRING_DATA_JEST_URI: "${{ secrets.SPRING_DATA_JEST_URI }}"
            ERP_SYSTEM_DEV_DB: "${{ secrets.ERP_SYSTEM_DEV_DB }}"
            ERP_SYSTEM_PORT: "${{ secrets.ERP_SYSTEM_PORT }}"
            PG_DATABASE_DEV_USER: "${{ secrets.PG_DATABASE_DEV_USER }}"
            PG_DATABASE_PROD_USER: "${{ secrets.PG_DATABASE_PROD_USER }}"
            PG_DATABASE_DEV_PASSWORD: "${{ secrets.PG_DATABASE_DEV_PASSWORD }}"
            PG_DATABASE_PROD_PASSWORD: "${{ secrets.PG_DATABASE_PROD_PASSWORD }}"
            LOCAL_PG_SERVER: "${{ secrets.LOCAL_PG_SERVER }}"
            ERP_SYSTEM_DEV_PORT: "${{ secrets.ERP_SYSTEM_DEV_PORT }}"
            ERP_SYSTEM_PROD_PORT: "${{ secrets.ERP_SYSTEM_PROD_PORT }}"
            ERP_SYSTEM_PROD_MAIL_BASE_URL: "${{ secrets.ERP_SYSTEM_PROD_MAIL_BASE_URL }}"
            ERP_SYSTEM_DEV_MAIL_BASE_URL: "${{ secrets.ERP_SYSTEM_DEV_MAIL_BASE_URL }}"
            SECURITY_AUTHENTICATION_JWT_BASE64_SECRET: "${{ secrets.SECURITY_AUTHENTICATION_JWT_BASE64_SECRET }}"
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 14.17.6
            - uses: actions/setup-java@v2
              with:
                  distribution: 'temurin'
                  java-version: '11.x'
            - name: Install node.js packages
              run: npm install
            - name: Run backend test
              run: |
                  chmod +x mvnw
                  npm run ci:backend:test
            - name: Login to Docker hub
              uses: docker/login-action@v1
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
            - name: Build image
              run: ./mvnw -ntp package jib:dockerBuild -Pprod -DskipTests
            - name: Publish image
              run: docker push ghacupha/erp-system:1.2.1

