<!--

    Erp System - Mark X No 11 (Jehoiada Series) Client 1.7.9
    Copyright © 2021 - 2024 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-collateral-information-heading" data-cy="CollateralInformationCreateUpdateHeading">
        Create or edit a Collateral Information
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_reportingDate">Reporting Date</label>
          <div class="input-group">
            <input
              id="field_reportingDate"
              data-cy="reportingDate"
              type="text"
              class="form-control"
              name="reportingDate"
              ngbDatepicker
              #reportingDateDp="ngbDatepicker"
              formControlName="reportingDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="reportingDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('reportingDate')!.invalid && (editForm.get('reportingDate')!.dirty || editForm.get('reportingDate')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('reportingDate')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_collateralId">Collateral Id</label>
          <input
            type="text"
            class="form-control"
            name="collateralId"
            id="field_collateralId"
            data-cy="collateralId"
            formControlName="collateralId"
          />
          <div
            *ngIf="editForm.get('collateralId')!.invalid && (editForm.get('collateralId')!.dirty || editForm.get('collateralId')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('collateralId')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_loanContractId">Loan Contract Id</label>
          <input
            type="text"
            class="form-control"
            name="loanContractId"
            id="field_loanContractId"
            data-cy="loanContractId"
            formControlName="loanContractId"
          />
          <div
            *ngIf="
              editForm.get('loanContractId')!.invalid && (editForm.get('loanContractId')!.dirty || editForm.get('loanContractId')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('loanContractId')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('loanContractId')?.errors?.pattern">
              This field should follow pattern for "Loan Contract Id".
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_customerId">Customer Id</label>
          <input
            type="text"
            class="form-control"
            name="customerId"
            id="field_customerId"
            data-cy="customerId"
            formControlName="customerId"
          />
          <div *ngIf="editForm.get('customerId')!.invalid && (editForm.get('customerId')!.dirty || editForm.get('customerId')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('customerId')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_registrationPropertyNumber">Registration Property Number</label>
          <input
            type="text"
            class="form-control"
            name="registrationPropertyNumber"
            id="field_registrationPropertyNumber"
            data-cy="registrationPropertyNumber"
            formControlName="registrationPropertyNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_collateralOMVInCCY">Collateral OMV In CCY</label>
          <input
            type="number"
            class="form-control"
            name="collateralOMVInCCY"
            id="field_collateralOMVInCCY"
            data-cy="collateralOMVInCCY"
            formControlName="collateralOMVInCCY"
          />
          <div
            *ngIf="
              editForm.get('collateralOMVInCCY')!.invalid &&
              (editForm.get('collateralOMVInCCY')!.dirty || editForm.get('collateralOMVInCCY')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('collateralOMVInCCY')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('collateralOMVInCCY')?.errors?.min">
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('collateralOMVInCCY')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_collateralFSVInLCY">Collateral FSV In LCY</label>
          <input
            type="number"
            class="form-control"
            name="collateralFSVInLCY"
            id="field_collateralFSVInLCY"
            data-cy="collateralFSVInLCY"
            formControlName="collateralFSVInLCY"
          />
          <div
            *ngIf="
              editForm.get('collateralFSVInLCY')!.invalid &&
              (editForm.get('collateralFSVInLCY')!.dirty || editForm.get('collateralFSVInLCY')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('collateralFSVInLCY')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('collateralFSVInLCY')?.errors?.min">
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('collateralFSVInLCY')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_collateralDiscountedValue">Collateral Discounted Value</label>
          <input
            type="number"
            class="form-control"
            name="collateralDiscountedValue"
            id="field_collateralDiscountedValue"
            data-cy="collateralDiscountedValue"
            formControlName="collateralDiscountedValue"
          />
          <div
            *ngIf="
              editForm.get('collateralDiscountedValue')!.invalid &&
              (editForm.get('collateralDiscountedValue')!.dirty || editForm.get('collateralDiscountedValue')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('collateralDiscountedValue')?.errors?.min">
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('collateralDiscountedValue')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_amountCharged">Amount Charged</label>
          <input
            type="number"
            class="form-control"
            name="amountCharged"
            id="field_amountCharged"
            data-cy="amountCharged"
            formControlName="amountCharged"
          />
          <div
            *ngIf="
              editForm.get('amountCharged')!.invalid && (editForm.get('amountCharged')!.dirty || editForm.get('amountCharged')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('amountCharged')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('amountCharged')?.errors?.min">
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('amountCharged')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_collateralDiscountRate">Collateral Discount Rate</label>
          <input
            type="number"
            class="form-control"
            name="collateralDiscountRate"
            id="field_collateralDiscountRate"
            data-cy="collateralDiscountRate"
            formControlName="collateralDiscountRate"
          />
          <div
            *ngIf="
              editForm.get('collateralDiscountRate')!.invalid &&
              (editForm.get('collateralDiscountRate')!.dirty || editForm.get('collateralDiscountRate')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('collateralDiscountRate')?.errors?.min">
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('collateralDiscountRate')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_loanToValueRatio">Loan To Value Ratio</label>
          <input
            type="number"
            class="form-control"
            name="loanToValueRatio"
            id="field_loanToValueRatio"
            data-cy="loanToValueRatio"
            formControlName="loanToValueRatio"
          />
          <div
            *ngIf="
              editForm.get('loanToValueRatio')!.invalid &&
              (editForm.get('loanToValueRatio')!.dirty || editForm.get('loanToValueRatio')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('loanToValueRatio')?.errors?.min">
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('loanToValueRatio')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nameOfPropertyValuer">Name Of Property Valuer</label>
          <input
            type="text"
            class="form-control"
            name="nameOfPropertyValuer"
            id="field_nameOfPropertyValuer"
            data-cy="nameOfPropertyValuer"
            formControlName="nameOfPropertyValuer"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_collateralLastValuationDate">Collateral Last Valuation Date</label>
          <div class="input-group">
            <input
              id="field_collateralLastValuationDate"
              data-cy="collateralLastValuationDate"
              type="text"
              class="form-control"
              name="collateralLastValuationDate"
              ngbDatepicker
              #collateralLastValuationDateDp="ngbDatepicker"
              formControlName="collateralLastValuationDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="collateralLastValuationDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_insuredFlag">Insured Flag</label>
          <select class="form-control" name="insuredFlag" formControlName="insuredFlag" id="field_insuredFlag" data-cy="insuredFlag">
            <option [ngValue]="null"></option>
            <option *ngFor="let collateralInsuredFlagTypes of collateralInsuredFlagTypesValues" [value]="collateralInsuredFlagTypes">
              collateralInsuredFlagTypes
            </option>
          </select>
          <div *ngIf="editForm.get('insuredFlag')!.invalid && (editForm.get('insuredFlag')!.dirty || editForm.get('insuredFlag')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('insuredFlag')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nameOfInsurer">Name Of Insurer</label>
          <input
            type="text"
            class="form-control"
            name="nameOfInsurer"
            id="field_nameOfInsurer"
            data-cy="nameOfInsurer"
            formControlName="nameOfInsurer"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_amountInsured">Amount Insured</label>
          <input
            type="number"
            class="form-control"
            name="amountInsured"
            id="field_amountInsured"
            data-cy="amountInsured"
            formControlName="amountInsured"
          />
          <div
            *ngIf="
              editForm.get('amountInsured')!.invalid && (editForm.get('amountInsured')!.dirty || editForm.get('amountInsured')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('amountInsured')?.errors?.min">
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('amountInsured')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_insuranceExpiryDate">Insurance Expiry Date</label>
          <div class="input-group">
            <input
              id="field_insuranceExpiryDate"
              data-cy="insuranceExpiryDate"
              type="text"
              class="form-control"
              name="insuranceExpiryDate"
              ngbDatepicker
              #insuranceExpiryDateDp="ngbDatepicker"
              formControlName="insuranceExpiryDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="insuranceExpiryDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_guaranteeInsurers">Guarantee Insurers</label>
          <input
            type="text"
            class="form-control"
            name="guaranteeInsurers"
            id="field_guaranteeInsurers"
            data-cy="guaranteeInsurers"
            formControlName="guaranteeInsurers"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_bankCode">Bank Code</label>
          <select class="form-control" id="field_bankCode" data-cy="bankCode" name="bankCode" formControlName="bankCode">
            <option *ngIf="!editForm.get('bankCode')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                institutionCodeOption.id === editForm.get('bankCode')!.value?.id ? editForm.get('bankCode')!.value : institutionCodeOption
              "
              *ngFor="let institutionCodeOption of institutionCodesSharedCollection; trackBy: trackInstitutionCodeById"
            >
              {{ institutionCodeOption.institutionName }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['bankCode'])!.invalid && (editForm.get(['bankCode'])!.dirty || editForm.get(['bankCode'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['bankCode'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_branchCode">Branch Code</label>
          <select class="form-control" id="field_branchCode" data-cy="branchCode" name="branchCode" formControlName="branchCode">
            <option *ngIf="!editForm.get('branchCode')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                bankBranchCodeOption.id === editForm.get('branchCode')!.value?.id ? editForm.get('branchCode')!.value : bankBranchCodeOption
              "
              *ngFor="let bankBranchCodeOption of bankBranchCodesSharedCollection; trackBy: trackBankBranchCodeById"
            >
              {{ bankBranchCodeOption.branchCode }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['branchCode'])!.invalid && (editForm.get(['branchCode'])!.dirty || editForm.get(['branchCode'])!.touched)"
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['branchCode'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_collateralType">Collateral Type</label>
          <select
            class="form-control"
            id="field_collateralType"
            data-cy="collateralType"
            name="collateralType"
            formControlName="collateralType"
          >
            <option *ngIf="!editForm.get('collateralType')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                collateralTypeOption.id === editForm.get('collateralType')!.value?.id
                  ? editForm.get('collateralType')!.value
                  : collateralTypeOption
              "
              *ngFor="let collateralTypeOption of collateralTypesSharedCollection; trackBy: trackCollateralTypeById"
            >
              {{ collateralTypeOption.collateralType }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['collateralType'])!.invalid &&
            (editForm.get(['collateralType'])!.dirty || editForm.get(['collateralType'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['collateralType'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_countyCode">County Code</label>
          <select class="form-control" id="field_countyCode" data-cy="countyCode" name="countyCode" formControlName="countyCode">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                countySubCountyCodeOption.id === editForm.get('countyCode')!.value?.id
                  ? editForm.get('countyCode')!.value
                  : countySubCountyCodeOption
              "
              *ngFor="let countySubCountyCodeOption of countySubCountyCodesSharedCollection; trackBy: trackCountySubCountyCodeById"
            >
              {{ countySubCountyCodeOption.subCountyName }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
