<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="customerComplaintStatusType">
      <h2 data-cy="customerComplaintStatusTypeDetailsHeading"><span>Customer Complaint Status Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ customerComplaintStatusType.id }}</span>
        </dd>
        <dt><span>Customer Complaint Status Type Code</span></dt>
        <dd>
          <span>{{ customerComplaintStatusType.customerComplaintStatusTypeCode }}</span>
        </dd>
        <dt><span>Customer Complaint Status Type</span></dt>
        <dd>
          <span>{{ customerComplaintStatusType.customerComplaintStatusType }}</span>
        </dd>
        <dt><span>Customer Complaint Status Type Details</span></dt>
        <dd>
          <span>{{ customerComplaintStatusType.customerComplaintStatusTypeDetails }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/customer-complaint-status-type', customerComplaintStatusType.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
